/* Montserrat */

body {background-color: #ecf0f1; font-family: 'Open Sans', sans-serif;}

/* View */
.indev {border: 1px dotted #7e7e7e;}
.product_card {/* width: 230px; margin: 25px; padding: 1em; */ border: 1px solid #d3d3d3; background-color: #ffffff; /*height: 560px;*/ height: 615px; }

.product_card_app {width: 100%; margin: 0; padding: 0 .2em 0 .2em; background-color: #003366; color: #fff;}
.product_card_img_new {display: none; background-color: #f6851f; width: 40px; height: 30px;}

.product_card_head {}
.product_card_head h3, .product_card_head h4, .product_card_head h5 {margin: .1em 0 .1em 0;}
.product_card_head h3 a {color: #f6851f; font-size: .8em; font-weight: 600;}
.product_card_head h4 {color: #003366; font-size: .9em; font-weight: 600;}
.product_card_head h5 {color: #7e7e7e; font-size: 1em;}


.product_card_details {}
.product_card_bullets {font-size: .8em;}
.product_card_bullets ul {margin-top: 1em; margin-left: 0; list-style-position: inside; padding-left: 0;}
.product_card_bullets ul li {margin-left: 0;}

.product_card_price {color: #003366; margin-right: 1em; text-align: right; width: 100%;}
.product_card_status {color: #7e7e7e; font-size: .8em; margin-right: 1em; text-align: right; width: 100%;}
.product_card_more {margin: 1em 0 1em 0; text-align: right;}

.dbprod_filter .btn {margin-right: 10px; margin-bottom: 10px;}

.product_table {background-color: #fff; padding: 2em;}

.ribbon {
    text-shadow: none;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: normal;
    line-height: 15px;
    color: #fff;
    font-weight: bold;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}
.ribbon-featured {background-color: #2980b9;}
.ribbon-new {background-color: #e67e22;}
.ribbon-comingsoon {background-color: #8e44ad;}
.ribbon-discontinued {background-color: #c0392b;}
.ribbon-active {background-color: #16a085;}
.ribbon-eol {background-color:#f1c40f;}

.btn-viewmore {color: #fff; background-color: #3498db; position: relative; top: 0px; left: 0px; right: 0px; bottom: 0px;}
.btn-viewmore:hover {text-decoration: underline;}

/* Product */
    tbody tr td:first-child {
      width: 12em;
      min-width: 12em;
      max-width: ssat;
      word-break: break-all;
    }

    .product_imgbull {width: 100%;}
    .product_image {float: left; width: 50%;}
    .product_image img {width: 400px; height: 400px; border: 2px solid #ededed;}
    .product_bullets {float: left; width: 50%; min-height: 400px;}

    .container {background-color: #fff; padding: 1em;}
    thead tr td {background-color: #34495e; color: #fff; font-weight: 500; text-transform: uppercase;}

    .tab-overview {margin-top: 2em;}
    .tab-specs {margin-top: 2em;}
