/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-simple-flame .panel-fp {
  border-color: #f1784c;
}
.p-form-simple-flame .panel-fp > .panel-heading {
  background-color: #ee5b26;
  border-color: #f1784c;
}
.p-form-simple-flame .panel-fp > .panel-body {
  background-color: #ed4d13;
}
.p-form-simple-flame .progress-bar-fp {
  background-color: #8f2e0b;
}
.p-form-simple-flame .btn.p-active-btn,
.p-form-simple-flame .btn:hover,
.p-form-simple-flame .btn:focus {
  background-color: #f1784c;
}
.p-form-simple-flame .radio label a,
.p-form-simple-flame .checkbox label a,
.p-form-simple-flame .p-switch label a,
.p-form-simple-flame .p-radioswitch label a {
  color: #8f2e0b;
}
.p-form-simple-flame .p-show-block-heading a {
  color: #8f2e0b;
}
.p-form-simple-flame .p-check-icon .p-check-middle {
  color: #f49472;
}
.p-form-simple-flame .p-check-bordered {
  border-color: #f06a39;
}
.p-form-simple-flame .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-simple-flame :checked ~ .p-check-highlight {
  background-color: #cd4210;
}
.p-form-simple-flame label:hover .p-check-active-icon,
.p-form-simple-flame .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-simple-flame label:hover .p-check-icon .p-check-middle,
.p-form-simple-flame .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #f1784c;
}
.p-form-simple-flame label:hover .p-check-icon .p-check-block,
.p-form-simple-flame .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #f1784c;
}
.p-form-simple-flame label:hover .p-switch-icon,
.p-form-simple-flame .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #f1784c;
}
.p-form-simple-flame label:hover .p-check-highlight,
.p-form-simple-flame .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #db4611;
}
.p-form-simple-flame label:hover .p-check-bordered,
.p-form-simple-flame .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #f8b8a1;
}
.p-form-simple-flame .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-simple-flame .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(143,46,11,0.7);
}
.p-form-simple-flame .p-picture-pick:hover .p-preview-name {
  background-color: rgba(181,58,14,0.7);
}
.p-form-simple-flame .p-show-block:checked + .p-show-block-heading:hover,
.p-form-simple-flame .p-show-block-heading:hover {
  color: #f1784c;
}
.p-form-simple-flame .p-picture-pick .p-switch-icon,
.p-form-simple-flame .p-picture-pick .p-check-block {
  background-color: #ed4d13;
}
.p-form-simple-flame .p-radio-color .p-color-block {
  border-color: #f1784c;
}
.p-form-simple-flame .p-form-bg,
.p-form-simple-flame .p-form {
  background: #ed4d13;
}
.p-form-simple-flame .p-colored-text {
  color: #8f2e0b;
}
.p-form-simple-flame .p-alt-colored-text {
  color: #f1784c;
}
.p-form-simple-flame .p-colored-link {
  color: #8f2e0b;
}
.p-form-simple-flame .p-colored-link:hover {
  color: #f1784c;
}
.p-form-simple-flame .p-action-link:hover {
  color: #f1784c;
}
.p-form-simple-flame hr {
  border-color: #f1784c;
}
.p-form-simple-flame hr.p-flat {
  border-color: #ee5b26;
}
.p-form-simple-flame .p-table > thead > tr > td,
.p-form-simple-flame .p-table > tbody > tr > td,
.p-form-simple-flame .p-table > tfoot > tr > td,
.p-form-simple-flame .p-table > thead > tr > th,
.p-form-simple-flame .p-table > tbody > tr > th,
.p-form-simple-flame .p-table > tfoot > tr > th {
  border-color: #f1784c;
}
.p-form-simple-flame .p-table.table-striped > thead {
  background-color: #ee5b26;
  border-color: #f1784c;
}
.p-form-simple-flame .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #ee5b26;
}
.p-form-simple-flame .p-table.table-bordered {
  border-color: #f1784c;
}
.p-form-simple-flame .p-table.table-bordered > thead > tr > td,
.p-form-simple-flame .p-table.table-bordered > tbody > tr > td,
.p-form-simple-flame .p-table.table-bordered > tfoot > tr > td,
.p-form-simple-flame .p-table.table-bordered > thead > tr > th,
.p-form-simple-flame .p-table.table-bordered > tbody > tr > th,
.p-form-simple-flame .p-table.table-bordered > tfoot > tr > th {
  border-color: #f1784c;
}
.p-form-simple-flame select.form-control option {
  background-color: #ed4d13;
}
.p-form-simple-flame .form-control:focus ~ .input-group-icon,
.p-form-simple-flame .form-control:hover ~ .input-group-icon,
.p-form-simple-flame .input-group:hover .input-group-icon,
.p-form-simple-flame .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-simple-flame .sp-input:focus ~ .input-group-icon,
.p-form-simple-flame .sp-input:hover ~ .input-group-icon,
.p-form-simple-flame .form-control:focus ~ .p-select-arrow,
.p-form-simple-flame .form-control:hover ~ .p-select-arrow,
.p-form-simple-flame .input-group:hover .p-select-arrow,
.p-form-simple-flame .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-simple-flame .sp-input:focus ~ .p-select-arrow,
.p-form-simple-flame .sp-input:hover ~ .p-select-arrow,
.p-form-simple-flame .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-flame .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-simple-flame .input-group:hover .input-group-addon .p-addon-bg,
.p-form-simple-flame .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-simple-flame .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-flame .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #f1784c;
  color: #f1784c;
}
.p-form-simple-flame .p-custom-arrow .p-select-arrow {
  background-color: #ed4d13;
}
.p-form-simple-flame .input-group-btn .btn:hover,
.p-form-simple-flame .input-group-btn .btn:focus,
.p-form-simple-flame .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #f1784c;
}
.p-form-simple-flame .p-no-preview {
  background-color: #f1784c;
  border-color: #ef6634;
}
.p-form-simple-flame .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #ed4d13;
}
.p-form-simple-flame .ui-autocomplete {
  background-color: #ed4d13;
}
.p-form-simple-flame .ui-autocomplete .ui-state-focus,
.p-form-simple-flame .ui-autocomplete .ui-state-active {
  background-color: rgba(255,255,255,0.1);
}
.p-form-simple-flame .sp-container {
  background-color: #b53a0e;
}
.p-form-simple-flame .sp-initial,
.p-form-simple-flame .sp-clear,
.p-form-simple-flame .sp-palette .sp-thumb-el {
  border-color: #ed4d13;
  color: #ed4d13;
}
.p-form-simple-flame .sp-clear:hover,
.p-form-simple-flame .sp-palette .sp-thumb-el:hover,
.p-form-simple-flame .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #7c280a;
  color: #7c280a;
}
.p-form-simple-flame .sp-clear:hover:after,
.p-form-simple-flame .sp-palette .sp-thumb-el:hover:after,
.p-form-simple-flame .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fef1ec;
}
.p-form-simple-flame .sp-choose,
.p-form-simple-flame .sp-cancel,
.p-form-simple-flame .sp-palette-toggle {
  color: #fef1ec;
}
.p-form-simple-flame .sp-choose:hover,
.p-form-simple-flame .sp-cancel:hover,
.p-form-simple-flame .sp-palette-toggle:hover,
.p-form-simple-flame .sp-choose:focus,
.p-form-simple-flame .sp-cancel:focus,
.p-form-simple-flame .sp-palette-toggle:focus,
.p-form-simple-flame .sp-choose:active,
.p-form-simple-flame .sp-cancel:active,
.p-form-simple-flame .sp-palette-toggle:active {
  color: #f49776;
}
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #f49472;
}
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #f49472;
  color: #f49472;
}
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #b53a0e;
  color: #b53a0e;
}
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #f9c7b4;
}
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-simple-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #f1784c;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget {
  background-color: #ee5b26;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #f48d68;
  background-color: #7c2809;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table thead th {
  background-color: #7c2809;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table td div:hover,
.p-form-simple-flame .bootstrap-datetimepicker-widget table td span:hover {
  color: #c74010;
  background-color: #f2865f;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table td a,
.p-form-simple-flame .bootstrap-datetimepicker-widget table td .btn {
  color: #f6a385;
  background-color: transparent;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-flame .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-flame .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-flame .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #7c2809;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table .old,
.p-form-simple-flame .bootstrap-datetimepicker-widget table .new {
  color: #fac9b8;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table td .active,
.p-form-simple-flame .bootstrap-datetimepicker-widget table .active div {
  background-color: #7c2809;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(246,163,133,0);
  border-bottom-color: #f6a385;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-flame .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-flame .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-flame .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #f2865f;
  background-color: #ee5b26;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-flame .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #f2865f;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #b53a0d;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #ee5b26;
}
.p-form-simple-flame .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #7c2809;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #7c2809;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #7c2809;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #7c2809;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(246,163,133,0);
  border-bottom-color: #f6a385;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #f1784c;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #f1784c;
}
.p-form-simple-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #f1784c;
}
.p-form-simple-flame .p-js-link {
  color: #f6a385;
}
.p-form-simple-flame .p-js-link:hover,
.p-form-simple-flame .p-show-js-block .p-js-link:hover,
.p-form-simple-flame .p-field-toggled .p-js-link:hover,
.p-form-simple-flame .p-js-link:focus,
.p-form-simple-flame .p-show-js-block .p-js-link:focus,
.p-form-simple-flame .p-field-toggled .p-js-link:focus {
  color: #b53a0e;
}
.p-form-simple-flame .p-js-active-link,
.p-form-simple-flame .p-show-js-block .p-js-link,
.p-form-simple-flame .p-field-toggled .p-js-link {
  color: #8f2e0b;
}
.p-form-simple-flame .input-group .realperson-challenge .realperson-regen {
  color: #8f2e0b;
}
.p-form-simple-flame .input-group .realperson-challenge .realperson-regen:hover {
  color: #f1784c;
}
.p-form-simple-flame .input-group .realperson-challenge .realperson-text:hover {
  color: #8f2e0b;
}
.p-form-simple-flame .p-slider-block .p-js-value,
.p-form-simple-flame .p-sl-tip {
  background-color: #ed4d13;
  border-color: #b53a0e;
}
.p-form-simple-flame .p-sl-tip:before {
  border-color: rgba(181,58,14,0);
}
.p-form-simple-flame .ui-slider:before {
  border-color: #f6a385;
  background-color: #ed4d13;
}
.p-form-simple-flame .ui-slider-handle:after {
  background-color: #ed4d13;
}
.p-form-simple-flame .ui-slider-handle .p-sl-icon {
  color: #ed4d13;
}
.p-form-simple-flame .ui-slider-handle.ui-state-focus:after,
.p-form-simple-flame .ui-slider-handle.ui-state-active:after,
.p-form-simple-flame .ui-slider-handle.ui-state-hover:after {
  border-color: #b53a0e;
}
.p-form-simple-flame .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-simple-flame .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-simple-flame .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #b53a0e;
}
.p-form-simple-flame .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #b53a0e;
}
.p-form-simple-flame .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #b53a0e;
}
.p-form-simple-flame .sl-v-simple .ui-slider:before {
  background-color: #f6a385;
}
.p-form-simple-flame .sl-v-modern .ui-slider:before,
.p-form-simple-flame .sl-v-bordered .ui-slider:before {
  border-color: #8f2e0b;
}
.p-form-simple-flame .sl-v-top .ui-slider:before {
  background-color: #f6a385;
}
.p-form-simple-flame .sl-v-flat .ui-slider:before {
  background-color: #f6a385;
}
.p-form-simple-flame .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #ed4d13;
}
.p-form-simple-flame .pt-form-cross-panel .p-switch-icon {
  background-color: #ed4d13;
}
.p-form-simple-flame .p-rating .p-field-cancel {
  color: #f49472;
}
.p-form-simple-flame .p-rating .p-rating-icon {
  color: #f49472;
}
.p-form-simple-flame .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #f49472;
}
.p-form-simple-flame .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-simple-flame .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-simple-flame .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #fff;
}
.p-form-simple-flame .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #fff;
}
.p-form-simple-flame .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-simple-flame .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-simple-flame .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #f49472;
}
.p-form-simple-flame .p-form-steps:before {
  background-color: #f1784c;
}
.p-form-simple-flame .p-form-steps > li.active .p-step:before {
  background-color: #b53a0e;
}
.p-form-simple-flame .p-form-steps > li.active ~ li .p-step-text {
  background-color: #f1784c;
}
.p-form-simple-flame .p-step {
  color: #f06a39;
}
.p-form-simple-flame .p-step .p-step-text {
  background-color: #b53a0e;
}
.p-form-simple-flame .nav-tabs {
  border-color: #f1784c;
  background-color: #f1784c;
}
.p-form-simple-flame .nav-tabs > li > label:hover,
.p-form-simple-flame .nav-tabs > li > label:focus {
  background-color: #b53a0e;
}
.p-form-simple-flame .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-flame .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-flame .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-flame .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-flame .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-flame .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-flame .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-flame .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-flame .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-flame .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-flame .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-flame .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-flame .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-flame .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-flame .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #ed4d13;
}
.p-form-simple-flame .p-title-line,
.p-form-simple-flame .p-title-step-line,
.p-form-simple-flame .p-title-side {
  background-color: #f1784c;
}
.p-form-simple-flame .p-tooltip .p-tooltip-content {
  background-color: #b53a0e;
}
.p-form-simple-flame .p-tooltip .p-tooltip-content:after {
  border-color: rgba(181,58,14,0);
  border-top-color: #b53a0e;
}
.p-form-simple-flame .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-simple-flame .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-simple-flame .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(181,58,14,0);
  border-bottom-color: #b53a0e;
}
.p-form-simple-flame .p-bordered {
  border-color: #f1784c;
}
.p-form-simple-flame .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-flame .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-flame .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #ed4d13;
}
.p-form-simple-flame .p-tabs-offset > .nav-tabs > li > label {
  background-color: #f06a39;
}
.p-form-simple-flame .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-simple-flame .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #f1784c;
}
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-flame .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #ed4d13;
}
.p-form-simple-flame .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #f1784c;
}
.p-form-simple-flame .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #f1784c;
}
.p-form-simple-flame .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #f1784c;
}
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #f1784c;
}
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-simple-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #f1784c;
}
.p-form-simple-flame .p-alt-back,
.p-form-simple-flame .p-alt-back .p-form-bg {
  background-color: #ed3113;
}
.p-form-simple-flame .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #ed3113;
}
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #ed3113;
}
.p-form-simple-flame .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-simple-flame .p-alt-back .p-table.table-striped > thead {
  background-color: #e02d11;
}
.p-form-simple-flame .p-alt-back .panel-fp > .panel-heading {
  background-color: #e02d11;
}
.p-form-simple-flame .p-alt-back .panel-fp > .panel-body {
  background-color: #ed3113;
}
.p-form-simple-flame .p-alt-back hr.p-flat {
  border-color: #e02d11;
}
.p-form-simple-flame .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #ed3113;
}
.p-form-simple-flame .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-simple-flame .p-alt-back .p-picture-pick .p-check-block {
  background-color: #ed3113;
}
.p-form-simple-flame .p-bordered > .nav-tabs {
  border-color: #f1784c;
}
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-flame .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #ed3113;
}
.p-form-simple-flame .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-simple-flame .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #ed3113;
}
