/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-simple-extra1color3 .panel-fp {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .panel-fp > .panel-heading {
  background-color: #00b9a6;
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .panel-fp > .panel-body {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .progress-bar-fp {
  background-color: #003f39;
}
.p-form-simple-extra1color3 .btn.p-active-btn,
.p-form-simple-extra1color3 .btn:hover,
.p-form-simple-extra1color3 .btn:focus {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .radio label a,
.p-form-simple-extra1color3 .checkbox label a,
.p-form-simple-extra1color3 .p-switch label a,
.p-form-simple-extra1color3 .p-radioswitch label a {
  color: #003f39;
}
.p-form-simple-extra1color3 .p-show-block-heading a {
  color: #003f39;
}
.p-form-simple-extra1color3 .p-check-icon .p-check-middle {
  color: #0cffe6;
}
.p-form-simple-extra1color3 .p-check-bordered {
  border-color: #00ceb9;
}
.p-form-simple-extra1color3 .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-simple-extra1color3 :checked ~ .p-check-highlight {
  background-color: #008174;
}
.p-form-simple-extra1color3 label:hover .p-check-active-icon,
.p-form-simple-extra1color3 .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-simple-extra1color3 label:hover .p-check-icon .p-check-middle,
.p-form-simple-extra1color3 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #00e2cb;
}
.p-form-simple-extra1color3 label:hover .p-check-icon .p-check-block,
.p-form-simple-extra1color3 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 label:hover .p-switch-icon,
.p-form-simple-extra1color3 .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 label:hover .p-check-highlight,
.p-form-simple-extra1color3 .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #009182;
}
.p-form-simple-extra1color3 label:hover .p-check-bordered,
.p-form-simple-extra1color3 .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #3fffeb;
}
.p-form-simple-extra1color3 .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-simple-extra1color3 .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(0,63,57,0.7);
}
.p-form-simple-extra1color3 .p-picture-pick:hover .p-preview-name {
  background-color: rgba(0,104,93,0.7);
}
.p-form-simple-extra1color3 .p-show-block:checked + .p-show-block-heading:hover,
.p-form-simple-extra1color3 .p-show-block-heading:hover {
  color: #00e2cb;
}
.p-form-simple-extra1color3 .p-picture-pick .p-switch-icon,
.p-form-simple-extra1color3 .p-picture-pick .p-check-block {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .p-radio-color .p-color-block {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-form-bg,
.p-form-simple-extra1color3 .p-form {
  background: #00a594;
}
.p-form-simple-extra1color3 .p-colored-text {
  color: #003f39;
}
.p-form-simple-extra1color3 .p-alt-colored-text {
  color: #00e2cb;
}
.p-form-simple-extra1color3 .p-colored-link {
  color: #003f39;
}
.p-form-simple-extra1color3 .p-colored-link:hover {
  color: #00e2cb;
}
.p-form-simple-extra1color3 .p-action-link:hover {
  color: #00e2cb;
}
.p-form-simple-extra1color3 hr {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 hr.p-flat {
  border-color: #00b9a6;
}
.p-form-simple-extra1color3 .p-table > thead > tr > td,
.p-form-simple-extra1color3 .p-table > tbody > tr > td,
.p-form-simple-extra1color3 .p-table > tfoot > tr > td,
.p-form-simple-extra1color3 .p-table > thead > tr > th,
.p-form-simple-extra1color3 .p-table > tbody > tr > th,
.p-form-simple-extra1color3 .p-table > tfoot > tr > th {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-table.table-striped > thead {
  background-color: #00b9a6;
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #00b9a6;
}
.p-form-simple-extra1color3 .p-table.table-bordered {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-table.table-bordered > thead > tr > td,
.p-form-simple-extra1color3 .p-table.table-bordered > tbody > tr > td,
.p-form-simple-extra1color3 .p-table.table-bordered > tfoot > tr > td,
.p-form-simple-extra1color3 .p-table.table-bordered > thead > tr > th,
.p-form-simple-extra1color3 .p-table.table-bordered > tbody > tr > th,
.p-form-simple-extra1color3 .p-table.table-bordered > tfoot > tr > th {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 select.form-control option {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .form-control:focus ~ .input-group-icon,
.p-form-simple-extra1color3 .form-control:hover ~ .input-group-icon,
.p-form-simple-extra1color3 .input-group:hover .input-group-icon,
.p-form-simple-extra1color3 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-simple-extra1color3 .sp-input:focus ~ .input-group-icon,
.p-form-simple-extra1color3 .sp-input:hover ~ .input-group-icon,
.p-form-simple-extra1color3 .form-control:focus ~ .p-select-arrow,
.p-form-simple-extra1color3 .form-control:hover ~ .p-select-arrow,
.p-form-simple-extra1color3 .input-group:hover .p-select-arrow,
.p-form-simple-extra1color3 .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-simple-extra1color3 .sp-input:focus ~ .p-select-arrow,
.p-form-simple-extra1color3 .sp-input:hover ~ .p-select-arrow,
.p-form-simple-extra1color3 .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-extra1color3 .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-simple-extra1color3 .input-group:hover .input-group-addon .p-addon-bg,
.p-form-simple-extra1color3 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-simple-extra1color3 .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-extra1color3 .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #00e2cb;
  color: #00e2cb;
}
.p-form-simple-extra1color3 .p-custom-arrow .p-select-arrow {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .input-group-btn .btn:hover,
.p-form-simple-extra1color3 .input-group-btn .btn:focus,
.p-form-simple-extra1color3 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-no-preview {
  background-color: #00e2cb;
  border-color: #00c9b4;
}
.p-form-simple-extra1color3 .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #00b3a0;
}
.p-form-simple-extra1color3 .ui-autocomplete {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .ui-autocomplete .ui-state-focus,
.p-form-simple-extra1color3 .ui-autocomplete .ui-state-active {
  background-color: rgba(255,255,255,0.1);
}
.p-form-simple-extra1color3 .sp-container {
  background-color: #00685d;
}
.p-form-simple-extra1color3 .sp-initial,
.p-form-simple-extra1color3 .sp-clear,
.p-form-simple-extra1color3 .sp-palette .sp-thumb-el {
  border-color: #00a594;
  color: #00a594;
}
.p-form-simple-extra1color3 .sp-clear:hover,
.p-form-simple-extra1color3 .sp-palette .sp-thumb-el:hover,
.p-form-simple-extra1color3 .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #002b26;
  color: #002b26;
}
.p-form-simple-extra1color3 .sp-clear:hover:after,
.p-form-simple-extra1color3 .sp-palette .sp-thumb-el:hover:after,
.p-form-simple-extra1color3 .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #ebfffd;
}
.p-form-simple-extra1color3 .sp-choose,
.p-form-simple-extra1color3 .sp-cancel,
.p-form-simple-extra1color3 .sp-palette-toggle {
  color: #ebfffd;
}
.p-form-simple-extra1color3 .sp-choose:hover,
.p-form-simple-extra1color3 .sp-cancel:hover,
.p-form-simple-extra1color3 .sp-palette-toggle:hover,
.p-form-simple-extra1color3 .sp-choose:focus,
.p-form-simple-extra1color3 .sp-cancel:focus,
.p-form-simple-extra1color3 .sp-palette-toggle:focus,
.p-form-simple-extra1color3 .sp-choose:active,
.p-form-simple-extra1color3 .sp-cancel:active,
.p-form-simple-extra1color3 .sp-palette-toggle:active {
  color: #6bffef;
}
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #0cffe6;
}
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #0cffe6;
  color: #0cffe6;
}
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #00685d;
  color: #00685d;
}
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #53ffed;
}
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-simple-extra1color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget {
  background-color: #00b9a6;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #02ffe5;
  background-color: #002b26;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table thead th {
  background-color: #002b26;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td div:hover,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td span:hover {
  color: #007c6f;
  background-color: #00f6dd;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td a,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td .btn {
  color: #20ffe8;
  background-color: transparent;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #002b26;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .old,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .new {
  color: #b3fff7;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table td .active,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .active div {
  background-color: #002b26;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(32,255,232,0);
  border-bottom-color: #20ffe8;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #00f6dd;
  background-color: #00b9a6;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #00f6dd;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #00685c;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #00b9a6;
}
.p-form-simple-extra1color3 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #002b26;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #002b26;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #002b26;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #002b26;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(32,255,232,0);
  border-bottom-color: #20ffe8;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #00e2cb;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #00e2cb;
}
.p-form-simple-extra1color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-js-link {
  color: #20ffe8;
}
.p-form-simple-extra1color3 .p-js-link:hover,
.p-form-simple-extra1color3 .p-show-js-block .p-js-link:hover,
.p-form-simple-extra1color3 .p-field-toggled .p-js-link:hover,
.p-form-simple-extra1color3 .p-js-link:focus,
.p-form-simple-extra1color3 .p-show-js-block .p-js-link:focus,
.p-form-simple-extra1color3 .p-field-toggled .p-js-link:focus {
  color: #00685d;
}
.p-form-simple-extra1color3 .p-js-active-link,
.p-form-simple-extra1color3 .p-show-js-block .p-js-link,
.p-form-simple-extra1color3 .p-field-toggled .p-js-link {
  color: #003f39;
}
.p-form-simple-extra1color3 .input-group .realperson-challenge .realperson-regen {
  color: #003f39;
}
.p-form-simple-extra1color3 .input-group .realperson-challenge .realperson-regen:hover {
  color: #00e2cb;
}
.p-form-simple-extra1color3 .input-group .realperson-challenge .realperson-text:hover {
  color: #003f39;
}
.p-form-simple-extra1color3 .p-slider-block .p-js-value,
.p-form-simple-extra1color3 .p-sl-tip {
  background-color: #00a594;
  border-color: #00685d;
}
.p-form-simple-extra1color3 .p-sl-tip:before {
  border-color: rgba(0,104,93,0);
}
.p-form-simple-extra1color3 .ui-slider:before {
  border-color: #20ffe8;
  background-color: #00a594;
}
.p-form-simple-extra1color3 .ui-slider-handle:after {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .ui-slider-handle .p-sl-icon {
  color: #00a594;
}
.p-form-simple-extra1color3 .ui-slider-handle.ui-state-focus:after,
.p-form-simple-extra1color3 .ui-slider-handle.ui-state-active:after,
.p-form-simple-extra1color3 .ui-slider-handle.ui-state-hover:after {
  border-color: #00685d;
}
.p-form-simple-extra1color3 .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-simple-extra1color3 .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-simple-extra1color3 .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #00685d;
}
.p-form-simple-extra1color3 .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #00685d;
}
.p-form-simple-extra1color3 .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #00685d;
}
.p-form-simple-extra1color3 .sl-v-simple .ui-slider:before {
  background-color: #20ffe8;
}
.p-form-simple-extra1color3 .sl-v-modern .ui-slider:before,
.p-form-simple-extra1color3 .sl-v-bordered .ui-slider:before {
  border-color: #003f39;
}
.p-form-simple-extra1color3 .sl-v-top .ui-slider:before {
  background-color: #20ffe8;
}
.p-form-simple-extra1color3 .sl-v-flat .ui-slider:before {
  background-color: #20ffe8;
}
.p-form-simple-extra1color3 .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .pt-form-cross-panel .p-switch-icon {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .p-rating .p-field-cancel {
  color: #0cffe6;
}
.p-form-simple-extra1color3 .p-rating .p-rating-icon {
  color: #0cffe6;
}
.p-form-simple-extra1color3 .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #0cffe6;
}
.p-form-simple-extra1color3 .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-simple-extra1color3 .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-simple-extra1color3 .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #fff;
}
.p-form-simple-extra1color3 .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #fff;
}
.p-form-simple-extra1color3 .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-simple-extra1color3 .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-simple-extra1color3 .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #0cffe6;
}
.p-form-simple-extra1color3 .p-form-steps:before {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-form-steps > li.active .p-step:before {
  background-color: #00685d;
}
.p-form-simple-extra1color3 .p-form-steps > li.active ~ li .p-step-text {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-step {
  color: #00ceb9;
}
.p-form-simple-extra1color3 .p-step .p-step-text {
  background-color: #00685d;
}
.p-form-simple-extra1color3 .nav-tabs {
  border-color: #00e2cb;
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .nav-tabs > li > label:hover,
.p-form-simple-extra1color3 .nav-tabs > li > label:focus {
  background-color: #00685d;
}
.p-form-simple-extra1color3 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-extra1color3 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .p-title-line,
.p-form-simple-extra1color3 .p-title-step-line,
.p-form-simple-extra1color3 .p-title-side {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-tooltip .p-tooltip-content {
  background-color: #00685d;
}
.p-form-simple-extra1color3 .p-tooltip .p-tooltip-content:after {
  border-color: rgba(0,104,93,0);
  border-top-color: #00685d;
}
.p-form-simple-extra1color3 .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-simple-extra1color3 .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-simple-extra1color3 .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(0,104,93,0);
  border-bottom-color: #00685d;
}
.p-form-simple-extra1color3 .p-bordered {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-extra1color3 .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-extra1color3 .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .p-tabs-offset > .nav-tabs > li > label {
  background-color: #00ceb9;
}
.p-form-simple-extra1color3 .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-simple-extra1color3 .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-extra1color3 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #00a594;
}
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-simple-extra1color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-alt-back,
.p-form-simple-extra1color3 .p-alt-back .p-form-bg {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-extra1color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-simple-extra1color3 .p-alt-back .p-table.table-striped > thead {
  background-color: #008c96;
}
.p-form-simple-extra1color3 .p-alt-back .panel-fp > .panel-heading {
  background-color: #008c96;
}
.p-form-simple-extra1color3 .p-alt-back .panel-fp > .panel-body {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-alt-back hr.p-flat {
  border-color: #008c96;
}
.p-form-simple-extra1color3 .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-simple-extra1color3 .p-alt-back .p-picture-pick .p-check-block {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-bordered > .nav-tabs {
  border-color: #00e2cb;
}
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-extra1color3 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #009aa5;
}
.p-form-simple-extra1color3 .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-simple-extra1color3 .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #009aa5;
}
