/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-simple-indianRed .panel-fp {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .panel-fp > .panel-heading {
  background-color: #d26c6c;
  border-color: #db8b8b;
}
.p-form-simple-indianRed .panel-fp > .panel-body {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .progress-bar-fp {
  background-color: #952e2e;
}
.p-form-simple-indianRed .btn.p-active-btn,
.p-form-simple-indianRed .btn:hover,
.p-form-simple-indianRed .btn:focus {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .radio label a,
.p-form-simple-indianRed .checkbox label a,
.p-form-simple-indianRed .p-switch label a,
.p-form-simple-indianRed .p-radioswitch label a {
  color: #952e2e;
}
.p-form-simple-indianRed .p-show-block-heading a {
  color: #952e2e;
}
.p-form-simple-indianRed .p-check-icon .p-check-middle {
  color: #e5aaaa;
}
.p-form-simple-indianRed .p-check-bordered {
  border-color: #d77b7b;
}
.p-form-simple-indianRed .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-simple-indianRed :checked ~ .p-check-highlight {
  background-color: #c54141;
}
.p-form-simple-indianRed label:hover .p-check-active-icon,
.p-form-simple-indianRed .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-simple-indianRed label:hover .p-check-icon .p-check-middle,
.p-form-simple-indianRed .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #db8b8b;
}
.p-form-simple-indianRed label:hover .p-check-icon .p-check-block,
.p-form-simple-indianRed .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #db8b8b;
}
.p-form-simple-indianRed label:hover .p-switch-icon,
.p-form-simple-indianRed .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #db8b8b;
}
.p-form-simple-indianRed label:hover .p-check-highlight,
.p-form-simple-indianRed .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #c84c4c;
}
.p-form-simple-indianRed label:hover .p-check-bordered,
.p-form-simple-indianRed .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #f1d1d1;
}
.p-form-simple-indianRed .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-simple-indianRed .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(149,46,46,0.7);
}
.p-form-simple-indianRed .p-picture-pick:hover .p-preview-name {
  background-color: rgba(180,55,55,0.7);
}
.p-form-simple-indianRed .p-show-block:checked + .p-show-block-heading:hover,
.p-form-simple-indianRed .p-show-block-heading:hover {
  color: #db8b8b;
}
.p-form-simple-indianRed .p-picture-pick .p-switch-icon,
.p-form-simple-indianRed .p-picture-pick .p-check-block {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .p-radio-color .p-color-block {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-form-bg,
.p-form-simple-indianRed .p-form {
  background: #cd5c5c;
}
.p-form-simple-indianRed .p-colored-text {
  color: #952e2e;
}
.p-form-simple-indianRed .p-alt-colored-text {
  color: #db8b8b;
}
.p-form-simple-indianRed .p-colored-link {
  color: #952e2e;
}
.p-form-simple-indianRed .p-colored-link:hover {
  color: #db8b8b;
}
.p-form-simple-indianRed .p-action-link:hover {
  color: #db8b8b;
}
.p-form-simple-indianRed hr {
  border-color: #db8b8b;
}
.p-form-simple-indianRed hr.p-flat {
  border-color: #d26c6c;
}
.p-form-simple-indianRed .p-table > thead > tr > td,
.p-form-simple-indianRed .p-table > tbody > tr > td,
.p-form-simple-indianRed .p-table > tfoot > tr > td,
.p-form-simple-indianRed .p-table > thead > tr > th,
.p-form-simple-indianRed .p-table > tbody > tr > th,
.p-form-simple-indianRed .p-table > tfoot > tr > th {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-table.table-striped > thead {
  background-color: #d26c6c;
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #d26c6c;
}
.p-form-simple-indianRed .p-table.table-bordered {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-table.table-bordered > thead > tr > td,
.p-form-simple-indianRed .p-table.table-bordered > tbody > tr > td,
.p-form-simple-indianRed .p-table.table-bordered > tfoot > tr > td,
.p-form-simple-indianRed .p-table.table-bordered > thead > tr > th,
.p-form-simple-indianRed .p-table.table-bordered > tbody > tr > th,
.p-form-simple-indianRed .p-table.table-bordered > tfoot > tr > th {
  border-color: #db8b8b;
}
.p-form-simple-indianRed select.form-control option {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .form-control:focus ~ .input-group-icon,
.p-form-simple-indianRed .form-control:hover ~ .input-group-icon,
.p-form-simple-indianRed .input-group:hover .input-group-icon,
.p-form-simple-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-simple-indianRed .sp-input:focus ~ .input-group-icon,
.p-form-simple-indianRed .sp-input:hover ~ .input-group-icon,
.p-form-simple-indianRed .form-control:focus ~ .p-select-arrow,
.p-form-simple-indianRed .form-control:hover ~ .p-select-arrow,
.p-form-simple-indianRed .input-group:hover .p-select-arrow,
.p-form-simple-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-simple-indianRed .sp-input:focus ~ .p-select-arrow,
.p-form-simple-indianRed .sp-input:hover ~ .p-select-arrow,
.p-form-simple-indianRed .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-indianRed .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-simple-indianRed .input-group:hover .input-group-addon .p-addon-bg,
.p-form-simple-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-simple-indianRed .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-indianRed .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #db8b8b;
  color: #db8b8b;
}
.p-form-simple-indianRed .p-custom-arrow .p-select-arrow {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .input-group-btn .btn:hover,
.p-form-simple-indianRed .input-group-btn .btn:focus,
.p-form-simple-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .p-no-preview {
  background-color: #db8b8b;
  border-color: #d57878;
}
.p-form-simple-indianRed .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #cd5c5c;
}
.p-form-simple-indianRed .ui-autocomplete {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .ui-autocomplete .ui-state-focus,
.p-form-simple-indianRed .ui-autocomplete .ui-state-active {
  background-color: rgba(255,255,255,0.1);
}
.p-form-simple-indianRed .sp-container {
  background-color: #b43737;
}
.p-form-simple-indianRed .sp-initial,
.p-form-simple-indianRed .sp-clear,
.p-form-simple-indianRed .sp-palette .sp-thumb-el {
  border-color: #cd5b5b;
  color: #cd5b5b;
}
.p-form-simple-indianRed .sp-clear:hover,
.p-form-simple-indianRed .sp-palette .sp-thumb-el:hover,
.p-form-simple-indianRed .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #852929;
  color: #852929;
}
.p-form-simple-indianRed .sp-clear:hover:after,
.p-form-simple-indianRed .sp-palette .sp-thumb-el:hover:after,
.p-form-simple-indianRed .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #faefef;
}
.p-form-simple-indianRed .sp-choose,
.p-form-simple-indianRed .sp-cancel,
.p-form-simple-indianRed .sp-palette-toggle {
  color: #faefef;
}
.p-form-simple-indianRed .sp-choose:hover,
.p-form-simple-indianRed .sp-cancel:hover,
.p-form-simple-indianRed .sp-palette-toggle:hover,
.p-form-simple-indianRed .sp-choose:focus,
.p-form-simple-indianRed .sp-cancel:focus,
.p-form-simple-indianRed .sp-palette-toggle:focus,
.p-form-simple-indianRed .sp-choose:active,
.p-form-simple-indianRed .sp-cancel:active,
.p-form-simple-indianRed .sp-palette-toggle:active {
  color: #dc8e8e;
}
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #e5aaaa;
}
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #e5aaaa;
  color: #e5aaaa;
}
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #b43737;
  color: #b43737;
}
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #f6e1e1;
}
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-simple-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget {
  background-color: #d26c6c;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e3a2a2;
  background-color: #862929;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table thead th {
  background-color: #862929;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td div:hover,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td span:hover {
  color: #c43d3d;
  background-color: #e09b9b;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td a,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td .btn {
  color: #eababa;
  background-color: transparent;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #862929;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .old,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .new {
  color: #edc4c4;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table td .active,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .active div {
  background-color: #862929;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(234,186,186,0);
  border-bottom-color: #eababa;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #e09b9b;
  background-color: #d26c6c;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-indianRed .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #e09b9b;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #b53737;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #d26c6c;
}
.p-form-simple-indianRed .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #862929;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #862929;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #862929;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #862929;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(234,186,186,0);
  border-bottom-color: #eababa;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #db8b8b;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #db8b8b;
}
.p-form-simple-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #db8b8b;
}
.p-form-simple-indianRed .p-js-link {
  color: #eababa;
}
.p-form-simple-indianRed .p-js-link:hover,
.p-form-simple-indianRed .p-show-js-block .p-js-link:hover,
.p-form-simple-indianRed .p-field-toggled .p-js-link:hover,
.p-form-simple-indianRed .p-js-link:focus,
.p-form-simple-indianRed .p-show-js-block .p-js-link:focus,
.p-form-simple-indianRed .p-field-toggled .p-js-link:focus {
  color: #b43737;
}
.p-form-simple-indianRed .p-js-active-link,
.p-form-simple-indianRed .p-show-js-block .p-js-link,
.p-form-simple-indianRed .p-field-toggled .p-js-link {
  color: #952e2e;
}
.p-form-simple-indianRed .input-group .realperson-challenge .realperson-regen {
  color: #952e2e;
}
.p-form-simple-indianRed .input-group .realperson-challenge .realperson-regen:hover {
  color: #db8b8b;
}
.p-form-simple-indianRed .input-group .realperson-challenge .realperson-text:hover {
  color: #952e2e;
}
.p-form-simple-indianRed .p-slider-block .p-js-value,
.p-form-simple-indianRed .p-sl-tip {
  background-color: #cd5c5c;
  border-color: #b43737;
}
.p-form-simple-indianRed .p-sl-tip:before {
  border-color: rgba(180,55,55,0);
}
.p-form-simple-indianRed .ui-slider:before {
  border-color: #eababa;
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .ui-slider-handle:after {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .ui-slider-handle .p-sl-icon {
  color: #cd5c5c;
}
.p-form-simple-indianRed .ui-slider-handle.ui-state-focus:after,
.p-form-simple-indianRed .ui-slider-handle.ui-state-active:after,
.p-form-simple-indianRed .ui-slider-handle.ui-state-hover:after {
  border-color: #b43737;
}
.p-form-simple-indianRed .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-simple-indianRed .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-simple-indianRed .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #b43737;
}
.p-form-simple-indianRed .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #b43737;
}
.p-form-simple-indianRed .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #b43737;
}
.p-form-simple-indianRed .sl-v-simple .ui-slider:before {
  background-color: #eababa;
}
.p-form-simple-indianRed .sl-v-modern .ui-slider:before,
.p-form-simple-indianRed .sl-v-bordered .ui-slider:before {
  border-color: #952e2e;
}
.p-form-simple-indianRed .sl-v-top .ui-slider:before {
  background-color: #eababa;
}
.p-form-simple-indianRed .sl-v-flat .ui-slider:before {
  background-color: #eababa;
}
.p-form-simple-indianRed .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .pt-form-cross-panel .p-switch-icon {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .p-rating .p-field-cancel {
  color: #e5aaaa;
}
.p-form-simple-indianRed .p-rating .p-rating-icon {
  color: #e5aaaa;
}
.p-form-simple-indianRed .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #e5aaaa;
}
.p-form-simple-indianRed .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-simple-indianRed .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-simple-indianRed .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #fff;
}
.p-form-simple-indianRed .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #fff;
}
.p-form-simple-indianRed .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-simple-indianRed .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-simple-indianRed .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #e5aaaa;
}
.p-form-simple-indianRed .p-form-steps:before {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .p-form-steps > li.active .p-step:before {
  background-color: #b43737;
}
.p-form-simple-indianRed .p-form-steps > li.active ~ li .p-step-text {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .p-step {
  color: #d77b7b;
}
.p-form-simple-indianRed .p-step .p-step-text {
  background-color: #b43737;
}
.p-form-simple-indianRed .nav-tabs {
  border-color: #db8b8b;
  background-color: #db8b8b;
}
.p-form-simple-indianRed .nav-tabs > li > label:hover,
.p-form-simple-indianRed .nav-tabs > li > label:focus {
  background-color: #b43737;
}
.p-form-simple-indianRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-indianRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-indianRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-indianRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-indianRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-indianRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-indianRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-indianRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-indianRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-indianRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-indianRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-indianRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-indianRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-indianRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-indianRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .p-title-line,
.p-form-simple-indianRed .p-title-step-line,
.p-form-simple-indianRed .p-title-side {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .p-tooltip .p-tooltip-content {
  background-color: #b43737;
}
.p-form-simple-indianRed .p-tooltip .p-tooltip-content:after {
  border-color: rgba(180,55,55,0);
  border-top-color: #b43737;
}
.p-form-simple-indianRed .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-simple-indianRed .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-simple-indianRed .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(180,55,55,0);
  border-bottom-color: #b43737;
}
.p-form-simple-indianRed .p-bordered {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-indianRed .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-indianRed .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .p-tabs-offset > .nav-tabs > li > label {
  background-color: #d77b7b;
}
.p-form-simple-indianRed .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-simple-indianRed .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #db8b8b;
}
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-indianRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #cd5c5c;
}
.p-form-simple-indianRed .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #db8b8b;
}
.p-form-simple-indianRed .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-simple-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #db8b8b;
}
.p-form-simple-indianRed .p-alt-back,
.p-form-simple-indianRed .p-alt-back .p-form-bg {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-simple-indianRed .p-alt-back .p-table.table-striped > thead {
  background-color: #c96950;
}
.p-form-simple-indianRed .p-alt-back .panel-fp > .panel-heading {
  background-color: #c96950;
}
.p-form-simple-indianRed .p-alt-back .panel-fp > .panel-body {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-alt-back hr.p-flat {
  border-color: #c96950;
}
.p-form-simple-indianRed .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-simple-indianRed .p-alt-back .p-picture-pick .p-check-block {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-bordered > .nav-tabs {
  border-color: #db8b8b;
}
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-indianRed .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #cd735c;
}
.p-form-simple-indianRed .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-simple-indianRed .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #cd735c;
}
