/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-squareDark-indianRed .panel-fp {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .panel-fp > .panel-heading {
  background-color: #2f0e0e;
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .panel-fp > .panel-body {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .progress-bar-fp {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .btn {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .btn.p-active-btn,
.p-form-squareDark-indianRed .btn:hover,
.p-form-squareDark-indianRed .btn:focus {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .radio label a,
.p-form-squareDark-indianRed .checkbox label a,
.p-form-squareDark-indianRed .p-switch label a,
.p-form-squareDark-indianRed .p-radioswitch label a {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-show-block-heading a {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-check-active-icon {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-check-block {
  border-color: #4c3b3b;
}
.p-form-squareDark-indianRed .p-check-block:after {
  background-color: #cd5c5c;
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-switch-icon {
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .p-check-point:after {
  background-color: #cd5c5c;
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-switch-icon:after {
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-check-bordered {
  border-color: #461616;
}
.p-form-squareDark-indianRed .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-squareDark-indianRed :checked ~ .p-check-icon .p-check-middle {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-squareDark-indianRed :checked ~ .p-switch-icon {
  background-color: #e5aaaa;
}
.p-form-squareDark-indianRed .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-squareDark-indianRed :checked ~ .p-switch-icon:after {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-squareDark-indianRed :checked ~ .p-check-highlight {
  background-color: #3b1212;
}
.p-form-squareDark-indianRed .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-squareDark-indianRed :checked ~ .p-check-bordered {
  border-color: #e5aaaa;
}
.p-form-squareDark-indianRed label:hover .p-check-active-icon,
.p-form-squareDark-indianRed .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-squareDark-indianRed label:hover .p-check-icon .p-check-middle,
.p-form-squareDark-indianRed .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #db8b8b;
}
.p-form-squareDark-indianRed label:hover .p-check-icon .p-check-block,
.p-form-squareDark-indianRed .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #db8b8b;
}
.p-form-squareDark-indianRed label:hover .p-switch-icon,
.p-form-squareDark-indianRed .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed label:hover .p-check-highlight,
.p-form-squareDark-indianRed .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed label:hover .p-check-bordered,
.p-form-squareDark-indianRed .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-squareDark-indianRed .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(118,36,36,0.7);
}
.p-form-squareDark-indianRed .p-picture-pick:hover .p-preview-name {
  background-color: rgba(195,61,61,0.7);
}
.p-form-squareDark-indianRed .p-show-block:checked + .p-show-block-heading:hover,
.p-form-squareDark-indianRed .p-show-block-heading:hover {
  color: #db8b8b;
}
.p-form-squareDark-indianRed .p-show-block:checked + .p-show-block-heading {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-picture-pick .p-switch-icon,
.p-form-squareDark-indianRed .p-picture-pick .p-check-block {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .p-radio-color .p-color-block {
  border-color: #461616;
}
.p-form-squareDark-indianRed .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-squareDark-indianRed .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-form-bg,
.p-form-squareDark-indianRed .p-form {
  background: #1f0a0a;
}
.p-form-squareDark-indianRed .p-colored-text {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-alt-colored-text {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-colored-link {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-colored-link:hover {
  color: #b43737;
}
.p-form-squareDark-indianRed .p-action-link:hover {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed hr {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed hr.p-flat {
  border-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-table > thead > tr > td,
.p-form-squareDark-indianRed .p-table > tbody > tr > td,
.p-form-squareDark-indianRed .p-table > tfoot > tr > td,
.p-form-squareDark-indianRed .p-table > thead > tr > th,
.p-form-squareDark-indianRed .p-table > tbody > tr > th,
.p-form-squareDark-indianRed .p-table > tfoot > tr > th {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .p-table.table-striped > thead {
  background-color: #2f0e0e;
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-table.table-bordered {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .p-table.table-bordered > thead > tr > td,
.p-form-squareDark-indianRed .p-table.table-bordered > tbody > tr > td,
.p-form-squareDark-indianRed .p-table.table-bordered > tfoot > tr > td,
.p-form-squareDark-indianRed .p-table.table-bordered > thead > tr > th,
.p-form-squareDark-indianRed .p-table.table-bordered > tbody > tr > th,
.p-form-squareDark-indianRed .p-table.table-bordered > tfoot > tr > th {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed label {
  color: rgba(235,190,190,1);
}
.p-form-squareDark-indianRed select.form-control option {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .p-title .fa,
.p-form-squareDark-indianRed .p-subtitle .fa {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-field-cb {
  background-color: #4c3b3b;
  border-color: #4c3b3b;
}
.p-form-squareDark-indianRed .form-control {
  border-color: #4c3b3b;
  background-color: #4c3b3b;
}
.p-form-squareDark-indianRed .form-control:focus,
.p-form-squareDark-indianRed .form-control:hover,
.p-form-squareDark-indianRed .input-group:hover .form-control,
.p-form-squareDark-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-squareDark-indianRed .sp-input:focus,
.p-form-squareDark-indianRed .sp-input:hover {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .form-control:focus ~ .input-group-icon,
.p-form-squareDark-indianRed .form-control:hover ~ .input-group-icon,
.p-form-squareDark-indianRed .input-group:hover .input-group-icon,
.p-form-squareDark-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-squareDark-indianRed .sp-input:focus ~ .input-group-icon,
.p-form-squareDark-indianRed .sp-input:hover ~ .input-group-icon,
.p-form-squareDark-indianRed .form-control:focus ~ .p-select-arrow,
.p-form-squareDark-indianRed .form-control:hover ~ .p-select-arrow,
.p-form-squareDark-indianRed .input-group:hover .p-select-arrow,
.p-form-squareDark-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-squareDark-indianRed .sp-input:focus ~ .p-select-arrow,
.p-form-squareDark-indianRed .sp-input:hover ~ .p-select-arrow,
.p-form-squareDark-indianRed .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-indianRed .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-indianRed .input-group:hover .input-group-addon .p-addon-bg,
.p-form-squareDark-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-squareDark-indianRed .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-indianRed .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .form-control:focus ~ .p-field-cb,
.p-form-squareDark-indianRed .form-control:hover ~ .p-field-cb,
.p-form-squareDark-indianRed .input-group:hover .p-field-cb,
.p-form-squareDark-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-squareDark-indianRed .sp-input:focus ~ .p-field-cb,
.p-form-squareDark-indianRed .sp-input:hover ~ .p-field-cb {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .form-control::-webkit-input-placeholder {
  color: #f5dede;
}
.p-form-squareDark-indianRed .form-control::-moz-placeholder {
  color: #f5dede;
}
.p-form-squareDark-indianRed .form-control:-moz-placeholder {
  color: #f5dede;
}
.p-form-squareDark-indianRed .form-control:-ms-input-placeholder {
  color: #f5dede;
}
.p-form-squareDark-indianRed .p-custom-arrow .p-select-arrow {
  background-color: #4c3b3b;
}
.p-form-squareDark-indianRed .input-group-btn .btn:hover,
.p-form-squareDark-indianRed .input-group-btn .btn:focus,
.p-form-squareDark-indianRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #cd5c5c;
  -webkit-box-shadow: 0 3px 25px #cd5c5c;
  box-shadow: 0 3px 25px #cd5c5c;
}
.p-form-squareDark-indianRed .p-file-wrap ~ .input-group [type="text"] {
  background-color: #4c3b3b;
}
.p-form-squareDark-indianRed .p-no-preview {
  background-color: #762424;
  border-color: #621e1e;
}
.p-form-squareDark-indianRed .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .ui-autocomplete {
  background-color: #1f0a0a;
  border-color: #4c3b3b;
}
.p-form-squareDark-indianRed .ui-autocomplete .ui-state-focus,
.p-form-squareDark-indianRed .ui-autocomplete .ui-state-active {
  color: #cd5c5c;
  background-color: rgba(205,92,92,0.1);
}
.p-form-squareDark-indianRed .sp-container {
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .sp-initial,
.p-form-squareDark-indianRed .sp-clear,
.p-form-squareDark-indianRed .sp-palette .sp-thumb-el {
  border-color: #7d2626;
  color: #7d2626;
}
.p-form-squareDark-indianRed .sp-clear:hover,
.p-form-squareDark-indianRed .sp-palette .sp-thumb-el:hover,
.p-form-squareDark-indianRed .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #1f0a0a;
  color: #1f0a0a;
}
.p-form-squareDark-indianRed .sp-clear:hover:after,
.p-form-squareDark-indianRed .sp-palette .sp-thumb-el:hover:after,
.p-form-squareDark-indianRed .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #faefef;
}
.p-form-squareDark-indianRed .sp-input {
  border-color: #4c3b3b;
  background-color: #4c3b3b;
}
.p-form-squareDark-indianRed .sp-choose,
.p-form-squareDark-indianRed .sp-cancel,
.p-form-squareDark-indianRed .sp-palette-toggle {
  color: #faefef;
}
.p-form-squareDark-indianRed .sp-choose:hover,
.p-form-squareDark-indianRed .sp-cancel:hover,
.p-form-squareDark-indianRed .sp-palette-toggle:hover,
.p-form-squareDark-indianRed .sp-choose:focus,
.p-form-squareDark-indianRed .sp-cancel:focus,
.p-form-squareDark-indianRed .sp-palette-toggle:focus,
.p-form-squareDark-indianRed .sp-choose:active,
.p-form-squareDark-indianRed .sp-cancel:active,
.p-form-squareDark-indianRed .sp-palette-toggle:active {
  color: #dc8e8e;
}
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #4e1818;
  color: #4e1818;
}
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #7d2626;
  color: #7d2626;
}
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-squareDark-indianRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget {
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e3a2a2;
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table thead th {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td div:hover,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #7d2626;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td a,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td .btn {
  color: #eababa;
  background-color: transparent;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td a:hover,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #2f0e0e;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .old,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .new {
  color: #edc4c4;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table td .active,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .active div {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(234,186,186,0);
  border-bottom-color: #eababa;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table span.disabled,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .disabled div,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #7d2626;
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .disabled span,
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #7d2626;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #5e1c1c;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #4e1818;
}
.p-form-squareDark-indianRed .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #eababa;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #eababa;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #eababa;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(219,139,139,0);
  border-bottom-color: #db8b8b;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #4e1818;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #4e1818;
}
.p-form-squareDark-indianRed .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-js-link:hover,
.p-form-squareDark-indianRed .p-show-js-block .p-js-link:hover,
.p-form-squareDark-indianRed .p-field-toggled .p-js-link:hover,
.p-form-squareDark-indianRed .p-js-link:focus,
.p-form-squareDark-indianRed .p-show-js-block .p-js-link:focus,
.p-form-squareDark-indianRed .p-field-toggled .p-js-link:focus {
  color: #d77b7b;
}
.p-form-squareDark-indianRed .p-js-active-link,
.p-form-squareDark-indianRed .p-show-js-block .p-js-link,
.p-form-squareDark-indianRed .p-field-toggled .p-js-link {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .input-group .realperson-challenge .realperson-regen {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .input-group .realperson-challenge .realperson-regen:hover {
  color: #b43737;
}
.p-form-squareDark-indianRed .input-group .realperson-challenge .realperson-text:hover {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-slider-block .p-js-value,
.p-form-squareDark-indianRed .p-sl-tip {
  background-color: #1f0a0a;
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-sl-tip:before {
  border-color: rgba(205,92,92,0);
}
.p-form-squareDark-indianRed .ui-slider:before {
  border-color: #4e1818;
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .ui-slider-range {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .ui-slider-handle:after {
  background-color: #1f0a0a;
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .ui-slider-handle .p-sl-icon {
  background-color: #cd5c5c;
  color: #1f0a0a;
}
.p-form-squareDark-indianRed .ui-slider-handle.ui-state-focus:after,
.p-form-squareDark-indianRed .ui-slider-handle.ui-state-active:after,
.p-form-squareDark-indianRed .ui-slider-handle.ui-state-hover:after {
  border-color: #c33d3d;
}
.p-form-squareDark-indianRed .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-squareDark-indianRed .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-squareDark-indianRed .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #c33d3d;
}
.p-form-squareDark-indianRed .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #cd5c5c;
}
.p-form-squareDark-indianRed .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #cd5c5c;
}
.p-form-squareDark-indianRed .sl-v-simple .ui-slider:before {
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .sl-v-modern .ui-slider:before,
.p-form-squareDark-indianRed .sl-v-bordered .ui-slider:before {
  border-color: #cd5c5c;
}
.p-form-squareDark-indianRed .sl-v-top .ui-slider:before {
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .sl-v-flat .ui-slider:before {
  background-color: #4e1818;
}
.p-form-squareDark-indianRed .pt-form-panel,
.p-form-squareDark-indianRed .pt-form-cross-panel {
  border-color: #4e1818;
}
.p-form-squareDark-indianRed .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .p-rating .p-rating-active-icon {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-squareDark-indianRed .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-squareDark-indianRed .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-squareDark-indianRed .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-squareDark-indianRed .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-squareDark-indianRed .input-group-state {
  color: #f5dede;
}
.p-form-squareDark-indianRed .form-control[readonly],
.p-form-squareDark-indianRed .form-control[disabled] {
  background-color: #2b0d0d;
}
.p-form-squareDark-indianRed .p-field-readonly .p-switch-icon,
.p-form-squareDark-indianRed .p-field-disabled .p-switch-icon,
.p-form-squareDark-indianRed .p-field-readonly .p-check-icon .p-check-block,
.p-form-squareDark-indianRed .p-field-disabled .p-check-icon .p-check-block,
.p-form-squareDark-indianRed .p-field-readonly .p-field-cb,
.p-form-squareDark-indianRed .p-field-disabled .p-field-cb {
  background-color: #2b0d0d;
  border-color: #2b0d0d;
}
.p-form-squareDark-indianRed .p-field-readonly .p-no-preview,
.p-form-squareDark-indianRed .p-field-disabled .p-no-preview {
  background-color: #3e3030;
  border-color: #2b0d0d;
}
.p-form-squareDark-indianRed .p-field-readonly .p-rating .p-rating-icon,
.p-form-squareDark-indianRed .p-field-disabled .p-rating .p-rating-icon {
  color: #3e3030;
}
.p-form-squareDark-indianRed .nav-tabs {
  border-color: #461616;
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .nav-tabs > li > label:hover,
.p-form-squareDark-indianRed .nav-tabs > li > label:focus {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-indianRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1f0a0a;
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-title-line,
.p-form-squareDark-indianRed .p-title-step-line,
.p-form-squareDark-indianRed .p-title-side {
  background-color: #762424;
}
.p-form-squareDark-indianRed .p-tooltip .p-tooltip-content {
  background-color: #b43737;
}
.p-form-squareDark-indianRed .p-tooltip .p-tooltip-content:after {
  border-color: rgba(180,55,55,0);
  border-top-color: #b43737;
}
.p-form-squareDark-indianRed .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-squareDark-indianRed .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-squareDark-indianRed .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(180,55,55,0);
  border-bottom-color: #b43737;
}
.p-form-squareDark-indianRed .p-bordered {
  border-color: #461616;
}
.p-form-squareDark-indianRed .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-squareDark-indianRed .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-squareDark-indianRed .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #1f0a0a;
}
.p-form-squareDark-indianRed .p-tabs-offset > .nav-tabs > li > label {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-squareDark-indianRed .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-indianRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1f0a0a;
  color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #461616;
}
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #461616;
}
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #461616;
}
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #461616;
}
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-squareDark-indianRed .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #461616;
}
.p-form-squareDark-indianRed .p-alt-back,
.p-form-squareDark-indianRed .p-alt-back .p-form-bg {
  background-color: #fdf7f7;
}
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fdf7f7;
}
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-indianRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fdf7f7;
}
.p-form-squareDark-indianRed .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-squareDark-indianRed .p-alt-back .p-table.table-striped > thead {
  background-color: #f9ebeb;
}
.p-form-squareDark-indianRed .p-alt-back .panel-fp > .panel-heading {
  background-color: #f9ebeb;
}
.p-form-squareDark-indianRed .p-alt-back .panel-fp > .panel-body {
  background-color: #fdf7f7;
}
.p-form-squareDark-indianRed .p-alt-back hr.p-flat {
  border-color: #f9ebeb;
}
.p-form-squareDark-indianRed .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #4c3b3b;
}
.p-form-squareDark-indianRed .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-squareDark-indianRed .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fdf7f7;
}
.p-form-squareDark-indianRed .btn.p-active-btn,
.p-form-squareDark-indianRed .btn:hover,
.p-form-squareDark-indianRed .btn:focus {
  -webkit-box-shadow: 0 3px 25px #cd5c5c;
  box-shadow: 0 3px 25px #cd5c5c;
}
.p-form-squareDark-indianRed .p-hide-form {
  background: #1f0a0a;
}
.p-form-squareDark-indianRed .p-form-steps > li.active .p-step:after {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-form-steps > li.active:last-child .p-step:after {
  background-color: #cd5c5c;
}
.p-form-squareDark-indianRed .p-form-steps > li.active ~ li .p-step:before,
.p-form-squareDark-indianRed .p-form-steps > li.active ~ li .p-step:after {
  background-color: #2f0e0e;
}
.p-form-squareDark-indianRed .p-step:before,
.p-form-squareDark-indianRed .p-step:after {
  background-color: #cd5c5c;
}
