/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-squareDark-crimson .panel-fp {
  border-color: #5e0819;
}
.p-form-squareDark-crimson .panel-fp > .panel-heading {
  background-color: #38050f;
  border-color: #5e0819;
}
.p-form-squareDark-crimson .panel-fp > .panel-body {
  background-color: #25030a;
}
.p-form-squareDark-crimson .progress-bar-fp {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .btn {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .btn.p-active-btn,
.p-form-squareDark-crimson .btn:hover,
.p-form-squareDark-crimson .btn:focus {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .radio label a,
.p-form-squareDark-crimson .checkbox label a,
.p-form-squareDark-crimson .p-switch label a,
.p-form-squareDark-crimson .p-radioswitch label a {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-show-block-heading a {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-check-active-icon {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-check-block {
  border-color: #51353b;
}
.p-form-squareDark-crimson .p-check-block:after {
  background-color: #dc143c;
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-switch-icon {
  background-color: #5e0819;
}
.p-form-squareDark-crimson .p-check-point:after {
  background-color: #dc143c;
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-switch-icon:after {
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-check-bordered {
  border-color: #540817;
}
.p-form-squareDark-crimson .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-squareDark-crimson :checked ~ .p-check-icon .p-check-middle {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-squareDark-crimson :checked ~ .p-switch-icon {
  background-color: #f16581;
}
.p-form-squareDark-crimson .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-squareDark-crimson :checked ~ .p-switch-icon:after {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-squareDark-crimson :checked ~ .p-check-highlight {
  background-color: #460613;
}
.p-form-squareDark-crimson .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-squareDark-crimson :checked ~ .p-check-bordered {
  border-color: #f16581;
}
.p-form-squareDark-crimson label:hover .p-check-active-icon,
.p-form-squareDark-crimson .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-squareDark-crimson label:hover .p-check-icon .p-check-middle,
.p-form-squareDark-crimson .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #ee4062;
}
.p-form-squareDark-crimson label:hover .p-check-icon .p-check-block,
.p-form-squareDark-crimson .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #ee4062;
}
.p-form-squareDark-crimson label:hover .p-switch-icon,
.p-form-squareDark-crimson .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #38050f;
}
.p-form-squareDark-crimson label:hover .p-check-highlight,
.p-form-squareDark-crimson .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #38050f;
}
.p-form-squareDark-crimson label:hover .p-check-bordered,
.p-form-squareDark-crimson .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-squareDark-crimson .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(89,8,24,0.7);
}
.p-form-squareDark-crimson .p-picture-pick:hover .p-preview-name {
  background-color: rgba(183,17,50,0.7);
}
.p-form-squareDark-crimson .p-show-block:checked + .p-show-block-heading:hover,
.p-form-squareDark-crimson .p-show-block-heading:hover {
  color: #ee4062;
}
.p-form-squareDark-crimson .p-show-block:checked + .p-show-block-heading {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-picture-pick .p-switch-icon,
.p-form-squareDark-crimson .p-picture-pick .p-check-block {
  background-color: #25030a;
}
.p-form-squareDark-crimson .p-radio-color .p-color-block {
  border-color: #540817;
}
.p-form-squareDark-crimson .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-squareDark-crimson .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-form-bg,
.p-form-squareDark-crimson .p-form {
  background: #25030a;
}
.p-form-squareDark-crimson .p-colored-text {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-alt-colored-text {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-colored-link {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-colored-link:hover {
  color: #a40f2d;
}
.p-form-squareDark-crimson .p-action-link:hover {
  color: #dc143c;
}
.p-form-squareDark-crimson hr {
  border-color: #5e0819;
}
.p-form-squareDark-crimson hr.p-flat {
  border-color: #38050f;
}
.p-form-squareDark-crimson .p-table > thead > tr > td,
.p-form-squareDark-crimson .p-table > tbody > tr > td,
.p-form-squareDark-crimson .p-table > tfoot > tr > td,
.p-form-squareDark-crimson .p-table > thead > tr > th,
.p-form-squareDark-crimson .p-table > tbody > tr > th,
.p-form-squareDark-crimson .p-table > tfoot > tr > th {
  border-color: #5e0819;
}
.p-form-squareDark-crimson .p-table.table-striped > thead {
  background-color: #38050f;
  border-color: #5e0819;
}
.p-form-squareDark-crimson .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #38050f;
}
.p-form-squareDark-crimson .p-table.table-bordered {
  border-color: #5e0819;
}
.p-form-squareDark-crimson .p-table.table-bordered > thead > tr > td,
.p-form-squareDark-crimson .p-table.table-bordered > tbody > tr > td,
.p-form-squareDark-crimson .p-table.table-bordered > tfoot > tr > td,
.p-form-squareDark-crimson .p-table.table-bordered > thead > tr > th,
.p-form-squareDark-crimson .p-table.table-bordered > tbody > tr > th,
.p-form-squareDark-crimson .p-table.table-bordered > tfoot > tr > th {
  border-color: #5e0819;
}
.p-form-squareDark-crimson label {
  color: rgba(241,161,177,1);
}
.p-form-squareDark-crimson select.form-control option {
  background-color: #25030a;
}
.p-form-squareDark-crimson .p-title .fa,
.p-form-squareDark-crimson .p-subtitle .fa {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-field-cb {
  background-color: #51353b;
  border-color: #51353b;
}
.p-form-squareDark-crimson .form-control {
  border-color: #51353b;
  background-color: #51353b;
}
.p-form-squareDark-crimson .form-control:focus,
.p-form-squareDark-crimson .form-control:hover,
.p-form-squareDark-crimson .input-group:hover .form-control,
.p-form-squareDark-crimson .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-squareDark-crimson .sp-input:focus,
.p-form-squareDark-crimson .sp-input:hover {
  background-color: #25030a;
}
.p-form-squareDark-crimson .form-control:focus ~ .input-group-icon,
.p-form-squareDark-crimson .form-control:hover ~ .input-group-icon,
.p-form-squareDark-crimson .input-group:hover .input-group-icon,
.p-form-squareDark-crimson .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-squareDark-crimson .sp-input:focus ~ .input-group-icon,
.p-form-squareDark-crimson .sp-input:hover ~ .input-group-icon,
.p-form-squareDark-crimson .form-control:focus ~ .p-select-arrow,
.p-form-squareDark-crimson .form-control:hover ~ .p-select-arrow,
.p-form-squareDark-crimson .input-group:hover .p-select-arrow,
.p-form-squareDark-crimson .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-squareDark-crimson .sp-input:focus ~ .p-select-arrow,
.p-form-squareDark-crimson .sp-input:hover ~ .p-select-arrow,
.p-form-squareDark-crimson .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-crimson .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-crimson .input-group:hover .input-group-addon .p-addon-bg,
.p-form-squareDark-crimson .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-squareDark-crimson .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-crimson .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #dc143c;
}
.p-form-squareDark-crimson .form-control:focus ~ .p-field-cb,
.p-form-squareDark-crimson .form-control:hover ~ .p-field-cb,
.p-form-squareDark-crimson .input-group:hover .p-field-cb,
.p-form-squareDark-crimson .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-squareDark-crimson .sp-input:focus ~ .p-field-cb,
.p-form-squareDark-crimson .sp-input:hover ~ .p-field-cb {
  background-color: #25030a;
}
.p-form-squareDark-crimson .form-control::-webkit-input-placeholder {
  color: #f8d0d8;
}
.p-form-squareDark-crimson .form-control::-moz-placeholder {
  color: #f8d0d8;
}
.p-form-squareDark-crimson .form-control:-moz-placeholder {
  color: #f8d0d8;
}
.p-form-squareDark-crimson .form-control:-ms-input-placeholder {
  color: #f8d0d8;
}
.p-form-squareDark-crimson .p-custom-arrow .p-select-arrow {
  background-color: #51353b;
}
.p-form-squareDark-crimson .input-group-btn .btn:hover,
.p-form-squareDark-crimson .input-group-btn .btn:focus,
.p-form-squareDark-crimson .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #dc143c;
  -webkit-box-shadow: 0 3px 25px #dc143c;
  box-shadow: 0 3px 25px #dc143c;
}
.p-form-squareDark-crimson .p-file-wrap ~ .input-group [type="text"] {
  background-color: #51353b;
}
.p-form-squareDark-crimson .p-no-preview {
  background-color: #590818;
  border-color: #700a1e;
}
.p-form-squareDark-crimson .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #dc143c;
}
.p-form-squareDark-crimson .ui-autocomplete {
  background-color: #25030a;
  border-color: #51353b;
}
.p-form-squareDark-crimson .ui-autocomplete .ui-state-focus,
.p-form-squareDark-crimson .ui-autocomplete .ui-state-active {
  color: #dc143c;
  background-color: rgba(220,20,60,0.1);
}
.p-form-squareDark-crimson .sp-container {
  background-color: #5e0819;
}
.p-form-squareDark-crimson .sp-initial,
.p-form-squareDark-crimson .sp-clear,
.p-form-squareDark-crimson .sp-palette .sp-thumb-el {
  border-color: #960d28;
  color: #960d28;
}
.p-form-squareDark-crimson .sp-clear:hover,
.p-form-squareDark-crimson .sp-palette .sp-thumb-el:hover,
.p-form-squareDark-crimson .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #26030a;
  color: #26030a;
}
.p-form-squareDark-crimson .sp-clear:hover:after,
.p-form-squareDark-crimson .sp-palette .sp-thumb-el:hover:after,
.p-form-squareDark-crimson .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fdecf0;
}
.p-form-squareDark-crimson .sp-input {
  border-color: #51353b;
  background-color: #51353b;
}
.p-form-squareDark-crimson .sp-choose,
.p-form-squareDark-crimson .sp-cancel,
.p-form-squareDark-crimson .sp-palette-toggle {
  color: #fdecf0;
}
.p-form-squareDark-crimson .sp-choose:hover,
.p-form-squareDark-crimson .sp-cancel:hover,
.p-form-squareDark-crimson .sp-palette-toggle:hover,
.p-form-squareDark-crimson .sp-choose:focus,
.p-form-squareDark-crimson .sp-cancel:focus,
.p-form-squareDark-crimson .sp-palette-toggle:focus,
.p-form-squareDark-crimson .sp-choose:active,
.p-form-squareDark-crimson .sp-cancel:active,
.p-form-squareDark-crimson .sp-palette-toggle:active {
  color: #f3778f;
}
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #5e0819;
}
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #5e0819;
  color: #5e0819;
}
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #960e29;
  color: #960e29;
}
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-squareDark-crimson .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget {
  background-color: #5e0819;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #f05c79;
  background-color: #38050f;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table thead th {
  background-color: #38050f;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td div:hover,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #960d28;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td a,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td .btn {
  color: #f37890;
  background-color: transparent;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td a:hover,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #38050f;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .old,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .new {
  color: #f9b9c6;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table td .active,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .active div {
  background-color: #38050f;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(243,120,144,0);
  border-bottom-color: #f37890;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table span.disabled,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .disabled div,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #960d28;
  background-color: #5e0819;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .disabled span,
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #960d28;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #700a1e;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #5e0819;
}
.p-form-squareDark-crimson .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #38050f;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #f37890;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #f37890;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #f37890;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(238,64,98,0);
  border-bottom-color: #ee4062;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #5e0819;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #5e0819;
}
.p-form-squareDark-crimson .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #38050f;
}
.p-form-squareDark-crimson .p-js-link:hover,
.p-form-squareDark-crimson .p-show-js-block .p-js-link:hover,
.p-form-squareDark-crimson .p-field-toggled .p-js-link:hover,
.p-form-squareDark-crimson .p-js-link:focus,
.p-form-squareDark-crimson .p-show-js-block .p-js-link:focus,
.p-form-squareDark-crimson .p-field-toggled .p-js-link:focus {
  color: #ec2d53;
}
.p-form-squareDark-crimson .p-js-active-link,
.p-form-squareDark-crimson .p-show-js-block .p-js-link,
.p-form-squareDark-crimson .p-field-toggled .p-js-link {
  color: #dc143c;
}
.p-form-squareDark-crimson .input-group .realperson-challenge .realperson-regen {
  color: #dc143c;
}
.p-form-squareDark-crimson .input-group .realperson-challenge .realperson-regen:hover {
  color: #a40f2d;
}
.p-form-squareDark-crimson .input-group .realperson-challenge .realperson-text:hover {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-slider-block .p-js-value,
.p-form-squareDark-crimson .p-sl-tip {
  background-color: #25030a;
  border-color: #dc143c;
}
.p-form-squareDark-crimson .p-sl-tip:before {
  border-color: rgba(220,20,60,0);
}
.p-form-squareDark-crimson .ui-slider:before {
  border-color: #5e0819;
  background-color: #25030a;
}
.p-form-squareDark-crimson .ui-slider-range {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .ui-slider-handle:after {
  background-color: #25030a;
  border-color: #dc143c;
}
.p-form-squareDark-crimson .ui-slider-handle .p-sl-icon {
  background-color: #dc143c;
  color: #25030a;
}
.p-form-squareDark-crimson .ui-slider-handle.ui-state-focus:after,
.p-form-squareDark-crimson .ui-slider-handle.ui-state-active:after,
.p-form-squareDark-crimson .ui-slider-handle.ui-state-hover:after {
  border-color: #b71132;
}
.p-form-squareDark-crimson .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-squareDark-crimson .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-squareDark-crimson .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #b71132;
}
.p-form-squareDark-crimson .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #dc143c;
}
.p-form-squareDark-crimson .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #dc143c;
}
.p-form-squareDark-crimson .sl-v-simple .ui-slider:before {
  background-color: #5e0819;
}
.p-form-squareDark-crimson .sl-v-modern .ui-slider:before,
.p-form-squareDark-crimson .sl-v-bordered .ui-slider:before {
  border-color: #dc143c;
}
.p-form-squareDark-crimson .sl-v-top .ui-slider:before {
  background-color: #5e0819;
}
.p-form-squareDark-crimson .sl-v-flat .ui-slider:before {
  background-color: #5e0819;
}
.p-form-squareDark-crimson .pt-form-panel,
.p-form-squareDark-crimson .pt-form-cross-panel {
  border-color: #5e0819;
}
.p-form-squareDark-crimson .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #25030a;
}
.p-form-squareDark-crimson .p-rating .p-rating-active-icon {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-squareDark-crimson .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-squareDark-crimson .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #dc143c;
}
.p-form-squareDark-crimson .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-squareDark-crimson .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-squareDark-crimson .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-squareDark-crimson .input-group-state {
  color: #f8d0d8;
}
.p-form-squareDark-crimson .form-control[readonly],
.p-form-squareDark-crimson .form-control[disabled] {
  background-color: #33050e;
}
.p-form-squareDark-crimson .p-field-readonly .p-switch-icon,
.p-form-squareDark-crimson .p-field-disabled .p-switch-icon,
.p-form-squareDark-crimson .p-field-readonly .p-check-icon .p-check-block,
.p-form-squareDark-crimson .p-field-disabled .p-check-icon .p-check-block,
.p-form-squareDark-crimson .p-field-readonly .p-field-cb,
.p-form-squareDark-crimson .p-field-disabled .p-field-cb {
  background-color: #33050e;
  border-color: #33050e;
}
.p-form-squareDark-crimson .p-field-readonly .p-no-preview,
.p-form-squareDark-crimson .p-field-disabled .p-no-preview {
  background-color: #422b30;
  border-color: #33050e;
}
.p-form-squareDark-crimson .p-field-readonly .p-rating .p-rating-icon,
.p-form-squareDark-crimson .p-field-disabled .p-rating .p-rating-icon {
  color: #422b30;
}
.p-form-squareDark-crimson .nav-tabs {
  border-color: #540817;
  background-color: #38050f;
}
.p-form-squareDark-crimson .nav-tabs > li > label:hover,
.p-form-squareDark-crimson .nav-tabs > li > label:focus {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-crimson .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-crimson .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-crimson .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-crimson .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-crimson .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-crimson .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-crimson .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-crimson .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-crimson .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-crimson .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-crimson .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-crimson .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-crimson .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-crimson .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #25030a;
  color: #dc143c;
}
.p-form-squareDark-crimson .p-title-line,
.p-form-squareDark-crimson .p-title-step-line,
.p-form-squareDark-crimson .p-title-side {
  background-color: #590818;
}
.p-form-squareDark-crimson .p-tooltip .p-tooltip-content {
  background-color: #a40f2d;
}
.p-form-squareDark-crimson .p-tooltip .p-tooltip-content:after {
  border-color: rgba(164,15,45,0);
  border-top-color: #a40f2d;
}
.p-form-squareDark-crimson .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-squareDark-crimson .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-squareDark-crimson .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(164,15,45,0);
  border-bottom-color: #a40f2d;
}
.p-form-squareDark-crimson .p-bordered {
  border-color: #540817;
}
.p-form-squareDark-crimson .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-squareDark-crimson .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-squareDark-crimson .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #25030a;
}
.p-form-squareDark-crimson .p-tabs-offset > .nav-tabs > li > label {
  background-color: #38050f;
}
.p-form-squareDark-crimson .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-squareDark-crimson .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-crimson .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #25030a;
  color: #dc143c;
}
.p-form-squareDark-crimson .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #540817;
}
.p-form-squareDark-crimson .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #540817;
}
.p-form-squareDark-crimson .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #540817;
}
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #540817;
}
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-squareDark-crimson .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #540817;
}
.p-form-squareDark-crimson .p-alt-back,
.p-form-squareDark-crimson .p-alt-back .p-form-bg {
  background-color: #fef6f7;
}
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fef6f7;
}
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-crimson .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fef6f7;
}
.p-form-squareDark-crimson .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-squareDark-crimson .p-alt-back .p-table.table-striped > thead {
  background-color: #fde8ec;
}
.p-form-squareDark-crimson .p-alt-back .panel-fp > .panel-heading {
  background-color: #fde8ec;
}
.p-form-squareDark-crimson .p-alt-back .panel-fp > .panel-body {
  background-color: #fef6f7;
}
.p-form-squareDark-crimson .p-alt-back hr.p-flat {
  border-color: #fde8ec;
}
.p-form-squareDark-crimson .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #51353b;
}
.p-form-squareDark-crimson .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-squareDark-crimson .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fef6f7;
}
.p-form-squareDark-crimson .btn.p-active-btn,
.p-form-squareDark-crimson .btn:hover,
.p-form-squareDark-crimson .btn:focus {
  -webkit-box-shadow: 0 3px 25px #dc143c;
  box-shadow: 0 3px 25px #dc143c;
}
.p-form-squareDark-crimson .p-hide-form {
  background: #25030a;
}
.p-form-squareDark-crimson .p-form-steps > li.active .p-step:after {
  background-color: #38050f;
}
.p-form-squareDark-crimson .p-form-steps > li.active:last-child .p-step:after {
  background-color: #dc143c;
}
.p-form-squareDark-crimson .p-form-steps > li.active ~ li .p-step:before,
.p-form-squareDark-crimson .p-form-steps > li.active ~ li .p-step:after {
  background-color: #38050f;
}
.p-form-squareDark-crimson .p-step:before,
.p-form-squareDark-crimson .p-step:after {
  background-color: #dc143c;
}
