/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-flat-olive .progress-bar-fp {
  background-color: #808000;
}
.p-form-flat-olive .btn {
  background-color: #808000;
}
.p-form-flat-olive .btn.p-active-btn,
.p-form-flat-olive .btn:hover,
.p-form-flat-olive .btn:focus {
  background-color: #a9a900;
}
.p-form-flat-olive .radio label a,
.p-form-flat-olive .checkbox label a,
.p-form-flat-olive .p-switch label a,
.p-form-flat-olive .p-radioswitch label a {
  color: #808000;
}
.p-form-flat-olive .p-show-block-heading a {
  color: #808000;
}
.p-form-flat-olive .p-check-active-icon {
  color: #808000;
}
.p-form-flat-olive .p-check-block:after {
  background-color: #808000;
  border-color: #808000;
}
.p-form-flat-olive .p-check-point:after {
  background-color: #808000;
  border-color: #808000;
}
.p-form-flat-olive .p-switch-icon:after {
  background-color: #808000;
  border-color: #808000;
}
.p-form-flat-olive .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-flat-olive :checked ~ .p-check-icon .p-check-middle {
  color: #808000;
}
.p-form-flat-olive .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-flat-olive :checked ~ .p-check-icon .p-check-block {
  border-color: #808000;
}
.p-form-flat-olive .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-flat-olive :checked ~ .p-switch-icon {
  border-color: #808000;
}
.p-form-flat-olive .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-flat-olive :checked ~ .p-switch-icon:before {
  color: #808000;
}
.p-form-flat-olive .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-flat-olive :checked ~ .p-check-highlight {
  background-color: #ffc;
}
.p-form-flat-olive .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-flat-olive :checked ~ .p-check-bordered {
  border-color: #e6e600;
}
.p-form-flat-olive label:hover .p-check-active-icon,
.p-form-flat-olive .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-flat-olive label:hover .p-check-icon .p-check-middle,
.p-form-flat-olive .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #bdbd00;
}
.p-form-flat-olive label:hover .p-check-icon .p-check-block,
.p-form-flat-olive .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #bdbd00;
}
.p-form-flat-olive label:hover .p-switch-icon,
.p-form-flat-olive .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #bdbd00;
}
.p-form-flat-olive label:hover .p-check-highlight,
.p-form-flat-olive .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #ffffe0;
}
.p-form-flat-olive label:hover .p-check-bordered,
.p-form-flat-olive .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #808000;
}
.p-form-flat-olive .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-flat-olive .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(87,87,0,0.7);
}
.p-form-flat-olive .p-picture-pick:hover .p-preview-name {
  background-color: rgba(128,128,0,0.7);
}
.p-form-flat-olive .p-show-block:checked + .p-show-block-heading:hover,
.p-form-flat-olive .p-show-block-heading:hover {
  color: #bdbd00;
}
.p-form-flat-olive .p-show-block:checked + .p-show-block-heading {
  color: #808000;
}
.p-form-flat-olive .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-flat-olive .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #808000;
}
.p-form-flat-olive .p-colored-text {
  color: #808000;
}
.p-form-flat-olive .p-alt-colored-text {
  color: #808000;
}
.p-form-flat-olive .p-colored-link {
  color: #808000;
}
.p-form-flat-olive .p-colored-link:hover {
  color: #a9a900;
}
.p-form-flat-olive .p-action-link:hover {
  color: #a9a900;
}
.p-form-flat-olive .form-control:focus ~ .input-group-icon,
.p-form-flat-olive .form-control:hover ~ .input-group-icon,
.p-form-flat-olive .input-group:hover .input-group-icon,
.p-form-flat-olive .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-flat-olive .sp-input:focus ~ .input-group-icon,
.p-form-flat-olive .sp-input:hover ~ .input-group-icon,
.p-form-flat-olive .form-control:focus ~ .p-select-arrow,
.p-form-flat-olive .form-control:hover ~ .p-select-arrow,
.p-form-flat-olive .input-group:hover .p-select-arrow,
.p-form-flat-olive .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-flat-olive .sp-input:focus ~ .p-select-arrow,
.p-form-flat-olive .sp-input:hover ~ .p-select-arrow,
.p-form-flat-olive .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-flat-olive .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-flat-olive .input-group:hover .input-group-addon .p-addon-bg,
.p-form-flat-olive .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-flat-olive .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-flat-olive .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #a9a900;
  background-color: #808000;
}
.p-form-flat-olive .input-group-btn .btn:hover,
.p-form-flat-olive .input-group-btn .btn:focus,
.p-form-flat-olive .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #a9a900;
}
.p-form-flat-olive .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #b2b300;
}
.p-form-flat-olive .ui-autocomplete .ui-state-focus,
.p-form-flat-olive .ui-autocomplete .ui-state-active {
  color: #808000;
  background-color: rgba(128,128,0,0.1);
}
.p-form-flat-olive .sp-container {
  background-color: #808000;
}
.p-form-flat-olive .sp-initial,
.p-form-flat-olive .sp-clear,
.p-form-flat-olive .sp-palette .sp-thumb-el {
  border-color: #bdbd00;
  color: #bdbd00;
}
.p-form-flat-olive .sp-clear:hover,
.p-form-flat-olive .sp-palette .sp-thumb-el:hover,
.p-form-flat-olive .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #434300;
  color: #434300;
}
.p-form-flat-olive .sp-clear:hover:after,
.p-form-flat-olive .sp-palette .sp-thumb-el:hover:after,
.p-form-flat-olive .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #ffffeb;
}
.p-form-flat-olive .sp-choose,
.p-form-flat-olive .sp-cancel,
.p-form-flat-olive .sp-palette-toggle {
  color: #ffffeb;
}
.p-form-flat-olive .sp-choose:hover,
.p-form-flat-olive .sp-cancel:hover,
.p-form-flat-olive .sp-palette-toggle:hover,
.p-form-flat-olive .sp-choose:focus,
.p-form-flat-olive .sp-cancel:focus,
.p-form-flat-olive .sp-palette-toggle:focus,
.p-form-flat-olive .sp-choose:active,
.p-form-flat-olive .sp-cancel:active,
.p-form-flat-olive .sp-palette-toggle:active {
  color: #ffff6b;
}
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #808000;
  color: #808000;
}
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #808000;
}
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-flat-olive .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #a9a900;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget {
  background-color: #808000;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #dcdc00;
  background-color: #060600;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table thead th {
  background-color: #060600;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table td div:hover,
.p-form-flat-olive .bootstrap-datetimepicker-widget table td span:hover {
  color: #434300;
  background-color: #bdbd00;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table td a,
.p-form-flat-olive .bootstrap-datetimepicker-widget table td .btn {
  color: #fafa00;
  background-color: transparent;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table td a:hover,
.p-form-flat-olive .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-flat-olive .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-flat-olive .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #060600;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table .old,
.p-form-flat-olive .bootstrap-datetimepicker-widget table .new {
  color: #ffffb3;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table td .active,
.p-form-flat-olive .bootstrap-datetimepicker-widget table .active div {
  background-color: #060600;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(250,250,0,0);
  border-bottom-color: #fafa00;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table span.disabled,
.p-form-flat-olive .bootstrap-datetimepicker-widget table .disabled div,
.p-form-flat-olive .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-flat-olive .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #bdbd00;
  background-color: #808000;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget table .disabled span,
.p-form-flat-olive .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #bdbd00;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #434300;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #808000;
}
.p-form-flat-olive .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #060600;
}
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #808000;
}
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #060600;
}
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #060600;
}
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #808000;
}
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #060600;
}
.p-form-flat-olive .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(250,250,0,0);
  border-bottom-color: #fafa00;
}
.p-form-flat-olive .p-js-link {
  color: #fafa00;
}
.p-form-flat-olive .p-js-link:hover,
.p-form-flat-olive .p-show-js-block .p-js-link:hover,
.p-form-flat-olive .p-field-toggled .p-js-link:hover,
.p-form-flat-olive .p-js-link:focus,
.p-form-flat-olive .p-show-js-block .p-js-link:focus,
.p-form-flat-olive .p-field-toggled .p-js-link:focus {
  color: #a9a900;
}
.p-form-flat-olive .p-js-active-link,
.p-form-flat-olive .p-show-js-block .p-js-link,
.p-form-flat-olive .p-field-toggled .p-js-link {
  color: #808000;
}
.p-form-flat-olive .input-group .realperson-challenge .realperson-regen {
  color: #808000;
}
.p-form-flat-olive .input-group .realperson-challenge .realperson-regen:hover {
  color: #a9a900;
}
.p-form-flat-olive .input-group .realperson-challenge .realperson-text:hover {
  color: #808000;
}
.p-form-flat-olive .p-slider-block .p-js-value,
.p-form-flat-olive .p-sl-tip {
  border-color: #808000;
}
.p-form-flat-olive .p-sl-tip:before {
  border-color: rgba(128,128,0,0);
}
.p-form-flat-olive .ui-slider-range {
  background-color: #808000;
}
.p-form-flat-olive .ui-slider-handle:after {
  border-color: #808000;
}
.p-form-flat-olive .ui-slider-handle .p-sl-icon {
  background-color: #808000;
}
.p-form-flat-olive .ui-slider-handle.ui-state-focus:after,
.p-form-flat-olive .ui-slider-handle.ui-state-active:after,
.p-form-flat-olive .ui-slider-handle.ui-state-hover:after {
  border-color: #a9a900;
}
.p-form-flat-olive .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-flat-olive .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-flat-olive .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #a9a900;
}
.p-form-flat-olive .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #808000;
}
.p-form-flat-olive .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #808000;
}
.p-form-flat-olive .p-rating .p-rating-active-icon {
  color: #808000;
}
.p-form-flat-olive .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-flat-olive .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-flat-olive .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #808000;
}
.p-form-flat-olive .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #808000;
}
.p-form-flat-olive .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-flat-olive .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-flat-olive .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #666;
}
.p-form-flat-olive .p-form-steps > li.active .p-step:before {
  background-color: #434300;
}
.p-form-flat-olive .p-step {
  color: #a9a900;
}
.p-form-flat-olive .p-step .p-step-text {
  background-color: #434300;
}
.p-form-flat-olive .nav-tabs > li > label {
  color: #808000;
}
.p-form-flat-olive .nav-tabs > li > label:hover,
.p-form-flat-olive .nav-tabs > li > label:focus {
  background-color: #a9a900;
}
.p-form-flat-olive .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-flat-olive .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-flat-olive .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-flat-olive .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-flat-olive .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-flat-olive .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-flat-olive .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-flat-olive .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-flat-olive .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-flat-olive .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-flat-olive .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-flat-olive .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-flat-olive .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-flat-olive .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-flat-olive .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #808000;
}
.p-form-flat-olive .p-title,
.p-form-flat-olive .p-subtitle {
  color: #808000;
}
.p-form-flat-olive .p-title-line,
.p-form-flat-olive .p-title-step-line,
.p-form-flat-olive .p-title-side {
  background-color: #808000;
}
.p-form-flat-olive .p-tooltip .p-tooltip-content {
  background-color: #434300;
}
.p-form-flat-olive .p-tooltip .p-tooltip-content:after {
  border-color: rgba(67,67,0,0);
  border-top-color: #434300;
}
.p-form-flat-olive .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-flat-olive .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-flat-olive .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(67,67,0,0);
  border-bottom-color: #434300;
}
.p-form-flat-olive .p-tabs-offset > .nav-tabs > li > label {
  background-color: #a9a900;
}
.p-form-flat-olive .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-flat-olive .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #808000;
}
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-flat-olive .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #808000;
}
.p-form-flat-olive .p-alt-back,
.p-form-flat-olive .p-alt-back .p-form-bg {
  background-color: #fffff5;
}
.p-form-flat-olive .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fffff5;
}
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-flat-olive .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fffff5;
}
.p-form-flat-olive .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-flat-olive .p-alt-back .p-table.table-striped > thead {
  background-color: #ffffe5;
}
.p-form-flat-olive .p-alt-back .panel-fp > .panel-heading {
  background-color: #ffffe5;
}
.p-form-flat-olive .p-alt-back .panel-fp > .panel-body {
  background-color: #fffff5;
}
.p-form-flat-olive .p-alt-back hr.p-flat {
  border-color: #ffffe5;
}
