/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-round-chocolate .progress-bar-fp {
  background-color: #d2691e;
}
.p-form-round-chocolate .btn {
  background-color: #d2691e;
}
.p-form-round-chocolate .btn.p-active-btn,
.p-form-round-chocolate .btn:hover,
.p-form-round-chocolate .btn:focus {
  background-color: #d2691e;
}
.p-form-round-chocolate .radio label a,
.p-form-round-chocolate .checkbox label a,
.p-form-round-chocolate .p-switch label a,
.p-form-round-chocolate .p-radioswitch label a {
  color: #d2691e;
}
.p-form-round-chocolate .p-show-block-heading a {
  color: #d2691e;
}
.p-form-round-chocolate .p-check-active-icon {
  color: #d2691e;
}
.p-form-round-chocolate .p-check-block:after {
  background-color: #d2691e;
  border-color: #d2691e;
}
.p-form-round-chocolate .p-check-point:after {
  background-color: #d2691e;
  border-color: #d2691e;
}
.p-form-round-chocolate .p-switch-icon:after {
  border-color: #d2691e;
}
.p-form-round-chocolate .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-round-chocolate :checked ~ .p-check-icon .p-check-middle {
  color: #d2691e;
}
.p-form-round-chocolate .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-round-chocolate :checked ~ .p-switch-icon {
  background-color: #eaa16c;
}
.p-form-round-chocolate .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-round-chocolate :checked ~ .p-switch-icon:after {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-round-chocolate :checked ~ .p-check-highlight {
  background-color: #f9e2d2;
}
.p-form-round-chocolate .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-round-chocolate :checked ~ .p-check-bordered {
  border-color: #eaa16c;
}
.p-form-round-chocolate label:hover .p-check-active-icon,
.p-form-round-chocolate .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-round-chocolate label:hover .p-check-icon .p-check-middle,
.p-form-round-chocolate .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #e58a48;
}
.p-form-round-chocolate label:hover .p-check-icon .p-check-block,
.p-form-round-chocolate .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #e58a48;
}
.p-form-round-chocolate label:hover .p-check-highlight,
.p-form-round-chocolate .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #fbeee4;
}
.p-form-round-chocolate label:hover .p-check-bordered,
.p-form-round-chocolate .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #d2691e;
}
.p-form-round-chocolate .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-round-chocolate .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(174,87,25,0.7);
}
.p-form-round-chocolate .p-picture-pick:hover .p-preview-name {
  background-color: rgba(210,105,30,0.7);
}
.p-form-round-chocolate .p-show-block:checked + .p-show-block-heading:hover,
.p-form-round-chocolate .p-show-block-heading:hover {
  color: #e58a48;
}
.p-form-round-chocolate .p-show-block:checked + .p-show-block-heading {
  color: #d2691e;
}
.p-form-round-chocolate .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-round-chocolate .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #d2691e;
}
.p-form-round-chocolate .p-colored-text {
  color: #d2691e;
}
.p-form-round-chocolate .p-alt-colored-text {
  color: #d2691e;
}
.p-form-round-chocolate .p-colored-link {
  color: #d2691e;
}
.p-form-round-chocolate .p-colored-link:hover {
  color: #9c4e16;
}
.p-form-round-chocolate .p-action-link:hover {
  color: #d2691e;
}
.p-form-round-chocolate label {
  color: #9c6842;
}
.p-form-round-chocolate .form-control:focus ~ .input-group-icon,
.p-form-round-chocolate .form-control:hover ~ .input-group-icon,
.p-form-round-chocolate .input-group:hover .input-group-icon,
.p-form-round-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-round-chocolate .sp-input:focus ~ .input-group-icon,
.p-form-round-chocolate .sp-input:hover ~ .input-group-icon,
.p-form-round-chocolate .form-control:focus ~ .p-select-arrow,
.p-form-round-chocolate .form-control:hover ~ .p-select-arrow,
.p-form-round-chocolate .input-group:hover .p-select-arrow,
.p-form-round-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-round-chocolate .sp-input:focus ~ .p-select-arrow,
.p-form-round-chocolate .sp-input:hover ~ .p-select-arrow,
.p-form-round-chocolate .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-round-chocolate .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-round-chocolate .input-group:hover .input-group-addon .p-addon-bg,
.p-form-round-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-round-chocolate .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-round-chocolate .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #d2691e;
}
.p-form-round-chocolate .input-group-btn .btn:hover,
.p-form-round-chocolate .input-group-btn .btn:focus,
.p-form-round-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #d2691e;
  -webkit-box-shadow: 0 3px 25px #d2691e;
  box-shadow: 0 3px 25px #d2691e;
}
.p-form-round-chocolate .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #d2691e;
}
.p-form-round-chocolate .ui-autocomplete .ui-state-focus,
.p-form-round-chocolate .ui-autocomplete .ui-state-active {
  color: #d2691e;
  background-color: rgba(210,105,30,0.1);
}
.p-form-round-chocolate .sp-container {
  background-color: #d2691e;
}
.p-form-round-chocolate .sp-initial,
.p-form-round-chocolate .sp-clear,
.p-form-round-chocolate .sp-palette .sp-thumb-el {
  border-color: #e58a48;
  color: #e58a48;
}
.p-form-round-chocolate .sp-clear:hover,
.p-form-round-chocolate .sp-palette .sp-thumb-el:hover,
.p-form-round-chocolate .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #9c4e16;
  color: #9c4e16;
}
.p-form-round-chocolate .sp-clear:hover:after,
.p-form-round-chocolate .sp-palette .sp-thumb-el:hover:after,
.p-form-round-chocolate .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fcf4ed;
}
.p-form-round-chocolate .sp-choose,
.p-form-round-chocolate .sp-cancel,
.p-form-round-chocolate .sp-palette-toggle {
  color: #fcf4ed;
}
.p-form-round-chocolate .sp-choose:hover,
.p-form-round-chocolate .sp-cancel:hover,
.p-form-round-chocolate .sp-palette-toggle:hover,
.p-form-round-chocolate .sp-choose:focus,
.p-form-round-chocolate .sp-cancel:focus,
.p-form-round-chocolate .sp-palette-toggle:focus,
.p-form-round-chocolate .sp-choose:active,
.p-form-round-chocolate .sp-cancel:active,
.p-form-round-chocolate .sp-palette-toggle:active {
  color: #edac7e;
}
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #d2691e;
  color: #d2691e;
}
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-round-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #d2691e;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget {
  background-color: #d2691e;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e99b63;
  background-color: #67330f;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table thead th {
  background-color: #67330f;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td div:hover,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td span:hover {
  color: #9c4e16;
  background-color: #e58a48;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td a,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td .btn {
  color: #edac7e;
  background-color: transparent;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td a:hover,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #67330f;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .old,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .new {
  color: #f5d4bc;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table td .active,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .active div {
  background-color: #67330f;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(237,172,126,0);
  border-bottom-color: #edac7e;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table span.disabled,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .disabled div,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #e58a48;
  background-color: #d2691e;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .disabled span,
.p-form-round-chocolate .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #e58a48;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #9c4d17;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #d2691e;
}
.p-form-round-chocolate .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #67330f;
}
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #d2691e;
}
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #67330f;
}
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #67330f;
}
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #d2691e;
}
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #67330f;
}
.p-form-round-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(237,172,126,0);
  border-bottom-color: #edac7e;
}
.p-form-round-chocolate .p-js-link:hover,
.p-form-round-chocolate .p-show-js-block .p-js-link:hover,
.p-form-round-chocolate .p-field-toggled .p-js-link:hover,
.p-form-round-chocolate .p-js-link:focus,
.p-form-round-chocolate .p-show-js-block .p-js-link:focus,
.p-form-round-chocolate .p-field-toggled .p-js-link:focus {
  color: #e27e36;
}
.p-form-round-chocolate .p-js-active-link,
.p-form-round-chocolate .p-show-js-block .p-js-link,
.p-form-round-chocolate .p-field-toggled .p-js-link {
  color: #d2691e;
}
.p-form-round-chocolate .input-group .realperson-challenge .realperson-regen {
  color: #d2691e;
}
.p-form-round-chocolate .input-group .realperson-challenge .realperson-regen:hover {
  color: #9c4e16;
}
.p-form-round-chocolate .input-group .realperson-challenge .realperson-text:hover {
  color: #d2691e;
}
.p-form-round-chocolate .p-slider-block .p-js-value,
.p-form-round-chocolate .p-sl-tip {
  border-color: #d2691e;
}
.p-form-round-chocolate .p-sl-tip:before {
  border-color: rgba(210,105,30,0);
}
.p-form-round-chocolate .ui-slider-range {
  background-color: #d2691e;
}
.p-form-round-chocolate .ui-slider-handle:after {
  border-color: #d2691e;
}
.p-form-round-chocolate .ui-slider-handle .p-sl-icon {
  background-color: #d2691e;
}
.p-form-round-chocolate .ui-slider-handle.ui-state-focus:after,
.p-form-round-chocolate .ui-slider-handle.ui-state-active:after,
.p-form-round-chocolate .ui-slider-handle.ui-state-hover:after {
  border-color: #ae5719;
}
.p-form-round-chocolate .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-round-chocolate .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-round-chocolate .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #ae5719;
}
.p-form-round-chocolate .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #d2691e;
}
.p-form-round-chocolate .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #d2691e;
}
.p-form-round-chocolate .p-rating .p-rating-active-icon {
  color: #d2691e;
}
.p-form-round-chocolate .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-round-chocolate .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-round-chocolate .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #d2691e;
}
.p-form-round-chocolate .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #d2691e;
}
.p-form-round-chocolate .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-round-chocolate .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-round-chocolate .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-round-chocolate .nav-tabs > li > label:hover,
.p-form-round-chocolate .nav-tabs > li > label:focus {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-round-chocolate .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-round-chocolate .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-round-chocolate .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-round-chocolate .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-round-chocolate .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-round-chocolate .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-round-chocolate .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-round-chocolate .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-round-chocolate .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-round-chocolate .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-round-chocolate .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-round-chocolate .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-round-chocolate .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-round-chocolate .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #d2691e;
}
.p-form-round-chocolate .p-title-line,
.p-form-round-chocolate .p-title-step-line,
.p-form-round-chocolate .p-title-side {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-tooltip .p-tooltip-content {
  background-color: #9c4e16;
}
.p-form-round-chocolate .p-tooltip .p-tooltip-content:after {
  border-color: rgba(156,78,22,0);
  border-top-color: #9c4e16;
}
.p-form-round-chocolate .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-round-chocolate .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-round-chocolate .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(156,78,22,0);
  border-bottom-color: #9c4e16;
}
.p-form-round-chocolate .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-round-chocolate .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-round-chocolate .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #d2691e;
}
.p-form-round-chocolate .p-alt-back,
.p-form-round-chocolate .p-alt-back .p-form-bg {
  background-color: #fef9f6;
}
.p-form-round-chocolate .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fef9f6;
}
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-round-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fef9f6;
}
.p-form-round-chocolate .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-round-chocolate .p-alt-back .p-table.table-striped > thead {
  background-color: #fcf1e9;
}
.p-form-round-chocolate .p-alt-back .panel-fp > .panel-heading {
  background-color: #fcf1e9;
}
.p-form-round-chocolate .p-alt-back .panel-fp > .panel-body {
  background-color: #fef9f6;
}
.p-form-round-chocolate .p-alt-back hr.p-flat {
  border-color: #fcf1e9;
}
.p-form-round-chocolate .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-round-chocolate .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fef9f6;
}
.p-form-round-chocolate .btn.p-active-btn,
.p-form-round-chocolate .btn:hover,
.p-form-round-chocolate .btn:focus {
  -webkit-box-shadow: 0 3px 25px #d2691e;
  box-shadow: 0 3px 25px #d2691e;
}
.p-form-round-chocolate .p-form-steps > li.active:last-child .p-step:after {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-step:before,
.p-form-round-chocolate .p-step:after {
  background-color: #d2691e;
}
.p-form-round-chocolate .p-step .p-step-text:before {
  background-color: #e58a48;
}
