/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-dark-extra3color1 .panel-fp {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .panel-fp > .panel-heading {
  background-color: #2d2f0e;
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .panel-fp > .panel-body {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .progress-bar-fp {
  background-color: #bfc946;
}
.p-form-dark-extra3color1 .btn {
  background-color: #bfc946;
}
.p-form-dark-extra3color1 .btn.p-active-btn,
.p-form-dark-extra3color1 .btn:hover,
.p-form-dark-extra3color1 .btn:focus {
  background-color: #a9b234;
}
.p-form-dark-extra3color1 .radio label a,
.p-form-dark-extra3color1 .checkbox label a,
.p-form-dark-extra3color1 .p-switch label a,
.p-form-dark-extra3color1 .p-radioswitch label a {
  color: #a9b234;
}
.p-form-dark-extra3color1 .p-show-block-heading a {
  color: #a9b234;
}
.p-form-dark-extra3color1 .p-check-active-icon {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-block {
  border-color: #5e631d;
}
.p-form-dark-extra3color1 .p-check-block:after {
  background-color: #bfc946;
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-icon .p-check-middle {
  color: #5e631d;
}
.p-form-dark-extra3color1 .p-switch-icon {
  border-color: #5e631d;
}
.p-form-dark-extra3color1 .p-check-point:after {
  background-color: #bfc946;
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-switch-icon:after {
  background-color: #bfc946;
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-bordered {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-dark-extra3color1 :checked ~ .p-check-icon .p-check-middle {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-dark-extra3color1 :checked ~ .p-check-icon .p-check-block {
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-dark-extra3color1 :checked ~ .p-switch-icon {
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-dark-extra3color1 :checked ~ .p-switch-icon:before {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-dark-extra3color1 :checked ~ .p-check-highlight {
  background-color: #383b11;
}
.p-form-dark-extra3color1 .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-dark-extra3color1 :checked ~ .p-check-bordered {
  border-color: #dae095;
}
.p-form-dark-extra3color1 label:hover .p-check-active-icon,
.p-form-dark-extra3color1 .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-dark-extra3color1 label:hover .p-check-icon .p-check-middle,
.p-form-dark-extra3color1 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #cfd775;
}
.p-form-dark-extra3color1 label:hover .p-check-icon .p-check-block,
.p-form-dark-extra3color1 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #cfd775;
}
.p-form-dark-extra3color1 label:hover .p-switch-icon,
.p-form-dark-extra3color1 .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #cfd775;
}
.p-form-dark-extra3color1 label:hover .p-check-highlight,
.p-form-dark-extra3color1 .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #2d2f0e;
}
.p-form-dark-extra3color1 label:hover .p-check-bordered,
.p-form-dark-extra3color1 .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-dark-extra3color1 .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(94,99,29,0.7);
}
.p-form-dark-extra3color1 .p-picture-pick:hover .p-preview-name {
  background-color: rgba(169,178,52,0.7);
}
.p-form-dark-extra3color1 .p-show-block:checked + .p-show-block-heading:hover,
.p-form-dark-extra3color1 .p-show-block-heading:hover {
  color: #cfd775;
}
.p-form-dark-extra3color1 .p-show-block:checked + .p-show-block-heading {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-picture-pick .p-switch-icon,
.p-form-dark-extra3color1 .p-picture-pick .p-check-block {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .p-radio-color .p-color-block {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-dark-extra3color1 .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #bfc946;
}
.p-form-dark-extra3color1 {
  color: #7c8326;
}
.p-form-dark-extra3color1 .p-form-bg,
.p-form-dark-extra3color1 .p-form {
  background: #1e2009;
}
.p-form-dark-extra3color1 .p-colored-text {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-alt-colored-text {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-colored-link {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-colored-link:hover {
  color: #a9b234;
}
.p-form-dark-extra3color1 .p-action-link {
  color: #7c8326;
}
.p-form-dark-extra3color1 .p-action-link:hover {
  color: #a9b234;
}
.p-form-dark-extra3color1 hr {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 hr.p-flat {
  border-color: #2d2f0e;
}
.p-form-dark-extra3color1 .p-table > thead > tr > td,
.p-form-dark-extra3color1 .p-table > tbody > tr > td,
.p-form-dark-extra3color1 .p-table > tfoot > tr > td,
.p-form-dark-extra3color1 .p-table > thead > tr > th,
.p-form-dark-extra3color1 .p-table > tbody > tr > th,
.p-form-dark-extra3color1 .p-table > tfoot > tr > th {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .p-table.table-striped > thead {
  background-color: #2d2f0e;
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #2d2f0e;
}
.p-form-dark-extra3color1 .p-table.table-bordered {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .p-table.table-bordered > thead > tr > td,
.p-form-dark-extra3color1 .p-table.table-bordered > tbody > tr > td,
.p-form-dark-extra3color1 .p-table.table-bordered > tfoot > tr > td,
.p-form-dark-extra3color1 .p-table.table-bordered > thead > tr > th,
.p-form-dark-extra3color1 .p-table.table-bordered > tbody > tr > th,
.p-form-dark-extra3color1 .p-table.table-bordered > tfoot > tr > th {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 select.form-control option {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .p-title .fa,
.p-form-dark-extra3color1 .p-subtitle .fa {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-field-cb {
  border-color: #5e631d;
}
.p-form-dark-extra3color1 .form-control {
  border-color: #5e631d;
}
.p-form-dark-extra3color1 .form-control:focus,
.p-form-dark-extra3color1 .form-control:hover,
.p-form-dark-extra3color1 .input-group:hover .form-control,
.p-form-dark-extra3color1 .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-dark-extra3color1 .sp-input:focus,
.p-form-dark-extra3color1 .sp-input:hover {
  border-color: #bfc946;
  -webkit-box-shadow: 0 0 3px #7c8326, 0 0 3px #7c8326 inset;
  box-shadow: 0 0 3px #7c8326, 0 0 3px #7c8326 inset;
}
.p-form-dark-extra3color1 .form-control:focus ~ .input-group-icon,
.p-form-dark-extra3color1 .form-control:hover ~ .input-group-icon,
.p-form-dark-extra3color1 .input-group:hover .input-group-icon,
.p-form-dark-extra3color1 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-dark-extra3color1 .sp-input:focus ~ .input-group-icon,
.p-form-dark-extra3color1 .sp-input:hover ~ .input-group-icon,
.p-form-dark-extra3color1 .form-control:focus ~ .p-select-arrow,
.p-form-dark-extra3color1 .form-control:hover ~ .p-select-arrow,
.p-form-dark-extra3color1 .input-group:hover .p-select-arrow,
.p-form-dark-extra3color1 .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-dark-extra3color1 .sp-input:focus ~ .p-select-arrow,
.p-form-dark-extra3color1 .sp-input:hover ~ .p-select-arrow,
.p-form-dark-extra3color1 .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-extra3color1 .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-dark-extra3color1 .input-group:hover .input-group-addon .p-addon-bg,
.p-form-dark-extra3color1 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-dark-extra3color1 .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-extra3color1 .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #7c8326;
  background-color: #bfc946;
}
.p-form-dark-extra3color1 .form-control:focus ~ .p-field-cb,
.p-form-dark-extra3color1 .form-control:hover ~ .p-field-cb,
.p-form-dark-extra3color1 .input-group:hover .p-field-cb,
.p-form-dark-extra3color1 .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-dark-extra3color1 .sp-input:focus ~ .p-field-cb,
.p-form-dark-extra3color1 .sp-input:hover ~ .p-field-cb {
  border-color: #bfc946;
  -webkit-box-shadow: 0 0 3px #7c8326, 0 0 3px #7c8326 inset;
  box-shadow: 0 0 3px #7c8326, 0 0 3px #7c8326 inset;
}
.p-form-dark-extra3color1 .input-group-addon,
.p-form-dark-extra3color1 .input-group-icon,
.p-form-dark-extra3color1 .p-select-arrow {
  color: #bfc946;
}
.p-form-dark-extra3color1 .input-group-addon .p-addon-bg {
  background-color: #5e631d;
}
.p-form-dark-extra3color1 .p-custom-arrow .p-select-arrow {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .input-group-btn .btn {
  background-color: #a9b234;
}
.p-form-dark-extra3color1 .input-group-btn .btn:hover,
.p-form-dark-extra3color1 .input-group-btn .btn:focus,
.p-form-dark-extra3color1 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #7c8326;
}
.p-form-dark-extra3color1 .p-no-preview {
  background-color: #5e631d;
  border-color: #717723;
}
.p-form-dark-extra3color1 .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #bfc946;
}
.p-form-dark-extra3color1 .ui-autocomplete {
  background-color: #1e2009;
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .ui-autocomplete .ui-state-focus,
.p-form-dark-extra3color1 .ui-autocomplete .ui-state-active {
  color: #bfc946;
  background-color: rgba(191,201,70,0.1);
}
.p-form-dark-extra3color1 .sp-container {
  background-color: #4b4f17;
}
.p-form-dark-extra3color1 .sp-initial,
.p-form-dark-extra3color1 .sp-clear,
.p-form-dark-extra3color1 .sp-palette .sp-thumb-el {
  border-color: #787e25;
  color: #787e25;
}
.p-form-dark-extra3color1 .sp-clear:hover,
.p-form-dark-extra3color1 .sp-palette .sp-thumb-el:hover,
.p-form-dark-extra3color1 .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #1e2009;
  color: #1e2009;
}
.p-form-dark-extra3color1 .sp-clear:hover:after,
.p-form-dark-extra3color1 .sp-palette .sp-thumb-el:hover:after,
.p-form-dark-extra3color1 .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fafaef;
}
.p-form-dark-extra3color1 .sp-input {
  border-color: #5e631d;
}
.p-form-dark-extra3color1 .sp-choose,
.p-form-dark-extra3color1 .sp-cancel,
.p-form-dark-extra3color1 .sp-palette-toggle {
  color: #fafaef;
}
.p-form-dark-extra3color1 .sp-choose:hover,
.p-form-dark-extra3color1 .sp-cancel:hover,
.p-form-dark-extra3color1 .sp-palette-toggle:hover,
.p-form-dark-extra3color1 .sp-choose:focus,
.p-form-dark-extra3color1 .sp-cancel:focus,
.p-form-dark-extra3color1 .sp-palette-toggle:focus,
.p-form-dark-extra3color1 .sp-choose:active,
.p-form-dark-extra3color1 .sp-cancel:active,
.p-form-dark-extra3color1 .sp-palette-toggle:active {
  color: #d8de8c;
}
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #4b4f17;
  color: #4b4f17;
}
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #777e25;
  color: #777e25;
}
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #bfc946;
}
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-dark-extra3color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #a9b234;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget {
  background-color: #4b4f17;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #d8de8d;
  background-color: #2d2f0e;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table thead th {
  background-color: #2d2f0e;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td div:hover,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td span:hover {
  color: #1e2009;
  background-color: #787e25;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td a,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td .btn {
  color: #e0e5a5;
  background-color: transparent;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #2d2f0e;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .old,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .new {
  color: #ebeec4;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table td .active,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .active div {
  background-color: #2d2f0e;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(224,229,165,0);
  border-bottom-color: #e0e5a5;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #787e25;
  background-color: #4b4f17;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #787e25;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #5a5e1c;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #4b4f17;
}
.p-form-dark-extra3color1 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #2d2f0e;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget {
  color: #7c8326;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e0e5a5;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #e0e5a5;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #e0e5a5;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #4f5418;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(207,215,117,0);
  border-bottom-color: #cfd775;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #4b4f17;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #4b4f17;
}
.p-form-dark-extra3color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #2d2f0e;
}
.p-form-dark-extra3color1 .p-js-link {
  color: #5e631d;
}
.p-form-dark-extra3color1 .p-js-link:hover,
.p-form-dark-extra3color1 .p-show-js-block .p-js-link:hover,
.p-form-dark-extra3color1 .p-field-toggled .p-js-link:hover,
.p-form-dark-extra3color1 .p-js-link:focus,
.p-form-dark-extra3color1 .p-show-js-block .p-js-link:focus,
.p-form-dark-extra3color1 .p-field-toggled .p-js-link:focus {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-js-active-link,
.p-form-dark-extra3color1 .p-show-js-block .p-js-link,
.p-form-dark-extra3color1 .p-field-toggled .p-js-link {
  color: #cfd775;
}
.p-form-dark-extra3color1 .input-group .realperson-challenge .realperson-regen {
  color: #bfc946;
}
.p-form-dark-extra3color1 .input-group .realperson-challenge .realperson-regen:hover {
  color: #a9b234;
}
.p-form-dark-extra3color1 .input-group .realperson-challenge .realperson-text:hover {
  color: #cfd775;
}
.p-form-dark-extra3color1 .p-slider-block .p-js-value,
.p-form-dark-extra3color1 .p-sl-tip {
  background-color: #1e2009;
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .p-sl-tip:before {
  border-color: rgba(191,201,70,0);
}
.p-form-dark-extra3color1 .ui-slider:before {
  border-color: #343710;
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .ui-slider-range {
  background-color: #bfc946;
}
.p-form-dark-extra3color1 .ui-slider-handle:after {
  background-color: #1e2009;
  border-color: #bfc946;
}
.p-form-dark-extra3color1 .ui-slider-handle .p-sl-icon {
  background-color: #bfc946;
  color: #1e2009;
}
.p-form-dark-extra3color1 .ui-slider-handle.ui-state-focus:after,
.p-form-dark-extra3color1 .ui-slider-handle.ui-state-active:after,
.p-form-dark-extra3color1 .ui-slider-handle.ui-state-hover:after {
  border-color: #a9b234;
}
.p-form-dark-extra3color1 .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-dark-extra3color1 .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-dark-extra3color1 .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #a9b234;
}
.p-form-dark-extra3color1 .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #bfc946;
}
.p-form-dark-extra3color1 .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #bfc946;
}
.p-form-dark-extra3color1 .sl-v-simple .ui-slider:before {
  background-color: #343710;
}
.p-form-dark-extra3color1 .sl-v-modern .ui-slider:before,
.p-form-dark-extra3color1 .sl-v-bordered .ui-slider:before {
  border-color: #4b4f17;
}
.p-form-dark-extra3color1 .sl-v-top .ui-slider:before {
  background-color: #343710;
}
.p-form-dark-extra3color1 .sl-v-flat .ui-slider:before {
  background-color: #343710;
}
.p-form-dark-extra3color1 .pt-form-panel,
.p-form-dark-extra3color1 .pt-form-cross-panel {
  background-color: #292b0d;
}
.p-form-dark-extra3color1 .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .pt-form-cross-panel .p-switch-icon {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .p-rating .p-field-cancel {
  color: #5e631d;
}
.p-form-dark-extra3color1 .p-rating .p-rating-icon {
  color: #5e631d;
}
.p-form-dark-extra3color1 .p-rating .p-rating-active-icon {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #5e631d;
}
.p-form-dark-extra3color1 .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-dark-extra3color1 .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-dark-extra3color1 .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-dark-extra3color1 .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-dark-extra3color1 .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #5e631d;
}
.p-form-dark-extra3color1 .p-field-readonly .p-no-preview,
.p-form-dark-extra3color1 .p-field-disabled .p-no-preview {
  background-color: #292b0d;
}
.p-form-dark-extra3color1 .p-field-readonly .p-rating .p-rating-icon,
.p-form-dark-extra3color1 .p-field-disabled .p-rating .p-rating-icon {
  color: #292b0d;
}
.p-form-dark-extra3color1 .p-field-error .p-no-preview {
  border-color: #c70000;
}
.p-form-dark-extra3color1 .p-form-steps:before {
  background-color: #5e631d;
}
.p-form-dark-extra3color1 .p-form-steps > li.active .p-step:before {
  background-color: #9aa22f;
}
.p-form-dark-extra3color1 .p-form-steps > li.active ~ li .p-step-text {
  background-color: #5e631d;
}
.p-form-dark-extra3color1 .p-step {
  color: #cad266;
}
.p-form-dark-extra3color1 .p-step .p-step-text {
  background-color: #9aa22f;
}
.p-form-dark-extra3color1 .nav-tabs {
  border-color: #434715;
  background-color: #5e631d;
}
.p-form-dark-extra3color1 .nav-tabs > li > label:hover,
.p-form-dark-extra3color1 .nav-tabs > li > label:focus {
  background-color: #a9b234;
}
.p-form-dark-extra3color1 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra3color1 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .p-title,
.p-form-dark-extra3color1 .p-subtitle {
  color: #bfc946;
}
.p-form-dark-extra3color1 .p-title-line,
.p-form-dark-extra3color1 .p-title-step-line,
.p-form-dark-extra3color1 .p-title-side {
  background-color: #5e631d;
}
.p-form-dark-extra3color1 .p-tooltip .p-tooltip-content {
  background-color: #9aa22f;
}
.p-form-dark-extra3color1 .p-tooltip .p-tooltip-content:after {
  border-color: rgba(154,162,47,0);
  border-top-color: #9aa22f;
}
.p-form-dark-extra3color1 .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-dark-extra3color1 .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-dark-extra3color1 .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(154,162,47,0);
  border-bottom-color: #9aa22f;
}
.p-form-dark-extra3color1 .p-bordered {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-extra3color1 .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-extra3color1 .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .p-tabs-offset > .nav-tabs > li > label {
  background-color: #5e631d;
}
.p-form-dark-extra3color1 .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-dark-extra3color1 .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #a9b234;
}
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra3color1 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1e2009;
}
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #434715;
}
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-dark-extra3color1 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #434715;
}
.p-form-dark-extra3color1 .p-alt-back,
.p-form-dark-extra3color1 .p-alt-back .p-form-bg {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra3color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-dark-extra3color1 .p-alt-back .p-table.table-striped > thead {
  background-color: #161807;
}
.p-form-dark-extra3color1 .p-alt-back .panel-fp > .panel-heading {
  background-color: #161807;
}
.p-form-dark-extra3color1 .p-alt-back .panel-fp > .panel-body {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-alt-back hr.p-flat {
  border-color: #161807;
}
.p-form-dark-extra3color1 .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-dark-extra3color1 .p-alt-back .p-picture-pick .p-check-block {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-bordered > .nav-tabs {
  border-color: #434715;
}
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra3color1 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0b0c03;
}
.p-form-dark-extra3color1 .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-dark-extra3color1 .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #0b0c03;
}
