/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-dark-slateGray .panel-fp {
  border-color: #2d3339;
}
.p-form-dark-slateGray .panel-fp > .panel-heading {
  background-color: #1b1f22;
  border-color: #2d3339;
}
.p-form-dark-slateGray .panel-fp > .panel-body {
  background-color: #121417;
}
.p-form-dark-slateGray .progress-bar-fp {
  background-color: #708090;
}
.p-form-dark-slateGray .btn {
  background-color: #708090;
}
.p-form-dark-slateGray .btn.p-active-btn,
.p-form-dark-slateGray .btn:hover,
.p-form-dark-slateGray .btn:focus {
  background-color: #5e6c79;
}
.p-form-dark-slateGray .radio label a,
.p-form-dark-slateGray .checkbox label a,
.p-form-dark-slateGray .p-switch label a,
.p-form-dark-slateGray .p-radioswitch label a {
  color: #5e6c79;
}
.p-form-dark-slateGray .p-show-block-heading a {
  color: #5e6c79;
}
.p-form-dark-slateGray .p-check-active-icon {
  color: #708090;
}
.p-form-dark-slateGray .p-check-block {
  border-color: #313940;
}
.p-form-dark-slateGray .p-check-block:after {
  background-color: #708090;
  border-color: #708090;
}
.p-form-dark-slateGray .p-check-icon .p-check-middle {
  color: #313940;
}
.p-form-dark-slateGray .p-switch-icon {
  border-color: #313940;
}
.p-form-dark-slateGray .p-check-point:after {
  background-color: #708090;
  border-color: #708090;
}
.p-form-dark-slateGray .p-switch-icon:after {
  background-color: #708090;
  border-color: #708090;
}
.p-form-dark-slateGray .p-check-bordered {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-dark-slateGray :checked ~ .p-check-icon .p-check-middle {
  color: #708090;
}
.p-form-dark-slateGray .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-dark-slateGray :checked ~ .p-check-icon .p-check-block {
  border-color: #708090;
}
.p-form-dark-slateGray .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-dark-slateGray :checked ~ .p-switch-icon {
  border-color: #708090;
}
.p-form-dark-slateGray .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-dark-slateGray :checked ~ .p-switch-icon:before {
  color: #708090;
}
.p-form-dark-slateGray .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-dark-slateGray :checked ~ .p-check-highlight {
  background-color: #21262b;
}
.p-form-dark-slateGray .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-dark-slateGray :checked ~ .p-check-bordered {
  border-color: #a9b3bd;
}
.p-form-dark-slateGray label:hover .p-check-active-icon,
.p-form-dark-slateGray .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-dark-slateGray label:hover .p-check-icon .p-check-middle,
.p-form-dark-slateGray .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #929fab;
}
.p-form-dark-slateGray label:hover .p-check-icon .p-check-block,
.p-form-dark-slateGray .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #929fab;
}
.p-form-dark-slateGray label:hover .p-switch-icon,
.p-form-dark-slateGray .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #929fab;
}
.p-form-dark-slateGray label:hover .p-check-highlight,
.p-form-dark-slateGray .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #1b1f22;
}
.p-form-dark-slateGray label:hover .p-check-bordered,
.p-form-dark-slateGray .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #708090;
}
.p-form-dark-slateGray .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-dark-slateGray .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(49,57,64,0.7);
}
.p-form-dark-slateGray .p-picture-pick:hover .p-preview-name {
  background-color: rgba(94,108,121,0.7);
}
.p-form-dark-slateGray .p-show-block:checked + .p-show-block-heading:hover,
.p-form-dark-slateGray .p-show-block-heading:hover {
  color: #929fab;
}
.p-form-dark-slateGray .p-show-block:checked + .p-show-block-heading {
  color: #708090;
}
.p-form-dark-slateGray .p-picture-pick .p-switch-icon,
.p-form-dark-slateGray .p-picture-pick .p-check-block {
  background-color: #121417;
}
.p-form-dark-slateGray .p-radio-color .p-color-block {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-dark-slateGray .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #708090;
}
.p-form-dark-slateGray {
  color: #434d57;
}
.p-form-dark-slateGray .p-form-bg,
.p-form-dark-slateGray .p-form {
  background: #121417;
}
.p-form-dark-slateGray .p-colored-text {
  color: #708090;
}
.p-form-dark-slateGray .p-alt-colored-text {
  color: #708090;
}
.p-form-dark-slateGray .p-colored-link {
  color: #708090;
}
.p-form-dark-slateGray .p-colored-link:hover {
  color: #5e6c79;
}
.p-form-dark-slateGray .p-action-link {
  color: #434d57;
}
.p-form-dark-slateGray .p-action-link:hover {
  color: #5e6c79;
}
.p-form-dark-slateGray hr {
  border-color: #2d3339;
}
.p-form-dark-slateGray hr.p-flat {
  border-color: #1b1f22;
}
.p-form-dark-slateGray .p-table > thead > tr > td,
.p-form-dark-slateGray .p-table > tbody > tr > td,
.p-form-dark-slateGray .p-table > tfoot > tr > td,
.p-form-dark-slateGray .p-table > thead > tr > th,
.p-form-dark-slateGray .p-table > tbody > tr > th,
.p-form-dark-slateGray .p-table > tfoot > tr > th {
  border-color: #2d3339;
}
.p-form-dark-slateGray .p-table.table-striped > thead {
  background-color: #1b1f22;
  border-color: #2d3339;
}
.p-form-dark-slateGray .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #1b1f22;
}
.p-form-dark-slateGray .p-table.table-bordered {
  border-color: #2d3339;
}
.p-form-dark-slateGray .p-table.table-bordered > thead > tr > td,
.p-form-dark-slateGray .p-table.table-bordered > tbody > tr > td,
.p-form-dark-slateGray .p-table.table-bordered > tfoot > tr > td,
.p-form-dark-slateGray .p-table.table-bordered > thead > tr > th,
.p-form-dark-slateGray .p-table.table-bordered > tbody > tr > th,
.p-form-dark-slateGray .p-table.table-bordered > tfoot > tr > th {
  border-color: #2d3339;
}
.p-form-dark-slateGray select.form-control option {
  background-color: #121417;
}
.p-form-dark-slateGray .p-title .fa,
.p-form-dark-slateGray .p-subtitle .fa {
  color: #708090;
}
.p-form-dark-slateGray .p-field-cb {
  border-color: #313940;
}
.p-form-dark-slateGray .form-control {
  border-color: #313940;
}
.p-form-dark-slateGray .form-control:focus,
.p-form-dark-slateGray .form-control:hover,
.p-form-dark-slateGray .input-group:hover .form-control,
.p-form-dark-slateGray .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-dark-slateGray .sp-input:focus,
.p-form-dark-slateGray .sp-input:hover {
  border-color: #708090;
  -webkit-box-shadow: 0 0 3px #434d57, 0 0 3px #434d57 inset;
  box-shadow: 0 0 3px #434d57, 0 0 3px #434d57 inset;
}
.p-form-dark-slateGray .form-control:focus ~ .input-group-icon,
.p-form-dark-slateGray .form-control:hover ~ .input-group-icon,
.p-form-dark-slateGray .input-group:hover .input-group-icon,
.p-form-dark-slateGray .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-dark-slateGray .sp-input:focus ~ .input-group-icon,
.p-form-dark-slateGray .sp-input:hover ~ .input-group-icon,
.p-form-dark-slateGray .form-control:focus ~ .p-select-arrow,
.p-form-dark-slateGray .form-control:hover ~ .p-select-arrow,
.p-form-dark-slateGray .input-group:hover .p-select-arrow,
.p-form-dark-slateGray .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-dark-slateGray .sp-input:focus ~ .p-select-arrow,
.p-form-dark-slateGray .sp-input:hover ~ .p-select-arrow,
.p-form-dark-slateGray .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-slateGray .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-dark-slateGray .input-group:hover .input-group-addon .p-addon-bg,
.p-form-dark-slateGray .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-dark-slateGray .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-slateGray .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #434d57;
  background-color: #708090;
}
.p-form-dark-slateGray .form-control:focus ~ .p-field-cb,
.p-form-dark-slateGray .form-control:hover ~ .p-field-cb,
.p-form-dark-slateGray .input-group:hover .p-field-cb,
.p-form-dark-slateGray .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-dark-slateGray .sp-input:focus ~ .p-field-cb,
.p-form-dark-slateGray .sp-input:hover ~ .p-field-cb {
  border-color: #708090;
  -webkit-box-shadow: 0 0 3px #434d57, 0 0 3px #434d57 inset;
  box-shadow: 0 0 3px #434d57, 0 0 3px #434d57 inset;
}
.p-form-dark-slateGray .input-group-addon,
.p-form-dark-slateGray .input-group-icon,
.p-form-dark-slateGray .p-select-arrow {
  color: #708090;
}
.p-form-dark-slateGray .input-group-addon .p-addon-bg {
  background-color: #313940;
}
.p-form-dark-slateGray .p-custom-arrow .p-select-arrow {
  background-color: #121417;
}
.p-form-dark-slateGray .input-group-btn .btn {
  background-color: #5e6c79;
}
.p-form-dark-slateGray .input-group-btn .btn:hover,
.p-form-dark-slateGray .input-group-btn .btn:focus,
.p-form-dark-slateGray .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #434d57;
}
.p-form-dark-slateGray .p-no-preview {
  background-color: #313940;
  border-color: #3c464e;
}
.p-form-dark-slateGray .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #708090;
}
.p-form-dark-slateGray .ui-autocomplete {
  background-color: #121417;
  border-color: #708090;
}
.p-form-dark-slateGray .ui-autocomplete .ui-state-focus,
.p-form-dark-slateGray .ui-autocomplete .ui-state-active {
  color: #708090;
  background-color: rgba(112,128,144,0.1);
}
.p-form-dark-slateGray .sp-container {
  background-color: #2d3339;
}
.p-form-dark-slateGray .sp-initial,
.p-form-dark-slateGray .sp-clear,
.p-form-dark-slateGray .sp-palette .sp-thumb-el {
  border-color: #48525b;
  color: #48525b;
}
.p-form-dark-slateGray .sp-clear:hover,
.p-form-dark-slateGray .sp-palette .sp-thumb-el:hover,
.p-form-dark-slateGray .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #121417;
  color: #121417;
}
.p-form-dark-slateGray .sp-clear:hover:after,
.p-form-dark-slateGray .sp-palette .sp-thumb-el:hover:after,
.p-form-dark-slateGray .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f4f5f6;
}
.p-form-dark-slateGray .sp-input {
  border-color: #313940;
}
.p-form-dark-slateGray .sp-choose,
.p-form-dark-slateGray .sp-cancel,
.p-form-dark-slateGray .sp-palette-toggle {
  color: #f4f5f6;
}
.p-form-dark-slateGray .sp-choose:hover,
.p-form-dark-slateGray .sp-cancel:hover,
.p-form-dark-slateGray .sp-palette-toggle:hover,
.p-form-dark-slateGray .sp-choose:focus,
.p-form-dark-slateGray .sp-cancel:focus,
.p-form-dark-slateGray .sp-palette-toggle:focus,
.p-form-dark-slateGray .sp-choose:active,
.p-form-dark-slateGray .sp-cancel:active,
.p-form-dark-slateGray .sp-palette-toggle:active {
  color: #acb5be;
}
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #2d3339;
}
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #2d3339;
  color: #2d3339;
}
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #47525c;
  color: #47525c;
}
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #708090;
}
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #708090;
}
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-dark-slateGray .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #5e6c79;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget {
  background-color: #2d3339;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #a4aeb8;
  background-color: #1b1f22;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table thead th {
  background-color: #1b1f22;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td div:hover,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td span:hover {
  color: #121417;
  background-color: #48525b;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td a,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td .btn {
  color: #b5bdc5;
  background-color: transparent;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #1b1f22;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .old,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .new {
  color: #d4d9de;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table td .active,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .active div {
  background-color: #1b1f22;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(181,189,197,0);
  border-bottom-color: #b5bdc5;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #48525b;
  background-color: #2d3339;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-slateGray .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #48525b;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #363e44;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #2d3339;
}
.p-form-dark-slateGray .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #1b1f22;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget {
  color: #434d57;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #708090;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #b5bdc5;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #b5bdc5;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #708090;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #b5bdc5;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #282e34;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(146,159,171,0);
  border-bottom-color: #929fab;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #2d3339;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #2d3339;
}
.p-form-dark-slateGray .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #1b1f22;
}
.p-form-dark-slateGray .p-js-link {
  color: #313940;
}
.p-form-dark-slateGray .p-js-link:hover,
.p-form-dark-slateGray .p-show-js-block .p-js-link:hover,
.p-form-dark-slateGray .p-field-toggled .p-js-link:hover,
.p-form-dark-slateGray .p-js-link:focus,
.p-form-dark-slateGray .p-show-js-block .p-js-link:focus,
.p-form-dark-slateGray .p-field-toggled .p-js-link:focus {
  color: #708090;
}
.p-form-dark-slateGray .p-js-active-link,
.p-form-dark-slateGray .p-show-js-block .p-js-link,
.p-form-dark-slateGray .p-field-toggled .p-js-link {
  color: #929fab;
}
.p-form-dark-slateGray .input-group .realperson-challenge .realperson-regen {
  color: #708090;
}
.p-form-dark-slateGray .input-group .realperson-challenge .realperson-regen:hover {
  color: #5e6c79;
}
.p-form-dark-slateGray .input-group .realperson-challenge .realperson-text:hover {
  color: #929fab;
}
.p-form-dark-slateGray .p-slider-block .p-js-value,
.p-form-dark-slateGray .p-sl-tip {
  background-color: #121417;
  border-color: #708090;
}
.p-form-dark-slateGray .p-sl-tip:before {
  border-color: rgba(112,128,144,0);
}
.p-form-dark-slateGray .ui-slider:before {
  border-color: #1f2428;
  background-color: #121417;
}
.p-form-dark-slateGray .ui-slider-range {
  background-color: #708090;
}
.p-form-dark-slateGray .ui-slider-handle:after {
  background-color: #121417;
  border-color: #708090;
}
.p-form-dark-slateGray .ui-slider-handle .p-sl-icon {
  background-color: #708090;
  color: #121417;
}
.p-form-dark-slateGray .ui-slider-handle.ui-state-focus:after,
.p-form-dark-slateGray .ui-slider-handle.ui-state-active:after,
.p-form-dark-slateGray .ui-slider-handle.ui-state-hover:after {
  border-color: #5e6c79;
}
.p-form-dark-slateGray .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-dark-slateGray .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-dark-slateGray .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #5e6c79;
}
.p-form-dark-slateGray .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #708090;
}
.p-form-dark-slateGray .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #708090;
}
.p-form-dark-slateGray .sl-v-simple .ui-slider:before {
  background-color: #1f2428;
}
.p-form-dark-slateGray .sl-v-modern .ui-slider:before,
.p-form-dark-slateGray .sl-v-bordered .ui-slider:before {
  border-color: #2d3339;
}
.p-form-dark-slateGray .sl-v-top .ui-slider:before {
  background-color: #1f2428;
}
.p-form-dark-slateGray .sl-v-flat .ui-slider:before {
  background-color: #1f2428;
}
.p-form-dark-slateGray .pt-form-panel,
.p-form-dark-slateGray .pt-form-cross-panel {
  background-color: #191c20;
}
.p-form-dark-slateGray .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #121417;
}
.p-form-dark-slateGray .pt-form-cross-panel .p-switch-icon {
  background-color: #121417;
}
.p-form-dark-slateGray .p-rating .p-field-cancel {
  color: #313940;
}
.p-form-dark-slateGray .p-rating .p-rating-icon {
  color: #313940;
}
.p-form-dark-slateGray .p-rating .p-rating-active-icon {
  color: #708090;
}
.p-form-dark-slateGray .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #313940;
}
.p-form-dark-slateGray .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-dark-slateGray .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-dark-slateGray .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #708090;
}
.p-form-dark-slateGray .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #708090;
}
.p-form-dark-slateGray .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-dark-slateGray .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-dark-slateGray .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #313940;
}
.p-form-dark-slateGray .p-field-readonly .p-no-preview,
.p-form-dark-slateGray .p-field-disabled .p-no-preview {
  background-color: #191c20;
}
.p-form-dark-slateGray .p-field-readonly .p-rating .p-rating-icon,
.p-form-dark-slateGray .p-field-disabled .p-rating .p-rating-icon {
  color: #191c20;
}
.p-form-dark-slateGray .p-field-error .p-no-preview {
  border-color: #c70000;
}
.p-form-dark-slateGray .p-form-steps:before {
  background-color: #313940;
}
.p-form-dark-slateGray .p-form-steps > li.active .p-step:before {
  background-color: #55616e;
}
.p-form-dark-slateGray .p-form-steps > li.active ~ li .p-step-text {
  background-color: #313940;
}
.p-form-dark-slateGray .p-step {
  color: #8794a2;
}
.p-form-dark-slateGray .p-step .p-step-text {
  background-color: #55616e;
}
.p-form-dark-slateGray .nav-tabs {
  border-color: #282e34;
  background-color: #313940;
}
.p-form-dark-slateGray .nav-tabs > li > label:hover,
.p-form-dark-slateGray .nav-tabs > li > label:focus {
  background-color: #5e6c79;
}
.p-form-dark-slateGray .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-slateGray .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-slateGray .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-slateGray .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-slateGray .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-slateGray .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-slateGray .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-slateGray .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-slateGray .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-slateGray .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-slateGray .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-slateGray .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-slateGray .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-slateGray .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-slateGray .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #121417;
}
.p-form-dark-slateGray .p-title,
.p-form-dark-slateGray .p-subtitle {
  color: #708090;
}
.p-form-dark-slateGray .p-title-line,
.p-form-dark-slateGray .p-title-step-line,
.p-form-dark-slateGray .p-title-side {
  background-color: #313940;
}
.p-form-dark-slateGray .p-tooltip .p-tooltip-content {
  background-color: #55616e;
}
.p-form-dark-slateGray .p-tooltip .p-tooltip-content:after {
  border-color: rgba(85,97,110,0);
  border-top-color: #55616e;
}
.p-form-dark-slateGray .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-dark-slateGray .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-dark-slateGray .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(85,97,110,0);
  border-bottom-color: #55616e;
}
.p-form-dark-slateGray .p-bordered {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-slateGray .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-slateGray .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #121417;
}
.p-form-dark-slateGray .p-tabs-offset > .nav-tabs > li > label {
  background-color: #313940;
}
.p-form-dark-slateGray .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-dark-slateGray .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #5e6c79;
}
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-slateGray .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #121417;
}
.p-form-dark-slateGray .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #282e34;
}
.p-form-dark-slateGray .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-dark-slateGray .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #282e34;
}
.p-form-dark-slateGray .p-alt-back,
.p-form-dark-slateGray .p-alt-back .p-form-bg {
  background-color: #070809;
}
.p-form-dark-slateGray .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #070809;
}
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-slateGray .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #070809;
}
.p-form-dark-slateGray .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-dark-slateGray .p-alt-back .p-table.table-striped > thead {
  background-color: #0d0f11;
}
.p-form-dark-slateGray .p-alt-back .panel-fp > .panel-heading {
  background-color: #0d0f11;
}
.p-form-dark-slateGray .p-alt-back .panel-fp > .panel-body {
  background-color: #070809;
}
.p-form-dark-slateGray .p-alt-back hr.p-flat {
  border-color: #0d0f11;
}
.p-form-dark-slateGray .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #070809;
}
.p-form-dark-slateGray .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-dark-slateGray .p-alt-back .p-picture-pick .p-check-block {
  background-color: #070809;
}
.p-form-dark-slateGray .p-bordered > .nav-tabs {
  border-color: #282e34;
}
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-slateGray .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #070809;
}
.p-form-dark-slateGray .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-dark-slateGray .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #070809;
}
