/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-dark-flame .panel-fp {
  border-color: #5f1f07;
}
.p-form-dark-flame .panel-fp > .panel-heading {
  background-color: #391204;
  border-color: #5f1f07;
}
.p-form-dark-flame .panel-fp > .panel-body {
  background-color: #260c03;
}
.p-form-dark-flame .progress-bar-fp {
  background-color: #ed4d13;
}
.p-form-dark-flame .btn {
  background-color: #ed4d13;
}
.p-form-dark-flame .btn.p-active-btn,
.p-form-dark-flame .btn:hover,
.p-form-dark-flame .btn:focus {
  background-color: #c8400f;
}
.p-form-dark-flame .radio label a,
.p-form-dark-flame .checkbox label a,
.p-form-dark-flame .p-switch label a,
.p-form-dark-flame .p-radioswitch label a {
  color: #c8400f;
}
.p-form-dark-flame .p-show-block-heading a {
  color: #c8400f;
}
.p-form-dark-flame .p-check-active-icon {
  color: #ed4d13;
}
.p-form-dark-flame .p-check-block {
  border-color: #692208;
}
.p-form-dark-flame .p-check-block:after {
  background-color: #ed4d13;
  border-color: #ed4d13;
}
.p-form-dark-flame .p-check-icon .p-check-middle {
  color: #692208;
}
.p-form-dark-flame .p-switch-icon {
  border-color: #692208;
}
.p-form-dark-flame .p-check-point:after {
  background-color: #ed4d13;
  border-color: #ed4d13;
}
.p-form-dark-flame .p-switch-icon:after {
  background-color: #ed4d13;
  border-color: #ed4d13;
}
.p-form-dark-flame .p-check-bordered {
  border-color: #551b07;
}
.p-form-dark-flame .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-dark-flame :checked ~ .p-check-icon .p-check-middle {
  color: #ed4d13;
}
.p-form-dark-flame .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-dark-flame :checked ~ .p-check-icon .p-check-block {
  border-color: #ed4d13;
}
.p-form-dark-flame .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-dark-flame :checked ~ .p-switch-icon {
  border-color: #ed4d13;
}
.p-form-dark-flame .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-dark-flame :checked ~ .p-switch-icon:before {
  color: #ed4d13;
}
.p-form-dark-flame .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-dark-flame :checked ~ .p-check-highlight {
  background-color: #471705;
}
.p-form-dark-flame .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-dark-flame :checked ~ .p-check-bordered {
  border-color: #f49472;
}
.p-form-dark-flame label:hover .p-check-active-icon,
.p-form-dark-flame .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-dark-flame label:hover .p-check-icon .p-check-middle,
.p-form-dark-flame .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #f1784c;
}
.p-form-dark-flame label:hover .p-check-icon .p-check-block,
.p-form-dark-flame .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #f1784c;
}
.p-form-dark-flame label:hover .p-switch-icon,
.p-form-dark-flame .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #f1784c;
}
.p-form-dark-flame label:hover .p-check-highlight,
.p-form-dark-flame .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #391204;
}
.p-form-dark-flame label:hover .p-check-bordered,
.p-form-dark-flame .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #ed4d13;
}
.p-form-dark-flame .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-dark-flame .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(105,34,8,0.7);
}
.p-form-dark-flame .p-picture-pick:hover .p-preview-name {
  background-color: rgba(200,64,15,0.7);
}
.p-form-dark-flame .p-show-block:checked + .p-show-block-heading:hover,
.p-form-dark-flame .p-show-block-heading:hover {
  color: #f1784c;
}
.p-form-dark-flame .p-show-block:checked + .p-show-block-heading {
  color: #ed4d13;
}
.p-form-dark-flame .p-picture-pick .p-switch-icon,
.p-form-dark-flame .p-picture-pick .p-check-block {
  background-color: #260c03;
}
.p-form-dark-flame .p-radio-color .p-color-block {
  border-color: #551b07;
}
.p-form-dark-flame .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-dark-flame .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #ed4d13;
}
.p-form-dark-flame {
  color: #8f2e0b;
}
.p-form-dark-flame .p-form-bg,
.p-form-dark-flame .p-form {
  background: #260c03;
}
.p-form-dark-flame .p-colored-text {
  color: #ed4d13;
}
.p-form-dark-flame .p-alt-colored-text {
  color: #ed4d13;
}
.p-form-dark-flame .p-colored-link {
  color: #ed4d13;
}
.p-form-dark-flame .p-colored-link:hover {
  color: #c8400f;
}
.p-form-dark-flame .p-action-link {
  color: #8f2e0b;
}
.p-form-dark-flame .p-action-link:hover {
  color: #c8400f;
}
.p-form-dark-flame hr {
  border-color: #5f1f07;
}
.p-form-dark-flame hr.p-flat {
  border-color: #391204;
}
.p-form-dark-flame .p-table > thead > tr > td,
.p-form-dark-flame .p-table > tbody > tr > td,
.p-form-dark-flame .p-table > tfoot > tr > td,
.p-form-dark-flame .p-table > thead > tr > th,
.p-form-dark-flame .p-table > tbody > tr > th,
.p-form-dark-flame .p-table > tfoot > tr > th {
  border-color: #5f1f07;
}
.p-form-dark-flame .p-table.table-striped > thead {
  background-color: #391204;
  border-color: #5f1f07;
}
.p-form-dark-flame .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #391204;
}
.p-form-dark-flame .p-table.table-bordered {
  border-color: #5f1f07;
}
.p-form-dark-flame .p-table.table-bordered > thead > tr > td,
.p-form-dark-flame .p-table.table-bordered > tbody > tr > td,
.p-form-dark-flame .p-table.table-bordered > tfoot > tr > td,
.p-form-dark-flame .p-table.table-bordered > thead > tr > th,
.p-form-dark-flame .p-table.table-bordered > tbody > tr > th,
.p-form-dark-flame .p-table.table-bordered > tfoot > tr > th {
  border-color: #5f1f07;
}
.p-form-dark-flame select.form-control option {
  background-color: #260c03;
}
.p-form-dark-flame .p-title .fa,
.p-form-dark-flame .p-subtitle .fa {
  color: #ed4d13;
}
.p-form-dark-flame .p-field-cb {
  border-color: #692208;
}
.p-form-dark-flame .form-control {
  border-color: #692208;
}
.p-form-dark-flame .form-control:focus,
.p-form-dark-flame .form-control:hover,
.p-form-dark-flame .input-group:hover .form-control,
.p-form-dark-flame .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-dark-flame .sp-input:focus,
.p-form-dark-flame .sp-input:hover {
  border-color: #ed4d13;
  -webkit-box-shadow: 0 0 3px #8f2e0b, 0 0 3px #8f2e0b inset;
  box-shadow: 0 0 3px #8f2e0b, 0 0 3px #8f2e0b inset;
}
.p-form-dark-flame .form-control:focus ~ .input-group-icon,
.p-form-dark-flame .form-control:hover ~ .input-group-icon,
.p-form-dark-flame .input-group:hover .input-group-icon,
.p-form-dark-flame .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-dark-flame .sp-input:focus ~ .input-group-icon,
.p-form-dark-flame .sp-input:hover ~ .input-group-icon,
.p-form-dark-flame .form-control:focus ~ .p-select-arrow,
.p-form-dark-flame .form-control:hover ~ .p-select-arrow,
.p-form-dark-flame .input-group:hover .p-select-arrow,
.p-form-dark-flame .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-dark-flame .sp-input:focus ~ .p-select-arrow,
.p-form-dark-flame .sp-input:hover ~ .p-select-arrow,
.p-form-dark-flame .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-flame .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-dark-flame .input-group:hover .input-group-addon .p-addon-bg,
.p-form-dark-flame .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-dark-flame .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-flame .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #8f2e0b;
  background-color: #ed4d13;
}
.p-form-dark-flame .form-control:focus ~ .p-field-cb,
.p-form-dark-flame .form-control:hover ~ .p-field-cb,
.p-form-dark-flame .input-group:hover .p-field-cb,
.p-form-dark-flame .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-dark-flame .sp-input:focus ~ .p-field-cb,
.p-form-dark-flame .sp-input:hover ~ .p-field-cb {
  border-color: #ed4d13;
  -webkit-box-shadow: 0 0 3px #8f2e0b, 0 0 3px #8f2e0b inset;
  box-shadow: 0 0 3px #8f2e0b, 0 0 3px #8f2e0b inset;
}
.p-form-dark-flame .input-group-addon,
.p-form-dark-flame .input-group-icon,
.p-form-dark-flame .p-select-arrow {
  color: #ed4d13;
}
.p-form-dark-flame .input-group-addon .p-addon-bg {
  background-color: #692208;
}
.p-form-dark-flame .p-custom-arrow .p-select-arrow {
  background-color: #260c03;
}
.p-form-dark-flame .input-group-btn .btn {
  background-color: #c8400f;
}
.p-form-dark-flame .input-group-btn .btn:hover,
.p-form-dark-flame .input-group-btn .btn:focus,
.p-form-dark-flame .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #8f2e0b;
}
.p-form-dark-flame .p-no-preview {
  background-color: #692208;
  border-color: #812a0a;
}
.p-form-dark-flame .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #ed4d13;
}
.p-form-dark-flame .ui-autocomplete {
  background-color: #260c03;
  border-color: #ed4d13;
}
.p-form-dark-flame .ui-autocomplete .ui-state-focus,
.p-form-dark-flame .ui-autocomplete .ui-state-active {
  color: #ed4d13;
  background-color: rgba(237,77,19,0.1);
}
.p-form-dark-flame .sp-container {
  background-color: #5f1f07;
}
.p-form-dark-flame .sp-initial,
.p-form-dark-flame .sp-clear,
.p-form-dark-flame .sp-palette .sp-thumb-el {
  border-color: #98320b;
  color: #98320b;
}
.p-form-dark-flame .sp-clear:hover,
.p-form-dark-flame .sp-palette .sp-thumb-el:hover,
.p-form-dark-flame .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #260c03;
  color: #260c03;
}
.p-form-dark-flame .sp-clear:hover:after,
.p-form-dark-flame .sp-palette .sp-thumb-el:hover:after,
.p-form-dark-flame .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fef1ec;
}
.p-form-dark-flame .sp-input {
  border-color: #692208;
}
.p-form-dark-flame .sp-choose,
.p-form-dark-flame .sp-cancel,
.p-form-dark-flame .sp-palette-toggle {
  color: #fef1ec;
}
.p-form-dark-flame .sp-choose:hover,
.p-form-dark-flame .sp-cancel:hover,
.p-form-dark-flame .sp-palette-toggle:hover,
.p-form-dark-flame .sp-choose:focus,
.p-form-dark-flame .sp-cancel:focus,
.p-form-dark-flame .sp-palette-toggle:focus,
.p-form-dark-flame .sp-choose:active,
.p-form-dark-flame .sp-cancel:active,
.p-form-dark-flame .sp-palette-toggle:active {
  color: #f59875;
}
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #5f1f07;
}
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #5f1f07;
  color: #5f1f07;
}
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #98310c;
  color: #98310c;
}
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #ed4d13;
}
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #ed4d13;
}
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-dark-flame .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #c8400f;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget {
  background-color: #5f1f07;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #f48d68;
  background-color: #391204;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table thead th {
  background-color: #391204;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table td div:hover,
.p-form-dark-flame .bootstrap-datetimepicker-widget table td span:hover {
  color: #260c03;
  background-color: #98320b;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table td a,
.p-form-dark-flame .bootstrap-datetimepicker-widget table td .btn {
  color: #f6a385;
  background-color: transparent;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-flame .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-flame .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-flame .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #391204;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table .old,
.p-form-dark-flame .bootstrap-datetimepicker-widget table .new {
  color: #fac9b8;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table td .active,
.p-form-dark-flame .bootstrap-datetimepicker-widget table .active div {
  background-color: #391204;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(246,163,133,0);
  border-bottom-color: #f6a385;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-flame .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-flame .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-flame .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #98320b;
  background-color: #5f1f07;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-flame .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #98320b;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #722408;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #5f1f07;
}
.p-form-dark-flame .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #391204;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget {
  color: #8f2e0b;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #ed4d13;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #f6a385;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #f6a385;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #ed4d13;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #f6a385;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #561c07;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(241,120,76,0);
  border-bottom-color: #f1784c;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #5f1f07;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #5f1f07;
}
.p-form-dark-flame .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #391204;
}
.p-form-dark-flame .p-js-link {
  color: #692208;
}
.p-form-dark-flame .p-js-link:hover,
.p-form-dark-flame .p-show-js-block .p-js-link:hover,
.p-form-dark-flame .p-field-toggled .p-js-link:hover,
.p-form-dark-flame .p-js-link:focus,
.p-form-dark-flame .p-show-js-block .p-js-link:focus,
.p-form-dark-flame .p-field-toggled .p-js-link:focus {
  color: #ed4d13;
}
.p-form-dark-flame .p-js-active-link,
.p-form-dark-flame .p-show-js-block .p-js-link,
.p-form-dark-flame .p-field-toggled .p-js-link {
  color: #f1784c;
}
.p-form-dark-flame .input-group .realperson-challenge .realperson-regen {
  color: #ed4d13;
}
.p-form-dark-flame .input-group .realperson-challenge .realperson-regen:hover {
  color: #c8400f;
}
.p-form-dark-flame .input-group .realperson-challenge .realperson-text:hover {
  color: #f1784c;
}
.p-form-dark-flame .p-slider-block .p-js-value,
.p-form-dark-flame .p-sl-tip {
  background-color: #260c03;
  border-color: #ed4d13;
}
.p-form-dark-flame .p-sl-tip:before {
  border-color: rgba(237,77,19,0);
}
.p-form-dark-flame .ui-slider:before {
  border-color: #421505;
  background-color: #260c03;
}
.p-form-dark-flame .ui-slider-range {
  background-color: #ed4d13;
}
.p-form-dark-flame .ui-slider-handle:after {
  background-color: #260c03;
  border-color: #ed4d13;
}
.p-form-dark-flame .ui-slider-handle .p-sl-icon {
  background-color: #ed4d13;
  color: #260c03;
}
.p-form-dark-flame .ui-slider-handle.ui-state-focus:after,
.p-form-dark-flame .ui-slider-handle.ui-state-active:after,
.p-form-dark-flame .ui-slider-handle.ui-state-hover:after {
  border-color: #c8400f;
}
.p-form-dark-flame .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-dark-flame .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-dark-flame .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #c8400f;
}
.p-form-dark-flame .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #ed4d13;
}
.p-form-dark-flame .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #ed4d13;
}
.p-form-dark-flame .sl-v-simple .ui-slider:before {
  background-color: #421505;
}
.p-form-dark-flame .sl-v-modern .ui-slider:before,
.p-form-dark-flame .sl-v-bordered .ui-slider:before {
  border-color: #5f1f07;
}
.p-form-dark-flame .sl-v-top .ui-slider:before {
  background-color: #421505;
}
.p-form-dark-flame .sl-v-flat .ui-slider:before {
  background-color: #421505;
}
.p-form-dark-flame .pt-form-panel,
.p-form-dark-flame .pt-form-cross-panel {
  background-color: #341104;
}
.p-form-dark-flame .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #260c03;
}
.p-form-dark-flame .pt-form-cross-panel .p-switch-icon {
  background-color: #260c03;
}
.p-form-dark-flame .p-rating .p-field-cancel {
  color: #692208;
}
.p-form-dark-flame .p-rating .p-rating-icon {
  color: #692208;
}
.p-form-dark-flame .p-rating .p-rating-active-icon {
  color: #ed4d13;
}
.p-form-dark-flame .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #692208;
}
.p-form-dark-flame .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-dark-flame .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-dark-flame .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #ed4d13;
}
.p-form-dark-flame .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #ed4d13;
}
.p-form-dark-flame .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-dark-flame .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-dark-flame .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #692208;
}
.p-form-dark-flame .p-field-readonly .p-no-preview,
.p-form-dark-flame .p-field-disabled .p-no-preview {
  background-color: #341104;
}
.p-form-dark-flame .p-field-readonly .p-rating .p-rating-icon,
.p-form-dark-flame .p-field-disabled .p-rating .p-rating-icon {
  color: #341104;
}
.p-form-dark-flame .p-field-error .p-no-preview {
  border-color: #c70000;
}
.p-form-dark-flame .p-form-steps:before {
  background-color: #692208;
}
.p-form-dark-flame .p-form-steps > li.active .p-step:before {
  background-color: #b53a0e;
}
.p-form-dark-flame .p-form-steps > li.active ~ li .p-step-text {
  background-color: #692208;
}
.p-form-dark-flame .p-step {
  color: #f06a39;
}
.p-form-dark-flame .p-step .p-step-text {
  background-color: #b53a0e;
}
.p-form-dark-flame .nav-tabs {
  border-color: #551b07;
  background-color: #692208;
}
.p-form-dark-flame .nav-tabs > li > label:hover,
.p-form-dark-flame .nav-tabs > li > label:focus {
  background-color: #c8400f;
}
.p-form-dark-flame .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-flame .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-flame .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-flame .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-flame .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-flame .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-flame .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-flame .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-flame .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-flame .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-flame .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-flame .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-flame .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-flame .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-flame .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #260c03;
}
.p-form-dark-flame .p-title,
.p-form-dark-flame .p-subtitle {
  color: #ed4d13;
}
.p-form-dark-flame .p-title-line,
.p-form-dark-flame .p-title-step-line,
.p-form-dark-flame .p-title-side {
  background-color: #692208;
}
.p-form-dark-flame .p-tooltip .p-tooltip-content {
  background-color: #b53a0e;
}
.p-form-dark-flame .p-tooltip .p-tooltip-content:after {
  border-color: rgba(181,58,14,0);
  border-top-color: #b53a0e;
}
.p-form-dark-flame .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-dark-flame .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-dark-flame .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(181,58,14,0);
  border-bottom-color: #b53a0e;
}
.p-form-dark-flame .p-bordered {
  border-color: #551b07;
}
.p-form-dark-flame .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-flame .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-flame .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #260c03;
}
.p-form-dark-flame .p-tabs-offset > .nav-tabs > li > label {
  background-color: #692208;
}
.p-form-dark-flame .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-dark-flame .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #c8400f;
}
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-flame .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #260c03;
}
.p-form-dark-flame .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #551b07;
}
.p-form-dark-flame .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #551b07;
}
.p-form-dark-flame .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #551b07;
}
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #551b07;
}
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-dark-flame .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #551b07;
}
.p-form-dark-flame .p-alt-back,
.p-form-dark-flame .p-alt-back .p-form-bg {
  background-color: #0e0501;
}
.p-form-dark-flame .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0e0501;
}
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-flame .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0e0501;
}
.p-form-dark-flame .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-dark-flame .p-alt-back .p-table.table-striped > thead {
  background-color: #1c0902;
}
.p-form-dark-flame .p-alt-back .panel-fp > .panel-heading {
  background-color: #1c0902;
}
.p-form-dark-flame .p-alt-back .panel-fp > .panel-body {
  background-color: #0e0501;
}
.p-form-dark-flame .p-alt-back hr.p-flat {
  border-color: #1c0902;
}
.p-form-dark-flame .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #0e0501;
}
.p-form-dark-flame .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-dark-flame .p-alt-back .p-picture-pick .p-check-block {
  background-color: #0e0501;
}
.p-form-dark-flame .p-bordered > .nav-tabs {
  border-color: #551b07;
}
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-flame .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0e0501;
}
.p-form-dark-flame .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-dark-flame .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #0e0501;
}
