/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-roundDark-goldenRod .panel-fp {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .panel-fp > .panel-heading {
  background-color: #352808;
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .panel-fp > .panel-body {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .progress-bar-fp {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .btn {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .btn.p-active-btn,
.p-form-roundDark-goldenRod .btn:hover,
.p-form-roundDark-goldenRod .btn:focus {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .radio label a,
.p-form-roundDark-goldenRod .checkbox label a,
.p-form-roundDark-goldenRod .p-switch label a,
.p-form-roundDark-goldenRod .p-radioswitch label a {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-show-block-heading a {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-check-active-icon {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-check-block {
  border-color: #504937;
}
.p-form-roundDark-goldenRod .p-check-block:after {
  background-color: #daa520;
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-switch-icon {
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .p-check-point:after {
  background-color: #daa520;
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-switch-icon:after {
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-check-bordered {
  border-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-roundDark-goldenRod :checked ~ .p-check-icon .p-check-middle {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-roundDark-goldenRod :checked ~ .p-switch-icon {
  background-color: #ebc975;
}
.p-form-roundDark-goldenRod .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-roundDark-goldenRod :checked ~ .p-switch-icon:after {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-roundDark-goldenRod :checked ~ .p-check-highlight {
  background-color: #43320a;
}
.p-form-roundDark-goldenRod .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-roundDark-goldenRod :checked ~ .p-check-bordered {
  border-color: #ebc975;
}
.p-form-roundDark-goldenRod label:hover .p-check-active-icon,
.p-form-roundDark-goldenRod .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-roundDark-goldenRod label:hover .p-check-icon .p-check-middle,
.p-form-roundDark-goldenRod .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #e6bb52;
}
.p-form-roundDark-goldenRod label:hover .p-check-icon .p-check-block,
.p-form-roundDark-goldenRod .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #e6bb52;
}
.p-form-roundDark-goldenRod label:hover .p-switch-icon,
.p-form-roundDark-goldenRod .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #352808;
}
.p-form-roundDark-goldenRod label:hover .p-check-highlight,
.p-form-roundDark-goldenRod .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #352808;
}
.p-form-roundDark-goldenRod label:hover .p-check-bordered,
.p-form-roundDark-goldenRod .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-roundDark-goldenRod .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(93,71,14,0.7);
}
.p-form-roundDark-goldenRod .p-picture-pick:hover .p-preview-name {
  background-color: rgba(182,138,27,0.7);
}
.p-form-roundDark-goldenRod .p-show-block:checked + .p-show-block-heading:hover,
.p-form-roundDark-goldenRod .p-show-block-heading:hover {
  color: #e6bb52;
}
.p-form-roundDark-goldenRod .p-show-block:checked + .p-show-block-heading {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-picture-pick .p-switch-icon,
.p-form-roundDark-goldenRod .p-picture-pick .p-check-block {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .p-radio-color .p-color-block {
  border-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-roundDark-goldenRod .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-form-bg,
.p-form-roundDark-goldenRod .p-form {
  background: #241b05;
}
.p-form-roundDark-goldenRod .p-colored-text {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-alt-colored-text {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-colored-link {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-colored-link:hover {
  color: #a57d18;
}
.p-form-roundDark-goldenRod .p-action-link:hover {
  color: #daa520;
}
.p-form-roundDark-goldenRod hr {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod hr.p-flat {
  border-color: #352808;
}
.p-form-roundDark-goldenRod .p-table > thead > tr > td,
.p-form-roundDark-goldenRod .p-table > tbody > tr > td,
.p-form-roundDark-goldenRod .p-table > tfoot > tr > td,
.p-form-roundDark-goldenRod .p-table > thead > tr > th,
.p-form-roundDark-goldenRod .p-table > tbody > tr > th,
.p-form-roundDark-goldenRod .p-table > tfoot > tr > th {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .p-table.table-striped > thead {
  background-color: #352808;
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #352808;
}
.p-form-roundDark-goldenRod .p-table.table-bordered {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .p-table.table-bordered > thead > tr > td,
.p-form-roundDark-goldenRod .p-table.table-bordered > tbody > tr > td,
.p-form-roundDark-goldenRod .p-table.table-bordered > tfoot > tr > td,
.p-form-roundDark-goldenRod .p-table.table-bordered > thead > tr > th,
.p-form-roundDark-goldenRod .p-table.table-bordered > tbody > tr > th,
.p-form-roundDark-goldenRod .p-table.table-bordered > tfoot > tr > th {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod label {
  color: rgba(240,219,166,1);
}
.p-form-roundDark-goldenRod select.form-control option {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .p-title .fa,
.p-form-roundDark-goldenRod .p-subtitle .fa {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-field-cb {
  background-color: #504937;
  border-color: #504937;
}
.p-form-roundDark-goldenRod .form-control {
  border-color: #504937;
  background-color: #504937;
}
.p-form-roundDark-goldenRod .form-control:focus,
.p-form-roundDark-goldenRod .form-control:hover,
.p-form-roundDark-goldenRod .input-group:hover .form-control,
.p-form-roundDark-goldenRod .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-roundDark-goldenRod .sp-input:focus,
.p-form-roundDark-goldenRod .sp-input:hover {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .form-control:focus ~ .input-group-icon,
.p-form-roundDark-goldenRod .form-control:hover ~ .input-group-icon,
.p-form-roundDark-goldenRod .input-group:hover .input-group-icon,
.p-form-roundDark-goldenRod .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-roundDark-goldenRod .sp-input:focus ~ .input-group-icon,
.p-form-roundDark-goldenRod .sp-input:hover ~ .input-group-icon,
.p-form-roundDark-goldenRod .form-control:focus ~ .p-select-arrow,
.p-form-roundDark-goldenRod .form-control:hover ~ .p-select-arrow,
.p-form-roundDark-goldenRod .input-group:hover .p-select-arrow,
.p-form-roundDark-goldenRod .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-roundDark-goldenRod .sp-input:focus ~ .p-select-arrow,
.p-form-roundDark-goldenRod .sp-input:hover ~ .p-select-arrow,
.p-form-roundDark-goldenRod .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-goldenRod .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-goldenRod .input-group:hover .input-group-addon .p-addon-bg,
.p-form-roundDark-goldenRod .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-roundDark-goldenRod .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-goldenRod .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .form-control:focus ~ .p-field-cb,
.p-form-roundDark-goldenRod .form-control:hover ~ .p-field-cb,
.p-form-roundDark-goldenRod .input-group:hover .p-field-cb,
.p-form-roundDark-goldenRod .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-roundDark-goldenRod .sp-input:focus ~ .p-field-cb,
.p-form-roundDark-goldenRod .sp-input:hover ~ .p-field-cb {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .form-control::-webkit-input-placeholder {
  color: #f8edd2;
}
.p-form-roundDark-goldenRod .form-control::-moz-placeholder {
  color: #f8edd2;
}
.p-form-roundDark-goldenRod .form-control:-moz-placeholder {
  color: #f8edd2;
}
.p-form-roundDark-goldenRod .form-control:-ms-input-placeholder {
  color: #f8edd2;
}
.p-form-roundDark-goldenRod .p-custom-arrow .p-select-arrow {
  background-color: #504937;
}
.p-form-roundDark-goldenRod .input-group-btn .btn:hover,
.p-form-roundDark-goldenRod .input-group-btn .btn:focus,
.p-form-roundDark-goldenRod .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #daa520;
  -webkit-box-shadow: 0 3px 25px #daa520;
  box-shadow: 0 3px 25px #daa520;
}
.p-form-roundDark-goldenRod .p-file-wrap ~ .input-group [type="text"] {
  background-color: #504937;
}
.p-form-roundDark-goldenRod .p-no-preview {
  background-color: #5d470e;
  border-color: #735811;
}
.p-form-roundDark-goldenRod .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #daa520;
}
.p-form-roundDark-goldenRod .ui-autocomplete {
  background-color: #241b05;
  border-color: #504937;
}
.p-form-roundDark-goldenRod .ui-autocomplete .ui-state-focus,
.p-form-roundDark-goldenRod .ui-autocomplete .ui-state-active {
  color: #daa520;
  background-color: rgba(218,165,32,0.1);
}
.p-form-roundDark-goldenRod .sp-container {
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .sp-initial,
.p-form-roundDark-goldenRod .sp-clear,
.p-form-roundDark-goldenRod .sp-palette .sp-thumb-el {
  border-color: #8e6b15;
  color: #8e6b15;
}
.p-form-roundDark-goldenRod .sp-clear:hover,
.p-form-roundDark-goldenRod .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-goldenRod .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #241b05;
  color: #241b05;
}
.p-form-roundDark-goldenRod .sp-clear:hover:after,
.p-form-roundDark-goldenRod .sp-palette .sp-thumb-el:hover:after,
.p-form-roundDark-goldenRod .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fcf8ed;
}
.p-form-roundDark-goldenRod .sp-input {
  border-color: #504937;
  background-color: #504937;
}
.p-form-roundDark-goldenRod .sp-choose,
.p-form-roundDark-goldenRod .sp-cancel,
.p-form-roundDark-goldenRod .sp-palette-toggle {
  color: #fcf8ed;
}
.p-form-roundDark-goldenRod .sp-choose:hover,
.p-form-roundDark-goldenRod .sp-cancel:hover,
.p-form-roundDark-goldenRod .sp-palette-toggle:hover,
.p-form-roundDark-goldenRod .sp-choose:focus,
.p-form-roundDark-goldenRod .sp-cancel:focus,
.p-form-roundDark-goldenRod .sp-palette-toggle:focus,
.p-form-roundDark-goldenRod .sp-choose:active,
.p-form-roundDark-goldenRod .sp-cancel:active,
.p-form-roundDark-goldenRod .sp-palette-toggle:active {
  color: #eccc7e;
}
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #59430d;
  color: #59430d;
}
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #8e6c15;
  color: #8e6c15;
}
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-roundDark-goldenRod .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget {
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e9c66c;
  background-color: #352808;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table thead th {
  background-color: #352808;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td div:hover,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #8e6b15;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td .btn {
  color: #edd087;
  background-color: transparent;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #352808;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .old,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .new {
  color: #f5e5bc;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table td .active,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .active div {
  background-color: #352808;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(237,208,135,0);
  border-bottom-color: #edd087;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #8e6b15;
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #8e6b15;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #6a5010;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #59430d;
}
.p-form-roundDark-goldenRod .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #352808;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #edd087;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #edd087;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #edd087;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(230,187,82,0);
  border-bottom-color: #e6bb52;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #59430d;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #59430d;
}
.p-form-roundDark-goldenRod .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #352808;
}
.p-form-roundDark-goldenRod .p-js-link:hover,
.p-form-roundDark-goldenRod .p-show-js-block .p-js-link:hover,
.p-form-roundDark-goldenRod .p-field-toggled .p-js-link:hover,
.p-form-roundDark-goldenRod .p-js-link:focus,
.p-form-roundDark-goldenRod .p-show-js-block .p-js-link:focus,
.p-form-roundDark-goldenRod .p-field-toggled .p-js-link:focus {
  color: #e3b440;
}
.p-form-roundDark-goldenRod .p-js-active-link,
.p-form-roundDark-goldenRod .p-show-js-block .p-js-link,
.p-form-roundDark-goldenRod .p-field-toggled .p-js-link {
  color: #daa520;
}
.p-form-roundDark-goldenRod .input-group .realperson-challenge .realperson-regen {
  color: #daa520;
}
.p-form-roundDark-goldenRod .input-group .realperson-challenge .realperson-regen:hover {
  color: #a57d18;
}
.p-form-roundDark-goldenRod .input-group .realperson-challenge .realperson-text:hover {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-slider-block .p-js-value,
.p-form-roundDark-goldenRod .p-sl-tip {
  background-color: #241b05;
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .p-sl-tip:before {
  border-color: rgba(218,165,32,0);
}
.p-form-roundDark-goldenRod .ui-slider:before {
  border-color: #59430d;
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .ui-slider-range {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .ui-slider-handle:after {
  background-color: #241b05;
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .ui-slider-handle .p-sl-icon {
  background-color: #daa520;
  color: #241b05;
}
.p-form-roundDark-goldenRod .ui-slider-handle.ui-state-focus:after,
.p-form-roundDark-goldenRod .ui-slider-handle.ui-state-active:after,
.p-form-roundDark-goldenRod .ui-slider-handle.ui-state-hover:after {
  border-color: #b68a1b;
}
.p-form-roundDark-goldenRod .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-roundDark-goldenRod .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-roundDark-goldenRod .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #b68a1b;
}
.p-form-roundDark-goldenRod .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #daa520;
}
.p-form-roundDark-goldenRod .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #daa520;
}
.p-form-roundDark-goldenRod .sl-v-simple .ui-slider:before {
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .sl-v-modern .ui-slider:before,
.p-form-roundDark-goldenRod .sl-v-bordered .ui-slider:before {
  border-color: #daa520;
}
.p-form-roundDark-goldenRod .sl-v-top .ui-slider:before {
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .sl-v-flat .ui-slider:before {
  background-color: #59430d;
}
.p-form-roundDark-goldenRod .pt-form-panel,
.p-form-roundDark-goldenRod .pt-form-cross-panel {
  border-color: #59430d;
}
.p-form-roundDark-goldenRod .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .p-rating .p-rating-active-icon {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-roundDark-goldenRod .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-roundDark-goldenRod .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-roundDark-goldenRod .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-roundDark-goldenRod .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-roundDark-goldenRod .input-group-state {
  color: #f8edd2;
}
.p-form-roundDark-goldenRod .form-control[readonly],
.p-form-roundDark-goldenRod .form-control[disabled] {
  background-color: #312507;
}
.p-form-roundDark-goldenRod .p-field-readonly .p-switch-icon,
.p-form-roundDark-goldenRod .p-field-disabled .p-switch-icon,
.p-form-roundDark-goldenRod .p-field-readonly .p-check-icon .p-check-block,
.p-form-roundDark-goldenRod .p-field-disabled .p-check-icon .p-check-block,
.p-form-roundDark-goldenRod .p-field-readonly .p-field-cb,
.p-form-roundDark-goldenRod .p-field-disabled .p-field-cb {
  background-color: #312507;
  border-color: #312507;
}
.p-form-roundDark-goldenRod .p-field-readonly .p-no-preview,
.p-form-roundDark-goldenRod .p-field-disabled .p-no-preview {
  background-color: #413b2d;
  border-color: #312507;
}
.p-form-roundDark-goldenRod .p-field-readonly .p-rating .p-rating-icon,
.p-form-roundDark-goldenRod .p-field-disabled .p-rating .p-rating-icon {
  color: #413b2d;
}
.p-form-roundDark-goldenRod .nav-tabs {
  border-color: #503d0c;
  background-color: #352808;
}
.p-form-roundDark-goldenRod .nav-tabs > li > label:hover,
.p-form-roundDark-goldenRod .nav-tabs > li > label:focus {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-goldenRod .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #241b05;
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-title-line,
.p-form-roundDark-goldenRod .p-title-step-line,
.p-form-roundDark-goldenRod .p-title-side {
  background-color: #5d470e;
}
.p-form-roundDark-goldenRod .p-tooltip .p-tooltip-content {
  background-color: #a57d18;
}
.p-form-roundDark-goldenRod .p-tooltip .p-tooltip-content:after {
  border-color: rgba(165,125,24,0);
  border-top-color: #a57d18;
}
.p-form-roundDark-goldenRod .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-roundDark-goldenRod .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-roundDark-goldenRod .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(165,125,24,0);
  border-bottom-color: #a57d18;
}
.p-form-roundDark-goldenRod .p-bordered {
  border-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-goldenRod .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-goldenRod .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #241b05;
}
.p-form-roundDark-goldenRod .p-tabs-offset > .nav-tabs > li > label {
  background-color: #352808;
}
.p-form-roundDark-goldenRod .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-roundDark-goldenRod .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-goldenRod .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #241b05;
  color: #daa520;
}
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-roundDark-goldenRod .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #503d0c;
}
.p-form-roundDark-goldenRod .p-alt-back,
.p-form-roundDark-goldenRod .p-alt-back .p-form-bg {
  background-color: #fefcf6;
}
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fefcf6;
}
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-goldenRod .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fefcf6;
}
.p-form-roundDark-goldenRod .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-roundDark-goldenRod .p-alt-back .p-table.table-striped > thead {
  background-color: #fcf6e9;
}
.p-form-roundDark-goldenRod .p-alt-back .panel-fp > .panel-heading {
  background-color: #fcf6e9;
}
.p-form-roundDark-goldenRod .p-alt-back .panel-fp > .panel-body {
  background-color: #fefcf6;
}
.p-form-roundDark-goldenRod .p-alt-back hr.p-flat {
  border-color: #fcf6e9;
}
.p-form-roundDark-goldenRod .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #504937;
}
.p-form-roundDark-goldenRod .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-roundDark-goldenRod .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fefcf6;
}
.p-form-roundDark-goldenRod .btn.p-active-btn,
.p-form-roundDark-goldenRod .btn:hover,
.p-form-roundDark-goldenRod .btn:focus {
  -webkit-box-shadow: 0 3px 25px #daa520;
  box-shadow: 0 3px 25px #daa520;
}
.p-form-roundDark-goldenRod .p-hide-form {
  background: #241b05;
}
.p-form-roundDark-goldenRod .p-form-steps > li.active .p-step:after {
  background-color: #352808;
}
.p-form-roundDark-goldenRod .p-form-steps > li.active:last-child .p-step:after {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .p-form-steps > li.active ~ li .p-step:before,
.p-form-roundDark-goldenRod .p-form-steps > li.active ~ li .p-step:after {
  background-color: #352808;
}
.p-form-roundDark-goldenRod .p-step:before,
.p-form-roundDark-goldenRod .p-step:after {
  background-color: #daa520;
}
.p-form-roundDark-goldenRod .p-step .p-step-text:before {
  background-color: #e6bb52;
}
