/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-roundDark-purple .panel-fp {
  border-color: #4d1941;
}
.p-form-roundDark-purple .panel-fp > .panel-heading {
  background-color: #2e0f27;
  border-color: #4d1941;
}
.p-form-roundDark-purple .panel-fp > .panel-body {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .progress-bar-fp {
  background-color: #b33996;
}
.p-form-roundDark-purple .btn {
  background-color: #b33996;
}
.p-form-roundDark-purple .btn.p-active-btn,
.p-form-roundDark-purple .btn:hover,
.p-form-roundDark-purple .btn:focus {
  background-color: #b33996;
}
.p-form-roundDark-purple .radio label a,
.p-form-roundDark-purple .checkbox label a,
.p-form-roundDark-purple .p-switch label a,
.p-form-roundDark-purple .p-radioswitch label a {
  color: #b33996;
}
.p-form-roundDark-purple .p-show-block-heading a {
  color: #b33996;
}
.p-form-roundDark-purple .p-check-active-icon {
  color: #b33996;
}
.p-form-roundDark-purple .p-check-block {
  border-color: #4c3b48;
}
.p-form-roundDark-purple .p-check-block:after {
  background-color: #b33996;
  border-color: #b33996;
}
.p-form-roundDark-purple .p-switch-icon {
  background-color: #4d1941;
}
.p-form-roundDark-purple .p-check-point:after {
  background-color: #b33996;
  border-color: #b33996;
}
.p-form-roundDark-purple .p-switch-icon:after {
  border-color: #b33996;
}
.p-form-roundDark-purple .p-check-bordered {
  border-color: #46163a;
}
.p-form-roundDark-purple .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-roundDark-purple :checked ~ .p-check-icon .p-check-middle {
  color: #b33996;
}
.p-form-roundDark-purple .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-roundDark-purple :checked ~ .p-switch-icon {
  background-color: #d57dc0;
}
.p-form-roundDark-purple .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-roundDark-purple :checked ~ .p-switch-icon:after {
  background-color: #b33996;
}
.p-form-roundDark-purple .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-roundDark-purple :checked ~ .p-check-highlight {
  background-color: #3a1231;
}
.p-form-roundDark-purple .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-roundDark-purple :checked ~ .p-check-bordered {
  border-color: #d57dc0;
}
.p-form-roundDark-purple label:hover .p-check-active-icon,
.p-form-roundDark-purple .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-roundDark-purple label:hover .p-check-icon .p-check-middle,
.p-form-roundDark-purple .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #cc5eb1;
}
.p-form-roundDark-purple label:hover .p-check-icon .p-check-block,
.p-form-roundDark-purple .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #cc5eb1;
}
.p-form-roundDark-purple label:hover .p-switch-icon,
.p-form-roundDark-purple .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #2e0f27;
}
.p-form-roundDark-purple label:hover .p-check-highlight,
.p-form-roundDark-purple .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #2e0f27;
}
.p-form-roundDark-purple label:hover .p-check-bordered,
.p-form-roundDark-purple .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #b33996;
}
.p-form-roundDark-purple .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-roundDark-purple .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(71,23,59,0.7);
}
.p-form-roundDark-purple .p-picture-pick:hover .p-preview-name {
  background-color: rgba(148,47,124,0.7);
}
.p-form-roundDark-purple .p-show-block:checked + .p-show-block-heading:hover,
.p-form-roundDark-purple .p-show-block-heading:hover {
  color: #cc5eb1;
}
.p-form-roundDark-purple .p-show-block:checked + .p-show-block-heading {
  color: #b33996;
}
.p-form-roundDark-purple .p-picture-pick .p-switch-icon,
.p-form-roundDark-purple .p-picture-pick .p-check-block {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .p-radio-color .p-color-block {
  border-color: #46163a;
}
.p-form-roundDark-purple .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-roundDark-purple .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #b33996;
}
.p-form-roundDark-purple .p-form-bg,
.p-form-roundDark-purple .p-form {
  background: #1f0a1a;
}
.p-form-roundDark-purple .p-colored-text {
  color: #b33996;
}
.p-form-roundDark-purple .p-alt-colored-text {
  color: #b33996;
}
.p-form-roundDark-purple .p-colored-link {
  color: #b33996;
}
.p-form-roundDark-purple .p-colored-link:hover {
  color: #852a6f;
}
.p-form-roundDark-purple .p-action-link:hover {
  color: #b33996;
}
.p-form-roundDark-purple hr {
  border-color: #4d1941;
}
.p-form-roundDark-purple hr.p-flat {
  border-color: #2e0f27;
}
.p-form-roundDark-purple .p-table > thead > tr > td,
.p-form-roundDark-purple .p-table > tbody > tr > td,
.p-form-roundDark-purple .p-table > tfoot > tr > td,
.p-form-roundDark-purple .p-table > thead > tr > th,
.p-form-roundDark-purple .p-table > tbody > tr > th,
.p-form-roundDark-purple .p-table > tfoot > tr > th {
  border-color: #4d1941;
}
.p-form-roundDark-purple .p-table.table-striped > thead {
  background-color: #2e0f27;
  border-color: #4d1941;
}
.p-form-roundDark-purple .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #2e0f27;
}
.p-form-roundDark-purple .p-table.table-bordered {
  border-color: #4d1941;
}
.p-form-roundDark-purple .p-table.table-bordered > thead > tr > td,
.p-form-roundDark-purple .p-table.table-bordered > tbody > tr > td,
.p-form-roundDark-purple .p-table.table-bordered > tfoot > tr > td,
.p-form-roundDark-purple .p-table.table-bordered > thead > tr > th,
.p-form-roundDark-purple .p-table.table-bordered > tbody > tr > th,
.p-form-roundDark-purple .p-table.table-bordered > tfoot > tr > th {
  border-color: #4d1941;
}
.p-form-roundDark-purple label {
  color: rgba(225,176,213,1);
}
.p-form-roundDark-purple select.form-control option {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .p-title .fa,
.p-form-roundDark-purple .p-subtitle .fa {
  color: #b33996;
}
.p-form-roundDark-purple .p-field-cb {
  background-color: #4c3b48;
  border-color: #4c3b48;
}
.p-form-roundDark-purple .form-control {
  border-color: #4c3b48;
  background-color: #4c3b48;
}
.p-form-roundDark-purple .form-control:focus,
.p-form-roundDark-purple .form-control:hover,
.p-form-roundDark-purple .input-group:hover .form-control,
.p-form-roundDark-purple .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-roundDark-purple .sp-input:focus,
.p-form-roundDark-purple .sp-input:hover {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .form-control:focus ~ .input-group-icon,
.p-form-roundDark-purple .form-control:hover ~ .input-group-icon,
.p-form-roundDark-purple .input-group:hover .input-group-icon,
.p-form-roundDark-purple .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-roundDark-purple .sp-input:focus ~ .input-group-icon,
.p-form-roundDark-purple .sp-input:hover ~ .input-group-icon,
.p-form-roundDark-purple .form-control:focus ~ .p-select-arrow,
.p-form-roundDark-purple .form-control:hover ~ .p-select-arrow,
.p-form-roundDark-purple .input-group:hover .p-select-arrow,
.p-form-roundDark-purple .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-roundDark-purple .sp-input:focus ~ .p-select-arrow,
.p-form-roundDark-purple .sp-input:hover ~ .p-select-arrow,
.p-form-roundDark-purple .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-purple .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-purple .input-group:hover .input-group-addon .p-addon-bg,
.p-form-roundDark-purple .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-roundDark-purple .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-purple .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #b33996;
}
.p-form-roundDark-purple .form-control:focus ~ .p-field-cb,
.p-form-roundDark-purple .form-control:hover ~ .p-field-cb,
.p-form-roundDark-purple .input-group:hover .p-field-cb,
.p-form-roundDark-purple .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-roundDark-purple .sp-input:focus ~ .p-field-cb,
.p-form-roundDark-purple .sp-input:hover ~ .p-field-cb {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .form-control::-webkit-input-placeholder {
  color: #f0d7ea;
}
.p-form-roundDark-purple .form-control::-moz-placeholder {
  color: #f0d7ea;
}
.p-form-roundDark-purple .form-control:-moz-placeholder {
  color: #f0d7ea;
}
.p-form-roundDark-purple .form-control:-ms-input-placeholder {
  color: #f0d7ea;
}
.p-form-roundDark-purple .p-custom-arrow .p-select-arrow {
  background-color: #4c3b48;
}
.p-form-roundDark-purple .input-group-btn .btn:hover,
.p-form-roundDark-purple .input-group-btn .btn:focus,
.p-form-roundDark-purple .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #b33996;
  -webkit-box-shadow: 0 3px 25px #b33996;
  box-shadow: 0 3px 25px #b33996;
}
.p-form-roundDark-purple .p-file-wrap ~ .input-group [type="text"] {
  background-color: #4c3b48;
}
.p-form-roundDark-purple .p-no-preview {
  background-color: #47173b;
  border-color: #5a1d4b;
}
.p-form-roundDark-purple .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #b33996;
}
.p-form-roundDark-purple .ui-autocomplete {
  background-color: #1f0a1a;
  border-color: #4c3b48;
}
.p-form-roundDark-purple .ui-autocomplete .ui-state-focus,
.p-form-roundDark-purple .ui-autocomplete .ui-state-active {
  color: #b33996;
  background-color: rgba(179,57,150,0.1);
}
.p-form-roundDark-purple .sp-container {
  background-color: #4d1941;
}
.p-form-roundDark-purple .sp-initial,
.p-form-roundDark-purple .sp-clear,
.p-form-roundDark-purple .sp-palette .sp-thumb-el {
  border-color: #7b2868;
  color: #7b2868;
}
.p-form-roundDark-purple .sp-clear:hover,
.p-form-roundDark-purple .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-purple .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #1f0a1a;
  color: #1f0a1a;
}
.p-form-roundDark-purple .sp-clear:hover:after,
.p-form-roundDark-purple .sp-palette .sp-thumb-el:hover:after,
.p-form-roundDark-purple .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #faf0f8;
}
.p-form-roundDark-purple .sp-input {
  border-color: #4c3b48;
  background-color: #4c3b48;
}
.p-form-roundDark-purple .sp-choose,
.p-form-roundDark-purple .sp-cancel,
.p-form-roundDark-purple .sp-palette-toggle {
  color: #faf0f8;
}
.p-form-roundDark-purple .sp-choose:hover,
.p-form-roundDark-purple .sp-cancel:hover,
.p-form-roundDark-purple .sp-palette-toggle:hover,
.p-form-roundDark-purple .sp-choose:focus,
.p-form-roundDark-purple .sp-cancel:focus,
.p-form-roundDark-purple .sp-palette-toggle:focus,
.p-form-roundDark-purple .sp-choose:active,
.p-form-roundDark-purple .sp-cancel:active,
.p-form-roundDark-purple .sp-palette-toggle:active {
  color: #db8fc9;
}
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #4d1941;
}
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #4d1941;
  color: #4d1941;
}
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #7c2768;
  color: #7c2768;
}
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #b33996;
}
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #b33996;
}
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-roundDark-purple .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #b33996;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget {
  background-color: #4d1941;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #d375bd;
  background-color: #2e0f27;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table thead th {
  background-color: #2e0f27;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td div:hover,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #7b2868;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td .btn {
  color: #da8cc8;
  background-color: transparent;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #2e0f27;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .old,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .new {
  color: #edc5e3;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table td .active,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .active div {
  background-color: #2e0f27;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(218,140,200,0);
  border-bottom-color: #da8cc8;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #7b2868;
  background-color: #4d1941;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-purple .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #7b2868;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #5c1e4e;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #4d1941;
}
.p-form-roundDark-purple .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #2e0f27;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #b33996;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #da8cc8;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #da8cc8;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #b33996;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #da8cc8;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(204,94,177,0);
  border-bottom-color: #cc5eb1;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #4d1941;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #4d1941;
}
.p-form-roundDark-purple .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #2e0f27;
}
.p-form-roundDark-purple .p-js-link:hover,
.p-form-roundDark-purple .p-show-js-block .p-js-link:hover,
.p-form-roundDark-purple .p-field-toggled .p-js-link:hover,
.p-form-roundDark-purple .p-js-link:focus,
.p-form-roundDark-purple .p-show-js-block .p-js-link:focus,
.p-form-roundDark-purple .p-field-toggled .p-js-link:focus {
  color: #c74eaa;
}
.p-form-roundDark-purple .p-js-active-link,
.p-form-roundDark-purple .p-show-js-block .p-js-link,
.p-form-roundDark-purple .p-field-toggled .p-js-link {
  color: #b33996;
}
.p-form-roundDark-purple .input-group .realperson-challenge .realperson-regen {
  color: #b33996;
}
.p-form-roundDark-purple .input-group .realperson-challenge .realperson-regen:hover {
  color: #852a6f;
}
.p-form-roundDark-purple .input-group .realperson-challenge .realperson-text:hover {
  color: #b33996;
}
.p-form-roundDark-purple .p-slider-block .p-js-value,
.p-form-roundDark-purple .p-sl-tip {
  background-color: #1f0a1a;
  border-color: #b33996;
}
.p-form-roundDark-purple .p-sl-tip:before {
  border-color: rgba(179,57,150,0);
}
.p-form-roundDark-purple .ui-slider:before {
  border-color: #4d1941;
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .ui-slider-range {
  background-color: #b33996;
}
.p-form-roundDark-purple .ui-slider-handle:after {
  background-color: #1f0a1a;
  border-color: #b33996;
}
.p-form-roundDark-purple .ui-slider-handle .p-sl-icon {
  background-color: #b33996;
  color: #1f0a1a;
}
.p-form-roundDark-purple .ui-slider-handle.ui-state-focus:after,
.p-form-roundDark-purple .ui-slider-handle.ui-state-active:after,
.p-form-roundDark-purple .ui-slider-handle.ui-state-hover:after {
  border-color: #942f7c;
}
.p-form-roundDark-purple .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-roundDark-purple .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-roundDark-purple .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #942f7c;
}
.p-form-roundDark-purple .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #b33996;
}
.p-form-roundDark-purple .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #b33996;
}
.p-form-roundDark-purple .sl-v-simple .ui-slider:before {
  background-color: #4d1941;
}
.p-form-roundDark-purple .sl-v-modern .ui-slider:before,
.p-form-roundDark-purple .sl-v-bordered .ui-slider:before {
  border-color: #b33996;
}
.p-form-roundDark-purple .sl-v-top .ui-slider:before {
  background-color: #4d1941;
}
.p-form-roundDark-purple .sl-v-flat .ui-slider:before {
  background-color: #4d1941;
}
.p-form-roundDark-purple .pt-form-panel,
.p-form-roundDark-purple .pt-form-cross-panel {
  border-color: #4d1941;
}
.p-form-roundDark-purple .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .p-rating .p-rating-active-icon {
  color: #b33996;
}
.p-form-roundDark-purple .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-roundDark-purple .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-roundDark-purple .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #b33996;
}
.p-form-roundDark-purple .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #b33996;
}
.p-form-roundDark-purple .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-roundDark-purple .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-roundDark-purple .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-roundDark-purple .input-group-state {
  color: #f0d7ea;
}
.p-form-roundDark-purple .form-control[readonly],
.p-form-roundDark-purple .form-control[disabled] {
  background-color: #2b0e24;
}
.p-form-roundDark-purple .p-field-readonly .p-switch-icon,
.p-form-roundDark-purple .p-field-disabled .p-switch-icon,
.p-form-roundDark-purple .p-field-readonly .p-check-icon .p-check-block,
.p-form-roundDark-purple .p-field-disabled .p-check-icon .p-check-block,
.p-form-roundDark-purple .p-field-readonly .p-field-cb,
.p-form-roundDark-purple .p-field-disabled .p-field-cb {
  background-color: #2b0e24;
  border-color: #2b0e24;
}
.p-form-roundDark-purple .p-field-readonly .p-no-preview,
.p-form-roundDark-purple .p-field-disabled .p-no-preview {
  background-color: #3e303a;
  border-color: #2b0e24;
}
.p-form-roundDark-purple .p-field-readonly .p-rating .p-rating-icon,
.p-form-roundDark-purple .p-field-disabled .p-rating .p-rating-icon {
  color: #3e303a;
}
.p-form-roundDark-purple .nav-tabs {
  border-color: #46163a;
  background-color: #2e0f27;
}
.p-form-roundDark-purple .nav-tabs > li > label:hover,
.p-form-roundDark-purple .nav-tabs > li > label:focus {
  background-color: #b33996;
}
.p-form-roundDark-purple .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-purple .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-purple .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-purple .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-purple .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-purple .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-purple .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-purple .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-purple .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-purple .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-purple .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-purple .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-purple .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-purple .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-purple .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1f0a1a;
  color: #b33996;
}
.p-form-roundDark-purple .p-title-line,
.p-form-roundDark-purple .p-title-step-line,
.p-form-roundDark-purple .p-title-side {
  background-color: #47173b;
}
.p-form-roundDark-purple .p-tooltip .p-tooltip-content {
  background-color: #852a6f;
}
.p-form-roundDark-purple .p-tooltip .p-tooltip-content:after {
  border-color: rgba(133,42,111,0);
  border-top-color: #852a6f;
}
.p-form-roundDark-purple .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-roundDark-purple .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-roundDark-purple .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(133,42,111,0);
  border-bottom-color: #852a6f;
}
.p-form-roundDark-purple .p-bordered {
  border-color: #46163a;
}
.p-form-roundDark-purple .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-purple .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-purple .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #1f0a1a;
}
.p-form-roundDark-purple .p-tabs-offset > .nav-tabs > li > label {
  background-color: #2e0f27;
}
.p-form-roundDark-purple .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-roundDark-purple .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #b33996;
}
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-purple .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1f0a1a;
  color: #b33996;
}
.p-form-roundDark-purple .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #46163a;
}
.p-form-roundDark-purple .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #46163a;
}
.p-form-roundDark-purple .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #46163a;
}
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #46163a;
}
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-roundDark-purple .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #46163a;
}
.p-form-roundDark-purple .p-alt-back,
.p-form-roundDark-purple .p-alt-back .p-form-bg {
  background-color: #fdf7fb;
}
.p-form-roundDark-purple .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fdf7fb;
}
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-purple .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fdf7fb;
}
.p-form-roundDark-purple .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-roundDark-purple .p-alt-back .p-table.table-striped > thead {
  background-color: #f9ecf6;
}
.p-form-roundDark-purple .p-alt-back .panel-fp > .panel-heading {
  background-color: #f9ecf6;
}
.p-form-roundDark-purple .p-alt-back .panel-fp > .panel-body {
  background-color: #fdf7fb;
}
.p-form-roundDark-purple .p-alt-back hr.p-flat {
  border-color: #f9ecf6;
}
.p-form-roundDark-purple .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #4c3b48;
}
.p-form-roundDark-purple .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-roundDark-purple .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fdf7fb;
}
.p-form-roundDark-purple .btn.p-active-btn,
.p-form-roundDark-purple .btn:hover,
.p-form-roundDark-purple .btn:focus {
  -webkit-box-shadow: 0 3px 25px #b33996;
  box-shadow: 0 3px 25px #b33996;
}
.p-form-roundDark-purple .p-hide-form {
  background: #1f0a1a;
}
.p-form-roundDark-purple .p-form-steps > li.active .p-step:after {
  background-color: #2e0f27;
}
.p-form-roundDark-purple .p-form-steps > li.active:last-child .p-step:after {
  background-color: #b33996;
}
.p-form-roundDark-purple .p-form-steps > li.active ~ li .p-step:before,
.p-form-roundDark-purple .p-form-steps > li.active ~ li .p-step:after {
  background-color: #2e0f27;
}
.p-form-roundDark-purple .p-step:before,
.p-form-roundDark-purple .p-step:after {
  background-color: #b33996;
}
.p-form-roundDark-purple .p-step .p-step-text:before {
  background-color: #cc5eb1;
}
