/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-roundDark-green .panel-fp {
  border-color: #184e20;
}
.p-form-roundDark-green .panel-fp > .panel-heading {
  background-color: #0f2f13;
  border-color: #184e20;
}
.p-form-roundDark-green .panel-fp > .panel-body {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .progress-bar-fp {
  background-color: #39b54a;
}
.p-form-roundDark-green .btn {
  background-color: #39b54a;
}
.p-form-roundDark-green .btn.p-active-btn,
.p-form-roundDark-green .btn:hover,
.p-form-roundDark-green .btn:focus {
  background-color: #39b54a;
}
.p-form-roundDark-green .radio label a,
.p-form-roundDark-green .checkbox label a,
.p-form-roundDark-green .p-switch label a,
.p-form-roundDark-green .p-radioswitch label a {
  color: #39b54a;
}
.p-form-roundDark-green .p-show-block-heading a {
  color: #39b54a;
}
.p-form-roundDark-green .p-check-active-icon {
  color: #39b54a;
}
.p-form-roundDark-green .p-check-block {
  border-color: #3b4c3d;
}
.p-form-roundDark-green .p-check-block:after {
  background-color: #39b54a;
  border-color: #39b54a;
}
.p-form-roundDark-green .p-switch-icon {
  background-color: #184e20;
}
.p-form-roundDark-green .p-check-point:after {
  background-color: #39b54a;
  border-color: #39b54a;
}
.p-form-roundDark-green .p-switch-icon:after {
  border-color: #39b54a;
}
.p-form-roundDark-green .p-check-bordered {
  border-color: #16461d;
}
.p-form-roundDark-green .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-roundDark-green :checked ~ .p-check-icon .p-check-middle {
  color: #39b54a;
}
.p-form-roundDark-green .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-roundDark-green :checked ~ .p-switch-icon {
  background-color: #7ed68a;
}
.p-form-roundDark-green .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-roundDark-green :checked ~ .p-switch-icon:after {
  background-color: #39b54a;
}
.p-form-roundDark-green .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-roundDark-green :checked ~ .p-check-highlight {
  background-color: #123a18;
}
.p-form-roundDark-green .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-roundDark-green :checked ~ .p-check-bordered {
  border-color: #7ed68a;
}
.p-form-roundDark-green label:hover .p-check-active-icon,
.p-form-roundDark-green .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-roundDark-green label:hover .p-check-icon .p-check-middle,
.p-form-roundDark-green .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #5fcd6e;
}
.p-form-roundDark-green label:hover .p-check-icon .p-check-block,
.p-form-roundDark-green .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #5fcd6e;
}
.p-form-roundDark-green label:hover .p-switch-icon,
.p-form-roundDark-green .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #0e2f13;
}
.p-form-roundDark-green label:hover .p-check-highlight,
.p-form-roundDark-green .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #0f2f13;
}
.p-form-roundDark-green label:hover .p-check-bordered,
.p-form-roundDark-green .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #39b54a;
}
.p-form-roundDark-green .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-roundDark-green .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(23,72,30,0.7);
}
.p-form-roundDark-green .p-picture-pick:hover .p-preview-name {
  background-color: rgba(47,150,61,0.7);
}
.p-form-roundDark-green .p-show-block:checked + .p-show-block-heading:hover,
.p-form-roundDark-green .p-show-block-heading:hover {
  color: #5fcd6e;
}
.p-form-roundDark-green .p-show-block:checked + .p-show-block-heading {
  color: #39b54a;
}
.p-form-roundDark-green .p-picture-pick .p-switch-icon,
.p-form-roundDark-green .p-picture-pick .p-check-block {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .p-radio-color .p-color-block {
  border-color: #16461d;
}
.p-form-roundDark-green .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-roundDark-green .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #39b54a;
}
.p-form-roundDark-green .p-form-bg,
.p-form-roundDark-green .p-form {
  background: #0a1f0d;
}
.p-form-roundDark-green .p-colored-text {
  color: #39b54a;
}
.p-form-roundDark-green .p-alt-colored-text {
  color: #39b54a;
}
.p-form-roundDark-green .p-colored-link {
  color: #39b54a;
}
.p-form-roundDark-green .p-colored-link:hover {
  color: #2a8637;
}
.p-form-roundDark-green .p-action-link:hover {
  color: #39b54a;
}
.p-form-roundDark-green hr {
  border-color: #184e20;
}
.p-form-roundDark-green hr.p-flat {
  border-color: #0f2f13;
}
.p-form-roundDark-green .p-table > thead > tr > td,
.p-form-roundDark-green .p-table > tbody > tr > td,
.p-form-roundDark-green .p-table > tfoot > tr > td,
.p-form-roundDark-green .p-table > thead > tr > th,
.p-form-roundDark-green .p-table > tbody > tr > th,
.p-form-roundDark-green .p-table > tfoot > tr > th {
  border-color: #184e20;
}
.p-form-roundDark-green .p-table.table-striped > thead {
  background-color: #0f2f13;
  border-color: #184e20;
}
.p-form-roundDark-green .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #0f2f13;
}
.p-form-roundDark-green .p-table.table-bordered {
  border-color: #184e20;
}
.p-form-roundDark-green .p-table.table-bordered > thead > tr > td,
.p-form-roundDark-green .p-table.table-bordered > tbody > tr > td,
.p-form-roundDark-green .p-table.table-bordered > tfoot > tr > td,
.p-form-roundDark-green .p-table.table-bordered > thead > tr > th,
.p-form-roundDark-green .p-table.table-bordered > tbody > tr > th,
.p-form-roundDark-green .p-table.table-bordered > tfoot > tr > th {
  border-color: #184e20;
}
.p-form-roundDark-green label {
  color: rgba(176,225,183,1);
}
.p-form-roundDark-green select.form-control option {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .p-title .fa,
.p-form-roundDark-green .p-subtitle .fa {
  color: #39b54a;
}
.p-form-roundDark-green .p-field-cb {
  background-color: #3b4c3d;
  border-color: #3b4c3d;
}
.p-form-roundDark-green .form-control {
  border-color: #3b4c3d;
  background-color: #3b4c3d;
}
.p-form-roundDark-green .form-control:focus,
.p-form-roundDark-green .form-control:hover,
.p-form-roundDark-green .input-group:hover .form-control,
.p-form-roundDark-green .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-roundDark-green .sp-input:focus,
.p-form-roundDark-green .sp-input:hover {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .form-control:focus ~ .input-group-icon,
.p-form-roundDark-green .form-control:hover ~ .input-group-icon,
.p-form-roundDark-green .input-group:hover .input-group-icon,
.p-form-roundDark-green .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-roundDark-green .sp-input:focus ~ .input-group-icon,
.p-form-roundDark-green .sp-input:hover ~ .input-group-icon,
.p-form-roundDark-green .form-control:focus ~ .p-select-arrow,
.p-form-roundDark-green .form-control:hover ~ .p-select-arrow,
.p-form-roundDark-green .input-group:hover .p-select-arrow,
.p-form-roundDark-green .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-roundDark-green .sp-input:focus ~ .p-select-arrow,
.p-form-roundDark-green .sp-input:hover ~ .p-select-arrow,
.p-form-roundDark-green .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-green .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-green .input-group:hover .input-group-addon .p-addon-bg,
.p-form-roundDark-green .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-roundDark-green .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-green .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #39b54a;
}
.p-form-roundDark-green .form-control:focus ~ .p-field-cb,
.p-form-roundDark-green .form-control:hover ~ .p-field-cb,
.p-form-roundDark-green .input-group:hover .p-field-cb,
.p-form-roundDark-green .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-roundDark-green .sp-input:focus ~ .p-field-cb,
.p-form-roundDark-green .sp-input:hover ~ .p-field-cb {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .form-control::-webkit-input-placeholder {
  color: #d7f0db;
}
.p-form-roundDark-green .form-control::-moz-placeholder {
  color: #d7f0db;
}
.p-form-roundDark-green .form-control:-moz-placeholder {
  color: #d7f0db;
}
.p-form-roundDark-green .form-control:-ms-input-placeholder {
  color: #d7f0db;
}
.p-form-roundDark-green .p-custom-arrow .p-select-arrow {
  background-color: #3b4c3d;
}
.p-form-roundDark-green .input-group-btn .btn:hover,
.p-form-roundDark-green .input-group-btn .btn:focus,
.p-form-roundDark-green .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #39b54a;
  -webkit-box-shadow: 0 3px 25px #39b54a;
  box-shadow: 0 3px 25px #39b54a;
}
.p-form-roundDark-green .p-file-wrap ~ .input-group [type="text"] {
  background-color: #3b4c3d;
}
.p-form-roundDark-green .p-no-preview {
  background-color: #17481e;
  border-color: #1d5b26;
}
.p-form-roundDark-green .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #39b54a;
}
.p-form-roundDark-green .ui-autocomplete {
  background-color: #0a1f0d;
  border-color: #3b4c3d;
}
.p-form-roundDark-green .ui-autocomplete .ui-state-focus,
.p-form-roundDark-green .ui-autocomplete .ui-state-active {
  color: #39b54a;
  background-color: rgba(57,181,74,0.1);
}
.p-form-roundDark-green .sp-container {
  background-color: #184e20;
}
.p-form-roundDark-green .sp-initial,
.p-form-roundDark-green .sp-clear,
.p-form-roundDark-green .sp-palette .sp-thumb-el {
  border-color: #267d33;
  color: #267d33;
}
.p-form-roundDark-green .sp-clear:hover,
.p-form-roundDark-green .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-green .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #0a1f0d;
  color: #0a1f0d;
}
.p-form-roundDark-green .sp-clear:hover:after,
.p-form-roundDark-green .sp-palette .sp-thumb-el:hover:after,
.p-form-roundDark-green .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #effaf1;
}
.p-form-roundDark-green .sp-input {
  border-color: #3b4c3d;
  background-color: #3b4c3d;
}
.p-form-roundDark-green .sp-choose,
.p-form-roundDark-green .sp-cancel,
.p-form-roundDark-green .sp-palette-toggle {
  color: #effaf1;
}
.p-form-roundDark-green .sp-choose:hover,
.p-form-roundDark-green .sp-cancel:hover,
.p-form-roundDark-green .sp-palette-toggle:hover,
.p-form-roundDark-green .sp-choose:focus,
.p-form-roundDark-green .sp-cancel:focus,
.p-form-roundDark-green .sp-palette-toggle:focus,
.p-form-roundDark-green .sp-choose:active,
.p-form-roundDark-green .sp-cancel:active,
.p-form-roundDark-green .sp-palette-toggle:active {
  color: #8edc9a;
}
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #184e20;
}
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #184e20;
  color: #184e20;
}
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #277c33;
  color: #277c33;
}
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #39b54a;
}
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #39b54a;
}
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-roundDark-green .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #39b54a;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget {
  background-color: #184e20;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #76d483;
  background-color: #0f2f13;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table thead th {
  background-color: #0f2f13;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td div:hover,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #267d33;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td .btn {
  color: #8ddb98;
  background-color: transparent;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #0f2f13;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .old,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .new {
  color: #c5edca;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table td .active,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .active div {
  background-color: #0f2f13;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(141,219,152,0);
  border-bottom-color: #8ddb98;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #267d33;
  background-color: #184e20;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-green .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #267d33;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #1e5d26;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #184e20;
}
.p-form-roundDark-green .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #0f2f13;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #39b54a;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #8ddb98;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #8ddb98;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #39b54a;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #8ddb98;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(95,205,110,0);
  border-bottom-color: #5fcd6e;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #184e20;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #184e20;
}
.p-form-roundDark-green .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #0f2f13;
}
.p-form-roundDark-green .p-js-link:hover,
.p-form-roundDark-green .p-show-js-block .p-js-link:hover,
.p-form-roundDark-green .p-field-toggled .p-js-link:hover,
.p-form-roundDark-green .p-js-link:focus,
.p-form-roundDark-green .p-show-js-block .p-js-link:focus,
.p-form-roundDark-green .p-field-toggled .p-js-link:focus {
  color: #4fc860;
}
.p-form-roundDark-green .p-js-active-link,
.p-form-roundDark-green .p-show-js-block .p-js-link,
.p-form-roundDark-green .p-field-toggled .p-js-link {
  color: #39b54a;
}
.p-form-roundDark-green .input-group .realperson-challenge .realperson-regen {
  color: #39b54a;
}
.p-form-roundDark-green .input-group .realperson-challenge .realperson-regen:hover {
  color: #2a8637;
}
.p-form-roundDark-green .input-group .realperson-challenge .realperson-text:hover {
  color: #39b54a;
}
.p-form-roundDark-green .p-slider-block .p-js-value,
.p-form-roundDark-green .p-sl-tip {
  background-color: #0a1f0d;
  border-color: #39b54a;
}
.p-form-roundDark-green .p-sl-tip:before {
  border-color: rgba(57,181,74,0);
}
.p-form-roundDark-green .ui-slider:before {
  border-color: #184e20;
  background-color: #0a1f0d;
}
.p-form-roundDark-green .ui-slider-range {
  background-color: #39b54a;
}
.p-form-roundDark-green .ui-slider-handle:after {
  background-color: #0a1f0d;
  border-color: #39b54a;
}
.p-form-roundDark-green .ui-slider-handle .p-sl-icon {
  background-color: #39b54a;
  color: #0a1f0d;
}
.p-form-roundDark-green .ui-slider-handle.ui-state-focus:after,
.p-form-roundDark-green .ui-slider-handle.ui-state-active:after,
.p-form-roundDark-green .ui-slider-handle.ui-state-hover:after {
  border-color: #2f963d;
}
.p-form-roundDark-green .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-roundDark-green .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-roundDark-green .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #2f963d;
}
.p-form-roundDark-green .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #39b54a;
}
.p-form-roundDark-green .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #39b54a;
}
.p-form-roundDark-green .sl-v-simple .ui-slider:before {
  background-color: #184e20;
}
.p-form-roundDark-green .sl-v-modern .ui-slider:before,
.p-form-roundDark-green .sl-v-bordered .ui-slider:before {
  border-color: #39b54a;
}
.p-form-roundDark-green .sl-v-top .ui-slider:before {
  background-color: #184e20;
}
.p-form-roundDark-green .sl-v-flat .ui-slider:before {
  background-color: #184e20;
}
.p-form-roundDark-green .pt-form-panel,
.p-form-roundDark-green .pt-form-cross-panel {
  border-color: #184e20;
}
.p-form-roundDark-green .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .p-rating .p-rating-active-icon {
  color: #39b54a;
}
.p-form-roundDark-green .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-roundDark-green .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-roundDark-green .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #39b54a;
}
.p-form-roundDark-green .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #39b54a;
}
.p-form-roundDark-green .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-roundDark-green .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-roundDark-green .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-roundDark-green .input-group-state {
  color: #d7f0db;
}
.p-form-roundDark-green .form-control[readonly],
.p-form-roundDark-green .form-control[disabled] {
  background-color: #0d2b11;
}
.p-form-roundDark-green .p-field-readonly .p-switch-icon,
.p-form-roundDark-green .p-field-disabled .p-switch-icon,
.p-form-roundDark-green .p-field-readonly .p-check-icon .p-check-block,
.p-form-roundDark-green .p-field-disabled .p-check-icon .p-check-block,
.p-form-roundDark-green .p-field-readonly .p-field-cb,
.p-form-roundDark-green .p-field-disabled .p-field-cb {
  background-color: #0d2b11;
  border-color: #0d2b11;
}
.p-form-roundDark-green .p-field-readonly .p-no-preview,
.p-form-roundDark-green .p-field-disabled .p-no-preview {
  background-color: #303e31;
  border-color: #0d2b11;
}
.p-form-roundDark-green .p-field-readonly .p-rating .p-rating-icon,
.p-form-roundDark-green .p-field-disabled .p-rating .p-rating-icon {
  color: #303e31;
}
.p-form-roundDark-green .nav-tabs {
  border-color: #16461d;
  background-color: #0f2f13;
}
.p-form-roundDark-green .nav-tabs > li > label:hover,
.p-form-roundDark-green .nav-tabs > li > label:focus {
  background-color: #39b54a;
}
.p-form-roundDark-green .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-green .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-green .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-green .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-green .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-green .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-green .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-green .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-green .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-green .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-green .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-green .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-green .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-green .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-green .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0a1f0d;
  color: #39b54a;
}
.p-form-roundDark-green .p-title-line,
.p-form-roundDark-green .p-title-step-line,
.p-form-roundDark-green .p-title-side {
  background-color: #17481e;
}
.p-form-roundDark-green .p-tooltip .p-tooltip-content {
  background-color: #2a8637;
}
.p-form-roundDark-green .p-tooltip .p-tooltip-content:after {
  border-color: rgba(42,134,55,0);
  border-top-color: #2a8637;
}
.p-form-roundDark-green .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-roundDark-green .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-roundDark-green .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(42,134,55,0);
  border-bottom-color: #2a8637;
}
.p-form-roundDark-green .p-bordered {
  border-color: #16461d;
}
.p-form-roundDark-green .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-green .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-green .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0a1f0d;
}
.p-form-roundDark-green .p-tabs-offset > .nav-tabs > li > label {
  background-color: #0f2f13;
}
.p-form-roundDark-green .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-roundDark-green .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #39b54a;
}
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-green .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0a1f0d;
  color: #39b54a;
}
.p-form-roundDark-green .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #16461d;
}
.p-form-roundDark-green .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #16461d;
}
.p-form-roundDark-green .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #16461d;
}
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #16461d;
}
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-roundDark-green .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #16461d;
}
.p-form-roundDark-green .p-alt-back,
.p-form-roundDark-green .p-alt-back .p-form-bg {
  background-color: #f7fdf8;
}
.p-form-roundDark-green .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f7fdf8;
}
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-green .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f7fdf8;
}
.p-form-roundDark-green .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-roundDark-green .p-alt-back .p-table.table-striped > thead {
  background-color: #ecf9ed;
}
.p-form-roundDark-green .p-alt-back .panel-fp > .panel-heading {
  background-color: #ecf9ed;
}
.p-form-roundDark-green .p-alt-back .panel-fp > .panel-body {
  background-color: #f7fdf8;
}
.p-form-roundDark-green .p-alt-back hr.p-flat {
  border-color: #ecf9ed;
}
.p-form-roundDark-green .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #3b4c3d;
}
.p-form-roundDark-green .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-roundDark-green .p-alt-back .p-picture-pick .p-check-block {
  background-color: #f7fdf8;
}
.p-form-roundDark-green .btn.p-active-btn,
.p-form-roundDark-green .btn:hover,
.p-form-roundDark-green .btn:focus {
  -webkit-box-shadow: 0 3px 25px #39b54a;
  box-shadow: 0 3px 25px #39b54a;
}
.p-form-roundDark-green .p-hide-form {
  background: #0a1f0d;
}
.p-form-roundDark-green .p-form-steps > li.active .p-step:after {
  background-color: #0f2f13;
}
.p-form-roundDark-green .p-form-steps > li.active:last-child .p-step:after {
  background-color: #39b54a;
}
.p-form-roundDark-green .p-form-steps > li.active ~ li .p-step:before,
.p-form-roundDark-green .p-form-steps > li.active ~ li .p-step:after {
  background-color: #0f2f13;
}
.p-form-roundDark-green .p-step:before,
.p-form-roundDark-green .p-step:after {
  background-color: #39b54a;
}
.p-form-roundDark-green .p-step .p-step-text:before {
  background-color: #5fcd6e;
}
