/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-roundDark-fireBrick .panel-fp {
  border-color: #561010;
}
.p-form-roundDark-fireBrick .panel-fp > .panel-heading {
  background-color: #330a0a;
  border-color: #561010;
}
.p-form-roundDark-fireBrick .panel-fp > .panel-body {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .progress-bar-fp {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .btn {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .btn.p-active-btn,
.p-form-roundDark-fireBrick .btn:hover,
.p-form-roundDark-fireBrick .btn:focus {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .radio label a,
.p-form-roundDark-fireBrick .checkbox label a,
.p-form-roundDark-fireBrick .p-switch label a,
.p-form-roundDark-fireBrick .p-radioswitch label a {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-show-block-heading a {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-check-active-icon {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-check-block {
  border-color: #4e3939;
}
.p-form-roundDark-fireBrick .p-check-block:after {
  background-color: #b22222;
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-switch-icon {
  background-color: #561010;
}
.p-form-roundDark-fireBrick .p-check-point:after {
  background-color: #b22222;
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-switch-icon:after {
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-check-bordered {
  border-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-roundDark-fireBrick :checked ~ .p-check-icon .p-check-middle {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-roundDark-fireBrick :checked ~ .p-switch-icon {
  background-color: #e05a5a;
}
.p-form-roundDark-fireBrick .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-roundDark-fireBrick :checked ~ .p-switch-icon:after {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-roundDark-fireBrick :checked ~ .p-check-highlight {
  background-color: #400c0c;
}
.p-form-roundDark-fireBrick .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-roundDark-fireBrick :checked ~ .p-check-bordered {
  border-color: #e05a5a;
}
.p-form-roundDark-fireBrick label:hover .p-check-active-icon,
.p-form-roundDark-fireBrick .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-roundDark-fireBrick label:hover .p-check-icon .p-check-middle,
.p-form-roundDark-fireBrick .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #d93838;
}
.p-form-roundDark-fireBrick label:hover .p-check-icon .p-check-block,
.p-form-roundDark-fireBrick .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #d93838;
}
.p-form-roundDark-fireBrick label:hover .p-switch-icon,
.p-form-roundDark-fireBrick .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #340a0a;
}
.p-form-roundDark-fireBrick label:hover .p-check-highlight,
.p-form-roundDark-fireBrick .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick label:hover .p-check-bordered,
.p-form-roundDark-fireBrick .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-roundDark-fireBrick .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(58,11,11,0.7);
}
.p-form-roundDark-fireBrick .p-picture-pick:hover .p-preview-name {
  background-color: rgba(144,27,27,0.7);
}
.p-form-roundDark-fireBrick .p-show-block:checked + .p-show-block-heading:hover,
.p-form-roundDark-fireBrick .p-show-block-heading:hover {
  color: #d93838;
}
.p-form-roundDark-fireBrick .p-show-block:checked + .p-show-block-heading {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-picture-pick .p-switch-icon,
.p-form-roundDark-fireBrick .p-picture-pick .p-check-block {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .p-radio-color .p-color-block {
  border-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-roundDark-fireBrick .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-form-bg,
.p-form-roundDark-fireBrick .p-form {
  background: #220707;
}
.p-form-roundDark-fireBrick .p-colored-text {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-alt-colored-text {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-colored-link {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-colored-link:hover {
  color: #7f1818;
}
.p-form-roundDark-fireBrick .p-action-link:hover {
  color: #b22222;
}
.p-form-roundDark-fireBrick hr {
  border-color: #561010;
}
.p-form-roundDark-fireBrick hr.p-flat {
  border-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-table > thead > tr > td,
.p-form-roundDark-fireBrick .p-table > tbody > tr > td,
.p-form-roundDark-fireBrick .p-table > tfoot > tr > td,
.p-form-roundDark-fireBrick .p-table > thead > tr > th,
.p-form-roundDark-fireBrick .p-table > tbody > tr > th,
.p-form-roundDark-fireBrick .p-table > tfoot > tr > th {
  border-color: #561010;
}
.p-form-roundDark-fireBrick .p-table.table-striped > thead {
  background-color: #330a0a;
  border-color: #561010;
}
.p-form-roundDark-fireBrick .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-table.table-bordered {
  border-color: #561010;
}
.p-form-roundDark-fireBrick .p-table.table-bordered > thead > tr > td,
.p-form-roundDark-fireBrick .p-table.table-bordered > tbody > tr > td,
.p-form-roundDark-fireBrick .p-table.table-bordered > tfoot > tr > td,
.p-form-roundDark-fireBrick .p-table.table-bordered > thead > tr > th,
.p-form-roundDark-fireBrick .p-table.table-bordered > tbody > tr > th,
.p-form-roundDark-fireBrick .p-table.table-bordered > tfoot > tr > th {
  border-color: #561010;
}
.p-form-roundDark-fireBrick label {
  color: rgba(224,167,167,1);
}
.p-form-roundDark-fireBrick select.form-control option {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .p-title .fa,
.p-form-roundDark-fireBrick .p-subtitle .fa {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-field-cb {
  background-color: #4e3939;
  border-color: #4e3939;
}
.p-form-roundDark-fireBrick .form-control {
  border-color: #4e3939;
  background-color: #4e3939;
}
.p-form-roundDark-fireBrick .form-control:focus,
.p-form-roundDark-fireBrick .form-control:hover,
.p-form-roundDark-fireBrick .input-group:hover .form-control,
.p-form-roundDark-fireBrick .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-roundDark-fireBrick .sp-input:focus,
.p-form-roundDark-fireBrick .sp-input:hover {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .form-control:focus ~ .input-group-icon,
.p-form-roundDark-fireBrick .form-control:hover ~ .input-group-icon,
.p-form-roundDark-fireBrick .input-group:hover .input-group-icon,
.p-form-roundDark-fireBrick .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-roundDark-fireBrick .sp-input:focus ~ .input-group-icon,
.p-form-roundDark-fireBrick .sp-input:hover ~ .input-group-icon,
.p-form-roundDark-fireBrick .form-control:focus ~ .p-select-arrow,
.p-form-roundDark-fireBrick .form-control:hover ~ .p-select-arrow,
.p-form-roundDark-fireBrick .input-group:hover .p-select-arrow,
.p-form-roundDark-fireBrick .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-roundDark-fireBrick .sp-input:focus ~ .p-select-arrow,
.p-form-roundDark-fireBrick .sp-input:hover ~ .p-select-arrow,
.p-form-roundDark-fireBrick .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-fireBrick .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-fireBrick .input-group:hover .input-group-addon .p-addon-bg,
.p-form-roundDark-fireBrick .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-roundDark-fireBrick .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-fireBrick .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .form-control:focus ~ .p-field-cb,
.p-form-roundDark-fireBrick .form-control:hover ~ .p-field-cb,
.p-form-roundDark-fireBrick .input-group:hover .p-field-cb,
.p-form-roundDark-fireBrick .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-roundDark-fireBrick .sp-input:focus ~ .p-field-cb,
.p-form-roundDark-fireBrick .sp-input:hover ~ .p-field-cb {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .form-control::-webkit-input-placeholder {
  color: #f0d3d3;
}
.p-form-roundDark-fireBrick .form-control::-moz-placeholder {
  color: #f0d3d3;
}
.p-form-roundDark-fireBrick .form-control:-moz-placeholder {
  color: #f0d3d3;
}
.p-form-roundDark-fireBrick .form-control:-ms-input-placeholder {
  color: #f0d3d3;
}
.p-form-roundDark-fireBrick .p-custom-arrow .p-select-arrow {
  background-color: #4e3939;
}
.p-form-roundDark-fireBrick .input-group-btn .btn:hover,
.p-form-roundDark-fireBrick .input-group-btn .btn:focus,
.p-form-roundDark-fireBrick .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #b22222;
  -webkit-box-shadow: 0 3px 25px #b22222;
  box-shadow: 0 3px 25px #b22222;
}
.p-form-roundDark-fireBrick .p-file-wrap ~ .input-group [type="text"] {
  background-color: #4e3939;
}
.p-form-roundDark-fireBrick .p-no-preview {
  background-color: #3a0b0b;
  border-color: #4f0f0f;
}
.p-form-roundDark-fireBrick .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #b22222;
}
.p-form-roundDark-fireBrick .ui-autocomplete {
  background-color: #220707;
  border-color: #4e3939;
}
.p-form-roundDark-fireBrick .ui-autocomplete .ui-state-focus,
.p-form-roundDark-fireBrick .ui-autocomplete .ui-state-active {
  color: #b22222;
  background-color: rgba(178,34,34,0.1);
}
.p-form-roundDark-fireBrick .sp-container {
  background-color: #561010;
}
.p-form-roundDark-fireBrick .sp-initial,
.p-form-roundDark-fireBrick .sp-clear,
.p-form-roundDark-fireBrick .sp-palette .sp-thumb-el {
  border-color: #8a1a1a;
  color: #8a1a1a;
}
.p-form-roundDark-fireBrick .sp-clear:hover,
.p-form-roundDark-fireBrick .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-fireBrick .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #220606;
  color: #220606;
}
.p-form-roundDark-fireBrick .sp-clear:hover:after,
.p-form-roundDark-fireBrick .sp-palette .sp-thumb-el:hover:after,
.p-form-roundDark-fireBrick .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fceeee;
}
.p-form-roundDark-fireBrick .sp-input {
  border-color: #4e3939;
  background-color: #4e3939;
}
.p-form-roundDark-fireBrick .sp-choose,
.p-form-roundDark-fireBrick .sp-cancel,
.p-form-roundDark-fireBrick .sp-palette-toggle {
  color: #fceeee;
}
.p-form-roundDark-fireBrick .sp-choose:hover,
.p-form-roundDark-fireBrick .sp-cancel:hover,
.p-form-roundDark-fireBrick .sp-palette-toggle:hover,
.p-form-roundDark-fireBrick .sp-choose:focus,
.p-form-roundDark-fireBrick .sp-cancel:focus,
.p-form-roundDark-fireBrick .sp-palette-toggle:focus,
.p-form-roundDark-fireBrick .sp-choose:active,
.p-form-roundDark-fireBrick .sp-cancel:active,
.p-form-roundDark-fireBrick .sp-palette-toggle:active {
  color: #e88282;
}
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #561010;
}
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #561010;
  color: #561010;
}
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #891a1a;
  color: #891a1a;
}
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-roundDark-fireBrick .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget {
  background-color: #561010;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #de5252;
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table thead th {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td div:hover,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #8a1a1a;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td .btn {
  color: #e36c6c;
  background-color: transparent;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #330a0a;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .old,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .new {
  color: #f3bfbf;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table td .active,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .active div {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(227,108,108,0);
  border-bottom-color: #e36c6c;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #8a1a1a;
  background-color: #561010;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #8a1a1a;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #661414;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #561010;
}
.p-form-roundDark-fireBrick .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e36c6c;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #e36c6c;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #e36c6c;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(217,56,56,0);
  border-bottom-color: #d93838;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #561010;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #561010;
}
.p-form-roundDark-fireBrick .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-js-link:hover,
.p-form-roundDark-fireBrick .p-show-js-block .p-js-link:hover,
.p-form-roundDark-fireBrick .p-field-toggled .p-js-link:hover,
.p-form-roundDark-fireBrick .p-js-link:focus,
.p-form-roundDark-fireBrick .p-show-js-block .p-js-link:focus,
.p-form-roundDark-fireBrick .p-field-toggled .p-js-link:focus {
  color: #d42929;
}
.p-form-roundDark-fireBrick .p-js-active-link,
.p-form-roundDark-fireBrick .p-show-js-block .p-js-link,
.p-form-roundDark-fireBrick .p-field-toggled .p-js-link {
  color: #b22222;
}
.p-form-roundDark-fireBrick .input-group .realperson-challenge .realperson-regen {
  color: #b22222;
}
.p-form-roundDark-fireBrick .input-group .realperson-challenge .realperson-regen:hover {
  color: #7f1818;
}
.p-form-roundDark-fireBrick .input-group .realperson-challenge .realperson-text:hover {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-slider-block .p-js-value,
.p-form-roundDark-fireBrick .p-sl-tip {
  background-color: #220707;
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .p-sl-tip:before {
  border-color: rgba(178,34,34,0);
}
.p-form-roundDark-fireBrick .ui-slider:before {
  border-color: #561010;
  background-color: #220707;
}
.p-form-roundDark-fireBrick .ui-slider-range {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .ui-slider-handle:after {
  background-color: #220707;
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .ui-slider-handle .p-sl-icon {
  background-color: #b22222;
  color: #220707;
}
.p-form-roundDark-fireBrick .ui-slider-handle.ui-state-focus:after,
.p-form-roundDark-fireBrick .ui-slider-handle.ui-state-active:after,
.p-form-roundDark-fireBrick .ui-slider-handle.ui-state-hover:after {
  border-color: #901b1b;
}
.p-form-roundDark-fireBrick .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-roundDark-fireBrick .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-roundDark-fireBrick .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #901b1b;
}
.p-form-roundDark-fireBrick .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #b22222;
}
.p-form-roundDark-fireBrick .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #b22222;
}
.p-form-roundDark-fireBrick .sl-v-simple .ui-slider:before {
  background-color: #561010;
}
.p-form-roundDark-fireBrick .sl-v-modern .ui-slider:before,
.p-form-roundDark-fireBrick .sl-v-bordered .ui-slider:before {
  border-color: #b22222;
}
.p-form-roundDark-fireBrick .sl-v-top .ui-slider:before {
  background-color: #561010;
}
.p-form-roundDark-fireBrick .sl-v-flat .ui-slider:before {
  background-color: #561010;
}
.p-form-roundDark-fireBrick .pt-form-panel,
.p-form-roundDark-fireBrick .pt-form-cross-panel {
  border-color: #561010;
}
.p-form-roundDark-fireBrick .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .p-rating .p-rating-active-icon {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-roundDark-fireBrick .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-roundDark-fireBrick .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-roundDark-fireBrick .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-roundDark-fireBrick .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-roundDark-fireBrick .input-group-state {
  color: #f0d3d3;
}
.p-form-roundDark-fireBrick .form-control[readonly],
.p-form-roundDark-fireBrick .form-control[disabled] {
  background-color: #2f0909;
}
.p-form-roundDark-fireBrick .p-field-readonly .p-switch-icon,
.p-form-roundDark-fireBrick .p-field-disabled .p-switch-icon,
.p-form-roundDark-fireBrick .p-field-readonly .p-check-icon .p-check-block,
.p-form-roundDark-fireBrick .p-field-disabled .p-check-icon .p-check-block,
.p-form-roundDark-fireBrick .p-field-readonly .p-field-cb,
.p-form-roundDark-fireBrick .p-field-disabled .p-field-cb {
  background-color: #2f0909;
  border-color: #2f0909;
}
.p-form-roundDark-fireBrick .p-field-readonly .p-no-preview,
.p-form-roundDark-fireBrick .p-field-disabled .p-no-preview {
  background-color: #3f2e2e;
  border-color: #2f0909;
}
.p-form-roundDark-fireBrick .p-field-readonly .p-rating .p-rating-icon,
.p-form-roundDark-fireBrick .p-field-disabled .p-rating .p-rating-icon {
  color: #3f2e2e;
}
.p-form-roundDark-fireBrick .nav-tabs {
  border-color: #4d0f0f;
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .nav-tabs > li > label:hover,
.p-form-roundDark-fireBrick .nav-tabs > li > label:focus {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-fireBrick .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #220707;
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-title-line,
.p-form-roundDark-fireBrick .p-title-step-line,
.p-form-roundDark-fireBrick .p-title-side {
  background-color: #3a0b0b;
}
.p-form-roundDark-fireBrick .p-tooltip .p-tooltip-content {
  background-color: #7f1818;
}
.p-form-roundDark-fireBrick .p-tooltip .p-tooltip-content:after {
  border-color: rgba(127,24,24,0);
  border-top-color: #7f1818;
}
.p-form-roundDark-fireBrick .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-roundDark-fireBrick .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-roundDark-fireBrick .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(127,24,24,0);
  border-bottom-color: #7f1818;
}
.p-form-roundDark-fireBrick .p-bordered {
  border-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-fireBrick .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-fireBrick .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #220707;
}
.p-form-roundDark-fireBrick .p-tabs-offset > .nav-tabs > li > label {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-roundDark-fireBrick .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-fireBrick .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #220707;
  color: #b22222;
}
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-roundDark-fireBrick .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #4d0f0f;
}
.p-form-roundDark-fireBrick .p-alt-back,
.p-form-roundDark-fireBrick .p-alt-back .p-form-bg {
  background-color: #fdf6f6;
}
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fdf6f6;
}
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-fireBrick .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fdf6f6;
}
.p-form-roundDark-fireBrick .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-roundDark-fireBrick .p-alt-back .p-table.table-striped > thead {
  background-color: #fbeaea;
}
.p-form-roundDark-fireBrick .p-alt-back .panel-fp > .panel-heading {
  background-color: #fbeaea;
}
.p-form-roundDark-fireBrick .p-alt-back .panel-fp > .panel-body {
  background-color: #fdf6f6;
}
.p-form-roundDark-fireBrick .p-alt-back hr.p-flat {
  border-color: #fbeaea;
}
.p-form-roundDark-fireBrick .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #4e3939;
}
.p-form-roundDark-fireBrick .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-roundDark-fireBrick .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fdf6f6;
}
.p-form-roundDark-fireBrick .btn.p-active-btn,
.p-form-roundDark-fireBrick .btn:hover,
.p-form-roundDark-fireBrick .btn:focus {
  -webkit-box-shadow: 0 3px 25px #b22222;
  box-shadow: 0 3px 25px #b22222;
}
.p-form-roundDark-fireBrick .p-hide-form {
  background: #220707;
}
.p-form-roundDark-fireBrick .p-form-steps > li.active .p-step:after {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-form-steps > li.active:last-child .p-step:after {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .p-form-steps > li.active ~ li .p-step:before,
.p-form-roundDark-fireBrick .p-form-steps > li.active ~ li .p-step:after {
  background-color: #330a0a;
}
.p-form-roundDark-fireBrick .p-step:before,
.p-form-roundDark-fireBrick .p-step:after {
  background-color: #b22222;
}
.p-form-roundDark-fireBrick .p-step .p-step-text:before {
  background-color: #d93838;
}
