/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-roundDark-cadetBlue .panel-fp {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .panel-fp > .panel-heading {
  background-color: #172626;
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .panel-fp > .panel-body {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .progress-bar-fp {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .btn {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .btn.p-active-btn,
.p-form-roundDark-cadetBlue .btn:hover,
.p-form-roundDark-cadetBlue .btn:focus {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .radio label a,
.p-form-roundDark-cadetBlue .checkbox label a,
.p-form-roundDark-cadetBlue .p-switch label a,
.p-form-roundDark-cadetBlue .p-radioswitch label a {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-show-block-heading a {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-check-active-icon {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-check-block {
  border-color: #3f4748;
}
.p-form-roundDark-cadetBlue .p-check-block:after {
  background-color: #5f9ea0;
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-switch-icon {
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .p-check-point:after {
  background-color: #5f9ea0;
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-switch-icon:after {
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-check-bordered {
  border-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-roundDark-cadetBlue :checked ~ .p-check-icon .p-check-middle {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-roundDark-cadetBlue :checked ~ .p-switch-icon {
  background-color: #9fc5c6;
}
.p-form-roundDark-cadetBlue .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-roundDark-cadetBlue :checked ~ .p-switch-icon:after {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-roundDark-cadetBlue :checked ~ .p-check-highlight {
  background-color: #1c2f30;
}
.p-form-roundDark-cadetBlue .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-roundDark-cadetBlue :checked ~ .p-check-bordered {
  border-color: #9fc5c6;
}
.p-form-roundDark-cadetBlue label:hover .p-check-active-icon,
.p-form-roundDark-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-roundDark-cadetBlue label:hover .p-check-icon .p-check-middle,
.p-form-roundDark-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #85b5b7;
}
.p-form-roundDark-cadetBlue label:hover .p-check-icon .p-check-block,
.p-form-roundDark-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #85b5b7;
}
.p-form-roundDark-cadetBlue label:hover .p-switch-icon,
.p-form-roundDark-cadetBlue .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue label:hover .p-check-highlight,
.p-form-roundDark-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue label:hover .p-check-bordered,
.p-form-roundDark-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-roundDark-cadetBlue .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(42,70,70,0.7);
}
.p-form-roundDark-cadetBlue .p-picture-pick:hover .p-preview-name {
  background-color: rgba(80,133,134,0.7);
}
.p-form-roundDark-cadetBlue .p-show-block:checked + .p-show-block-heading:hover,
.p-form-roundDark-cadetBlue .p-show-block-heading:hover {
  color: #85b5b7;
}
.p-form-roundDark-cadetBlue .p-show-block:checked + .p-show-block-heading {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-picture-pick .p-switch-icon,
.p-form-roundDark-cadetBlue .p-picture-pick .p-check-block {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .p-radio-color .p-color-block {
  border-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-roundDark-cadetBlue .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-form-bg,
.p-form-roundDark-cadetBlue .p-form {
  background: #0f191a;
}
.p-form-roundDark-cadetBlue .p-colored-text {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-alt-colored-text {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-colored-link {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-colored-link:hover {
  color: #48787a;
}
.p-form-roundDark-cadetBlue .p-action-link:hover {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue hr {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue hr.p-flat {
  border-color: #172626;
}
.p-form-roundDark-cadetBlue .p-table > thead > tr > td,
.p-form-roundDark-cadetBlue .p-table > tbody > tr > td,
.p-form-roundDark-cadetBlue .p-table > tfoot > tr > td,
.p-form-roundDark-cadetBlue .p-table > thead > tr > th,
.p-form-roundDark-cadetBlue .p-table > tbody > tr > th,
.p-form-roundDark-cadetBlue .p-table > tfoot > tr > th {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .p-table.table-striped > thead {
  background-color: #172626;
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .p-table.table-bordered {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .p-table.table-bordered > thead > tr > td,
.p-form-roundDark-cadetBlue .p-table.table-bordered > tbody > tr > td,
.p-form-roundDark-cadetBlue .p-table.table-bordered > tfoot > tr > td,
.p-form-roundDark-cadetBlue .p-table.table-bordered > thead > tr > th,
.p-form-roundDark-cadetBlue .p-table.table-bordered > tbody > tr > th,
.p-form-roundDark-cadetBlue .p-table.table-bordered > tfoot > tr > th {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue label {
  color: rgba(191,216,217,1);
}
.p-form-roundDark-cadetBlue select.form-control option {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .p-title .fa,
.p-form-roundDark-cadetBlue .p-subtitle .fa {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-field-cb {
  background-color: #3f4748;
  border-color: #3f4748;
}
.p-form-roundDark-cadetBlue .form-control {
  border-color: #3f4748;
  background-color: #3f4748;
}
.p-form-roundDark-cadetBlue .form-control:focus,
.p-form-roundDark-cadetBlue .form-control:hover,
.p-form-roundDark-cadetBlue .input-group:hover .form-control,
.p-form-roundDark-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-roundDark-cadetBlue .sp-input:focus,
.p-form-roundDark-cadetBlue .sp-input:hover {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .form-control:focus ~ .input-group-icon,
.p-form-roundDark-cadetBlue .form-control:hover ~ .input-group-icon,
.p-form-roundDark-cadetBlue .input-group:hover .input-group-icon,
.p-form-roundDark-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-roundDark-cadetBlue .sp-input:focus ~ .input-group-icon,
.p-form-roundDark-cadetBlue .sp-input:hover ~ .input-group-icon,
.p-form-roundDark-cadetBlue .form-control:focus ~ .p-select-arrow,
.p-form-roundDark-cadetBlue .form-control:hover ~ .p-select-arrow,
.p-form-roundDark-cadetBlue .input-group:hover .p-select-arrow,
.p-form-roundDark-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-roundDark-cadetBlue .sp-input:focus ~ .p-select-arrow,
.p-form-roundDark-cadetBlue .sp-input:hover ~ .p-select-arrow,
.p-form-roundDark-cadetBlue .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-cadetBlue .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-cadetBlue .input-group:hover .input-group-addon .p-addon-bg,
.p-form-roundDark-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-roundDark-cadetBlue .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-cadetBlue .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .form-control:focus ~ .p-field-cb,
.p-form-roundDark-cadetBlue .form-control:hover ~ .p-field-cb,
.p-form-roundDark-cadetBlue .input-group:hover .p-field-cb,
.p-form-roundDark-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-roundDark-cadetBlue .sp-input:focus ~ .p-field-cb,
.p-form-roundDark-cadetBlue .sp-input:hover ~ .p-field-cb {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .form-control::-webkit-input-placeholder {
  color: #dfecec;
}
.p-form-roundDark-cadetBlue .form-control::-moz-placeholder {
  color: #dfecec;
}
.p-form-roundDark-cadetBlue .form-control:-moz-placeholder {
  color: #dfecec;
}
.p-form-roundDark-cadetBlue .form-control:-ms-input-placeholder {
  color: #dfecec;
}
.p-form-roundDark-cadetBlue .p-custom-arrow .p-select-arrow {
  background-color: #3f4748;
}
.p-form-roundDark-cadetBlue .input-group-btn .btn:hover,
.p-form-roundDark-cadetBlue .input-group-btn .btn:focus,
.p-form-roundDark-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #5f9ea0;
  -webkit-box-shadow: 0 3px 25px #5f9ea0;
  box-shadow: 0 3px 25px #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-file-wrap ~ .input-group [type="text"] {
  background-color: #3f4748;
}
.p-form-roundDark-cadetBlue .p-no-preview {
  background-color: #2a4646;
  border-color: #345656;
}
.p-form-roundDark-cadetBlue .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .ui-autocomplete {
  background-color: #0f191a;
  border-color: #3f4748;
}
.p-form-roundDark-cadetBlue .ui-autocomplete .ui-state-focus,
.p-form-roundDark-cadetBlue .ui-autocomplete .ui-state-active {
  color: #5f9ea0;
  background-color: rgba(95,158,160,0.1);
}
.p-form-roundDark-cadetBlue .sp-container {
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .sp-initial,
.p-form-roundDark-cadetBlue .sp-clear,
.p-form-roundDark-cadetBlue .sp-palette .sp-thumb-el {
  border-color: #3d6566;
  color: #3d6566;
}
.p-form-roundDark-cadetBlue .sp-clear:hover,
.p-form-roundDark-cadetBlue .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-cadetBlue .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #0f191a;
  color: #0f191a;
}
.p-form-roundDark-cadetBlue .sp-clear:hover:after,
.p-form-roundDark-cadetBlue .sp-palette .sp-thumb-el:hover:after,
.p-form-roundDark-cadetBlue .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f2f7f7;
}
.p-form-roundDark-cadetBlue .sp-input {
  border-color: #3f4748;
  background-color: #3f4748;
}
.p-form-roundDark-cadetBlue .sp-choose,
.p-form-roundDark-cadetBlue .sp-cancel,
.p-form-roundDark-cadetBlue .sp-palette-toggle {
  color: #f2f7f7;
}
.p-form-roundDark-cadetBlue .sp-choose:hover,
.p-form-roundDark-cadetBlue .sp-cancel:hover,
.p-form-roundDark-cadetBlue .sp-palette-toggle:hover,
.p-form-roundDark-cadetBlue .sp-choose:focus,
.p-form-roundDark-cadetBlue .sp-cancel:focus,
.p-form-roundDark-cadetBlue .sp-palette-toggle:focus,
.p-form-roundDark-cadetBlue .sp-choose:active,
.p-form-roundDark-cadetBlue .sp-cancel:active,
.p-form-roundDark-cadetBlue .sp-palette-toggle:active {
  color: #a2c6c8;
}
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #263f40;
  color: #263f40;
}
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #3d6566;
  color: #3d6566;
}
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-roundDark-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget {
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #99c1c2;
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table thead th {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td div:hover,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #3d6566;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td .btn {
  color: #accdce;
  background-color: transparent;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #172626;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .old,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .new {
  color: #cfe2e3;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table td .active,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .active div {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(172,205,206,0);
  border-bottom-color: #accdce;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #3d6566;
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #3d6566;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #2e4c4c;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #263f40;
}
.p-form-roundDark-cadetBlue .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #172626;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #accdce;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #accdce;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #accdce;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(133,181,183,0);
  border-bottom-color: #85b5b7;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #263f40;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #263f40;
}
.p-form-roundDark-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #172626;
}
.p-form-roundDark-cadetBlue .p-js-link:hover,
.p-form-roundDark-cadetBlue .p-show-js-block .p-js-link:hover,
.p-form-roundDark-cadetBlue .p-field-toggled .p-js-link:hover,
.p-form-roundDark-cadetBlue .p-js-link:focus,
.p-form-roundDark-cadetBlue .p-show-js-block .p-js-link:focus,
.p-form-roundDark-cadetBlue .p-field-toggled .p-js-link:focus {
  color: #79aeaf;
}
.p-form-roundDark-cadetBlue .p-js-active-link,
.p-form-roundDark-cadetBlue .p-show-js-block .p-js-link,
.p-form-roundDark-cadetBlue .p-field-toggled .p-js-link {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .input-group .realperson-challenge .realperson-regen {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .input-group .realperson-challenge .realperson-regen:hover {
  color: #48787a;
}
.p-form-roundDark-cadetBlue .input-group .realperson-challenge .realperson-text:hover {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-slider-block .p-js-value,
.p-form-roundDark-cadetBlue .p-sl-tip {
  background-color: #0f191a;
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-sl-tip:before {
  border-color: rgba(95,158,160,0);
}
.p-form-roundDark-cadetBlue .ui-slider:before {
  border-color: #263f40;
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .ui-slider-range {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .ui-slider-handle:after {
  background-color: #0f191a;
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .ui-slider-handle .p-sl-icon {
  background-color: #5f9ea0;
  color: #0f191a;
}
.p-form-roundDark-cadetBlue .ui-slider-handle.ui-state-focus:after,
.p-form-roundDark-cadetBlue .ui-slider-handle.ui-state-active:after,
.p-form-roundDark-cadetBlue .ui-slider-handle.ui-state-hover:after {
  border-color: #508586;
}
.p-form-roundDark-cadetBlue .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-roundDark-cadetBlue .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-roundDark-cadetBlue .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #508586;
}
.p-form-roundDark-cadetBlue .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .sl-v-simple .ui-slider:before {
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .sl-v-modern .ui-slider:before,
.p-form-roundDark-cadetBlue .sl-v-bordered .ui-slider:before {
  border-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .sl-v-top .ui-slider:before {
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .sl-v-flat .ui-slider:before {
  background-color: #263f40;
}
.p-form-roundDark-cadetBlue .pt-form-panel,
.p-form-roundDark-cadetBlue .pt-form-cross-panel {
  border-color: #263f40;
}
.p-form-roundDark-cadetBlue .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .p-rating .p-rating-active-icon {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-roundDark-cadetBlue .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-roundDark-cadetBlue .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-roundDark-cadetBlue .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-roundDark-cadetBlue .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-roundDark-cadetBlue .input-group-state {
  color: #dfecec;
}
.p-form-roundDark-cadetBlue .form-control[readonly],
.p-form-roundDark-cadetBlue .form-control[disabled] {
  background-color: #152323;
}
.p-form-roundDark-cadetBlue .p-field-readonly .p-switch-icon,
.p-form-roundDark-cadetBlue .p-field-disabled .p-switch-icon,
.p-form-roundDark-cadetBlue .p-field-readonly .p-check-icon .p-check-block,
.p-form-roundDark-cadetBlue .p-field-disabled .p-check-icon .p-check-block,
.p-form-roundDark-cadetBlue .p-field-readonly .p-field-cb,
.p-form-roundDark-cadetBlue .p-field-disabled .p-field-cb {
  background-color: #152323;
  border-color: #152323;
}
.p-form-roundDark-cadetBlue .p-field-readonly .p-no-preview,
.p-form-roundDark-cadetBlue .p-field-disabled .p-no-preview {
  background-color: #333a3a;
  border-color: #152323;
}
.p-form-roundDark-cadetBlue .p-field-readonly .p-rating .p-rating-icon,
.p-form-roundDark-cadetBlue .p-field-disabled .p-rating .p-rating-icon {
  color: #333a3a;
}
.p-form-roundDark-cadetBlue .nav-tabs {
  border-color: #22393a;
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .nav-tabs > li > label:hover,
.p-form-roundDark-cadetBlue .nav-tabs > li > label:focus {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-cadetBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0f191a;
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-title-line,
.p-form-roundDark-cadetBlue .p-title-step-line,
.p-form-roundDark-cadetBlue .p-title-side {
  background-color: #2a4646;
}
.p-form-roundDark-cadetBlue .p-tooltip .p-tooltip-content {
  background-color: #48787a;
}
.p-form-roundDark-cadetBlue .p-tooltip .p-tooltip-content:after {
  border-color: rgba(72,120,122,0);
  border-top-color: #48787a;
}
.p-form-roundDark-cadetBlue .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-roundDark-cadetBlue .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-roundDark-cadetBlue .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(72,120,122,0);
  border-bottom-color: #48787a;
}
.p-form-roundDark-cadetBlue .p-bordered {
  border-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-cadetBlue .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-cadetBlue .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0f191a;
}
.p-form-roundDark-cadetBlue .p-tabs-offset > .nav-tabs > li > label {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-roundDark-cadetBlue .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0f191a;
  color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-roundDark-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #22393a;
}
.p-form-roundDark-cadetBlue .p-alt-back,
.p-form-roundDark-cadetBlue .p-alt-back .p-form-bg {
  background-color: #f9fbfb;
}
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f9fbfb;
}
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f9fbfb;
}
.p-form-roundDark-cadetBlue .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-roundDark-cadetBlue .p-alt-back .p-table.table-striped > thead {
  background-color: #eff5f5;
}
.p-form-roundDark-cadetBlue .p-alt-back .panel-fp > .panel-heading {
  background-color: #eff5f5;
}
.p-form-roundDark-cadetBlue .p-alt-back .panel-fp > .panel-body {
  background-color: #f9fbfb;
}
.p-form-roundDark-cadetBlue .p-alt-back hr.p-flat {
  border-color: #eff5f5;
}
.p-form-roundDark-cadetBlue .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #3f4748;
}
.p-form-roundDark-cadetBlue .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-roundDark-cadetBlue .p-alt-back .p-picture-pick .p-check-block {
  background-color: #f9fbfb;
}
.p-form-roundDark-cadetBlue .btn.p-active-btn,
.p-form-roundDark-cadetBlue .btn:hover,
.p-form-roundDark-cadetBlue .btn:focus {
  -webkit-box-shadow: 0 3px 25px #5f9ea0;
  box-shadow: 0 3px 25px #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-hide-form {
  background: #0f191a;
}
.p-form-roundDark-cadetBlue .p-form-steps > li.active .p-step:after {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .p-form-steps > li.active:last-child .p-step:after {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-form-steps > li.active ~ li .p-step:before,
.p-form-roundDark-cadetBlue .p-form-steps > li.active ~ li .p-step:after {
  background-color: #172626;
}
.p-form-roundDark-cadetBlue .p-step:before,
.p-form-roundDark-cadetBlue .p-step:after {
  background-color: #5f9ea0;
}
.p-form-roundDark-cadetBlue .p-step .p-step-text:before {
  background-color: #85b5b7;
}
