/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-roundDark-steelBlue .panel-fp {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .panel-fp > .panel-heading {
  background-color: #11202c;
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .panel-fp > .panel-body {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .progress-bar-fp {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .btn {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .btn.p-active-btn,
.p-form-roundDark-steelBlue .btn:hover,
.p-form-roundDark-steelBlue .btn:focus {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .radio label a,
.p-form-roundDark-steelBlue .checkbox label a,
.p-form-roundDark-steelBlue .p-switch label a,
.p-form-roundDark-steelBlue .p-radioswitch label a {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-show-block-heading a {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-check-active-icon {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-check-block {
  border-color: #3c444a;
}
.p-form-roundDark-steelBlue .p-check-block:after {
  background-color: #4682b4;
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-switch-icon {
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .p-check-point:after {
  background-color: #4682b4;
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-switch-icon:after {
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-check-bordered {
  border-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-roundDark-steelBlue :checked ~ .p-check-icon .p-check-middle {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-roundDark-steelBlue :checked ~ .p-switch-icon {
  background-color: #8db3d3;
}
.p-form-roundDark-steelBlue .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-roundDark-steelBlue :checked ~ .p-switch-icon:after {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-roundDark-steelBlue :checked ~ .p-check-highlight {
  background-color: #152837;
}
.p-form-roundDark-steelBlue .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-roundDark-steelBlue :checked ~ .p-check-bordered {
  border-color: #8db3d3;
}
.p-form-roundDark-steelBlue label:hover .p-check-active-icon,
.p-form-roundDark-steelBlue .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-roundDark-steelBlue label:hover .p-check-icon .p-check-middle,
.p-form-roundDark-steelBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #70a0c7;
}
.p-form-roundDark-steelBlue label:hover .p-check-icon .p-check-block,
.p-form-roundDark-steelBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #70a0c7;
}
.p-form-roundDark-steelBlue label:hover .p-switch-icon,
.p-form-roundDark-steelBlue .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue label:hover .p-check-highlight,
.p-form-roundDark-steelBlue .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue label:hover .p-check-bordered,
.p-form-roundDark-steelBlue .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-roundDark-steelBlue .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(30,56,77,0.7);
}
.p-form-roundDark-steelBlue .p-picture-pick:hover .p-preview-name {
  background-color: rgba(59,109,151,0.7);
}
.p-form-roundDark-steelBlue .p-show-block:checked + .p-show-block-heading:hover,
.p-form-roundDark-steelBlue .p-show-block-heading:hover {
  color: #70a0c7;
}
.p-form-roundDark-steelBlue .p-show-block:checked + .p-show-block-heading {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-picture-pick .p-switch-icon,
.p-form-roundDark-steelBlue .p-picture-pick .p-check-block {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .p-radio-color .p-color-block {
  border-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-roundDark-steelBlue .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-form-bg,
.p-form-roundDark-steelBlue .p-form {
  background: #0b151d;
}
.p-form-roundDark-steelBlue .p-colored-text {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-alt-colored-text {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-colored-link {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-colored-link:hover {
  color: #356288;
}
.p-form-roundDark-steelBlue .p-action-link:hover {
  color: #4682b4;
}
.p-form-roundDark-steelBlue hr {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue hr.p-flat {
  border-color: #11202c;
}
.p-form-roundDark-steelBlue .p-table > thead > tr > td,
.p-form-roundDark-steelBlue .p-table > tbody > tr > td,
.p-form-roundDark-steelBlue .p-table > tfoot > tr > td,
.p-form-roundDark-steelBlue .p-table > thead > tr > th,
.p-form-roundDark-steelBlue .p-table > tbody > tr > th,
.p-form-roundDark-steelBlue .p-table > tfoot > tr > th {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .p-table.table-striped > thead {
  background-color: #11202c;
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .p-table.table-bordered {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .p-table.table-bordered > thead > tr > td,
.p-form-roundDark-steelBlue .p-table.table-bordered > tbody > tr > td,
.p-form-roundDark-steelBlue .p-table.table-bordered > tfoot > tr > td,
.p-form-roundDark-steelBlue .p-table.table-bordered > thead > tr > th,
.p-form-roundDark-steelBlue .p-table.table-bordered > tbody > tr > th,
.p-form-roundDark-steelBlue .p-table.table-bordered > tfoot > tr > th {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue label {
  color: rgba(181,205,225,1);
}
.p-form-roundDark-steelBlue select.form-control option {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .p-title .fa,
.p-form-roundDark-steelBlue .p-subtitle .fa {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-field-cb {
  background-color: #3c444a;
  border-color: #3c444a;
}
.p-form-roundDark-steelBlue .form-control {
  border-color: #3c444a;
  background-color: #3c444a;
}
.p-form-roundDark-steelBlue .form-control:focus,
.p-form-roundDark-steelBlue .form-control:hover,
.p-form-roundDark-steelBlue .input-group:hover .form-control,
.p-form-roundDark-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-roundDark-steelBlue .sp-input:focus,
.p-form-roundDark-steelBlue .sp-input:hover {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .form-control:focus ~ .input-group-icon,
.p-form-roundDark-steelBlue .form-control:hover ~ .input-group-icon,
.p-form-roundDark-steelBlue .input-group:hover .input-group-icon,
.p-form-roundDark-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-roundDark-steelBlue .sp-input:focus ~ .input-group-icon,
.p-form-roundDark-steelBlue .sp-input:hover ~ .input-group-icon,
.p-form-roundDark-steelBlue .form-control:focus ~ .p-select-arrow,
.p-form-roundDark-steelBlue .form-control:hover ~ .p-select-arrow,
.p-form-roundDark-steelBlue .input-group:hover .p-select-arrow,
.p-form-roundDark-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-roundDark-steelBlue .sp-input:focus ~ .p-select-arrow,
.p-form-roundDark-steelBlue .sp-input:hover ~ .p-select-arrow,
.p-form-roundDark-steelBlue .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-steelBlue .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-steelBlue .input-group:hover .input-group-addon .p-addon-bg,
.p-form-roundDark-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-roundDark-steelBlue .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-roundDark-steelBlue .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .form-control:focus ~ .p-field-cb,
.p-form-roundDark-steelBlue .form-control:hover ~ .p-field-cb,
.p-form-roundDark-steelBlue .input-group:hover .p-field-cb,
.p-form-roundDark-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-roundDark-steelBlue .sp-input:focus ~ .p-field-cb,
.p-form-roundDark-steelBlue .sp-input:hover ~ .p-field-cb {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .form-control::-webkit-input-placeholder {
  color: #dae6f0;
}
.p-form-roundDark-steelBlue .form-control::-moz-placeholder {
  color: #dae6f0;
}
.p-form-roundDark-steelBlue .form-control:-moz-placeholder {
  color: #dae6f0;
}
.p-form-roundDark-steelBlue .form-control:-ms-input-placeholder {
  color: #dae6f0;
}
.p-form-roundDark-steelBlue .p-custom-arrow .p-select-arrow {
  background-color: #3c444a;
}
.p-form-roundDark-steelBlue .input-group-btn .btn:hover,
.p-form-roundDark-steelBlue .input-group-btn .btn:focus,
.p-form-roundDark-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #4682b4;
  -webkit-box-shadow: 0 3px 25px #4682b4;
  box-shadow: 0 3px 25px #4682b4;
}
.p-form-roundDark-steelBlue .p-file-wrap ~ .input-group [type="text"] {
  background-color: #3c444a;
}
.p-form-roundDark-steelBlue .p-no-preview {
  background-color: #1e384d;
  border-color: #25455f;
}
.p-form-roundDark-steelBlue .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .ui-autocomplete {
  background-color: #0b151d;
  border-color: #3c444a;
}
.p-form-roundDark-steelBlue .ui-autocomplete .ui-state-focus,
.p-form-roundDark-steelBlue .ui-autocomplete .ui-state-active {
  color: #4682b4;
  background-color: rgba(70,130,180,0.1);
}
.p-form-roundDark-steelBlue .sp-container {
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .sp-initial,
.p-form-roundDark-steelBlue .sp-clear,
.p-form-roundDark-steelBlue .sp-palette .sp-thumb-el {
  border-color: #2e5575;
  color: #2e5575;
}
.p-form-roundDark-steelBlue .sp-clear:hover,
.p-form-roundDark-steelBlue .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-steelBlue .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #0c151d;
  color: #0c151d;
}
.p-form-roundDark-steelBlue .sp-clear:hover:after,
.p-form-roundDark-steelBlue .sp-palette .sp-thumb-el:hover:after,
.p-form-roundDark-steelBlue .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f0f5f9;
}
.p-form-roundDark-steelBlue .sp-input {
  border-color: #3c444a;
  background-color: #3c444a;
}
.p-form-roundDark-steelBlue .sp-choose,
.p-form-roundDark-steelBlue .sp-cancel,
.p-form-roundDark-steelBlue .sp-palette-toggle {
  color: #f0f5f9;
}
.p-form-roundDark-steelBlue .sp-choose:hover,
.p-form-roundDark-steelBlue .sp-cancel:hover,
.p-form-roundDark-steelBlue .sp-palette-toggle:hover,
.p-form-roundDark-steelBlue .sp-choose:focus,
.p-form-roundDark-steelBlue .sp-cancel:focus,
.p-form-roundDark-steelBlue .sp-palette-toggle:focus,
.p-form-roundDark-steelBlue .sp-choose:active,
.p-form-roundDark-steelBlue .sp-cancel:active,
.p-form-roundDark-steelBlue .sp-palette-toggle:active {
  color: #95b8d5;
}
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #1d3549;
  color: #1d3549;
}
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #2e5576;
  color: #2e5576;
}
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-roundDark-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget {
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #86aed0;
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table thead th {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td div:hover,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #2e5575;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td .btn {
  color: #9cbdd8;
  background-color: transparent;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #11202c;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .old,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .new {
  color: #c8daea;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table td .active,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .active div {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(156,189,216,0);
  border-bottom-color: #9cbdd8;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #2e5575;
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #2e5575;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #224058;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #1d3549;
}
.p-form-roundDark-steelBlue .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #11202c;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #9cbdd8;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #9cbdd8;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #9cbdd8;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(112,160,199,0);
  border-bottom-color: #70a0c7;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #1d3549;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #1d3549;
}
.p-form-roundDark-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #11202c;
}
.p-form-roundDark-steelBlue .p-js-link:hover,
.p-form-roundDark-steelBlue .p-show-js-block .p-js-link:hover,
.p-form-roundDark-steelBlue .p-field-toggled .p-js-link:hover,
.p-form-roundDark-steelBlue .p-js-link:focus,
.p-form-roundDark-steelBlue .p-show-js-block .p-js-link:focus,
.p-form-roundDark-steelBlue .p-field-toggled .p-js-link:focus {
  color: #6196c2;
}
.p-form-roundDark-steelBlue .p-js-active-link,
.p-form-roundDark-steelBlue .p-show-js-block .p-js-link,
.p-form-roundDark-steelBlue .p-field-toggled .p-js-link {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .input-group .realperson-challenge .realperson-regen {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .input-group .realperson-challenge .realperson-regen:hover {
  color: #356288;
}
.p-form-roundDark-steelBlue .input-group .realperson-challenge .realperson-text:hover {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-slider-block .p-js-value,
.p-form-roundDark-steelBlue .p-sl-tip {
  background-color: #0b151d;
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-sl-tip:before {
  border-color: rgba(70,130,180,0);
}
.p-form-roundDark-steelBlue .ui-slider:before {
  border-color: #1d3549;
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .ui-slider-range {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .ui-slider-handle:after {
  background-color: #0b151d;
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .ui-slider-handle .p-sl-icon {
  background-color: #4682b4;
  color: #0b151d;
}
.p-form-roundDark-steelBlue .ui-slider-handle.ui-state-focus:after,
.p-form-roundDark-steelBlue .ui-slider-handle.ui-state-active:after,
.p-form-roundDark-steelBlue .ui-slider-handle.ui-state-hover:after {
  border-color: #3b6d97;
}
.p-form-roundDark-steelBlue .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-roundDark-steelBlue .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-roundDark-steelBlue .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #3b6d97;
}
.p-form-roundDark-steelBlue .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #4682b4;
}
.p-form-roundDark-steelBlue .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #4682b4;
}
.p-form-roundDark-steelBlue .sl-v-simple .ui-slider:before {
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .sl-v-modern .ui-slider:before,
.p-form-roundDark-steelBlue .sl-v-bordered .ui-slider:before {
  border-color: #4682b4;
}
.p-form-roundDark-steelBlue .sl-v-top .ui-slider:before {
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .sl-v-flat .ui-slider:before {
  background-color: #1d3549;
}
.p-form-roundDark-steelBlue .pt-form-panel,
.p-form-roundDark-steelBlue .pt-form-cross-panel {
  border-color: #1d3549;
}
.p-form-roundDark-steelBlue .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .p-rating .p-rating-active-icon {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-roundDark-steelBlue .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-roundDark-steelBlue .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-roundDark-steelBlue .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-roundDark-steelBlue .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-roundDark-steelBlue .input-group-state {
  color: #dae6f0;
}
.p-form-roundDark-steelBlue .form-control[readonly],
.p-form-roundDark-steelBlue .form-control[disabled] {
  background-color: #101d28;
}
.p-form-roundDark-steelBlue .p-field-readonly .p-switch-icon,
.p-form-roundDark-steelBlue .p-field-disabled .p-switch-icon,
.p-form-roundDark-steelBlue .p-field-readonly .p-check-icon .p-check-block,
.p-form-roundDark-steelBlue .p-field-disabled .p-check-icon .p-check-block,
.p-form-roundDark-steelBlue .p-field-readonly .p-field-cb,
.p-form-roundDark-steelBlue .p-field-disabled .p-field-cb {
  background-color: #101d28;
  border-color: #101d28;
}
.p-form-roundDark-steelBlue .p-field-readonly .p-no-preview,
.p-form-roundDark-steelBlue .p-field-disabled .p-no-preview {
  background-color: #31373c;
  border-color: #101d28;
}
.p-form-roundDark-steelBlue .p-field-readonly .p-rating .p-rating-icon,
.p-form-roundDark-steelBlue .p-field-disabled .p-rating .p-rating-icon {
  color: #31373c;
}
.p-form-roundDark-steelBlue .nav-tabs {
  border-color: #1a3042;
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .nav-tabs > li > label:hover,
.p-form-roundDark-steelBlue .nav-tabs > li > label:focus {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-steelBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0b151d;
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-title-line,
.p-form-roundDark-steelBlue .p-title-step-line,
.p-form-roundDark-steelBlue .p-title-side {
  background-color: #1e384d;
}
.p-form-roundDark-steelBlue .p-tooltip .p-tooltip-content {
  background-color: #356288;
}
.p-form-roundDark-steelBlue .p-tooltip .p-tooltip-content:after {
  border-color: rgba(53,98,136,0);
  border-top-color: #356288;
}
.p-form-roundDark-steelBlue .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-roundDark-steelBlue .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-roundDark-steelBlue .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(53,98,136,0);
  border-bottom-color: #356288;
}
.p-form-roundDark-steelBlue .p-bordered {
  border-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-steelBlue .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-roundDark-steelBlue .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0b151d;
}
.p-form-roundDark-steelBlue .p-tabs-offset > .nav-tabs > li > label {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-roundDark-steelBlue .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-steelBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0b151d;
  color: #4682b4;
}
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-roundDark-steelBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #1a3042;
}
.p-form-roundDark-steelBlue .p-alt-back,
.p-form-roundDark-steelBlue .p-alt-back .p-form-bg {
  background-color: #f8fafc;
}
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f8fafc;
}
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-roundDark-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f8fafc;
}
.p-form-roundDark-steelBlue .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-roundDark-steelBlue .p-alt-back .p-table.table-striped > thead {
  background-color: #edf3f8;
}
.p-form-roundDark-steelBlue .p-alt-back .panel-fp > .panel-heading {
  background-color: #edf3f8;
}
.p-form-roundDark-steelBlue .p-alt-back .panel-fp > .panel-body {
  background-color: #f8fafc;
}
.p-form-roundDark-steelBlue .p-alt-back hr.p-flat {
  border-color: #edf3f8;
}
.p-form-roundDark-steelBlue .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #3c444a;
}
.p-form-roundDark-steelBlue .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-roundDark-steelBlue .p-alt-back .p-picture-pick .p-check-block {
  background-color: #f8fafc;
}
.p-form-roundDark-steelBlue .btn.p-active-btn,
.p-form-roundDark-steelBlue .btn:hover,
.p-form-roundDark-steelBlue .btn:focus {
  -webkit-box-shadow: 0 3px 25px #4682b4;
  box-shadow: 0 3px 25px #4682b4;
}
.p-form-roundDark-steelBlue .p-hide-form {
  background: #0b151d;
}
.p-form-roundDark-steelBlue .p-form-steps > li.active .p-step:after {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .p-form-steps > li.active:last-child .p-step:after {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-form-steps > li.active ~ li .p-step:before,
.p-form-roundDark-steelBlue .p-form-steps > li.active ~ li .p-step:after {
  background-color: #11202c;
}
.p-form-roundDark-steelBlue .p-step:before,
.p-form-roundDark-steelBlue .p-step:after {
  background-color: #4682b4;
}
.p-form-roundDark-steelBlue .p-step .p-step-text:before {
  background-color: #70a0c7;
}
